.canvas-hud {
  position: absolute;
  color: #fff;
  background: #000;
  padding: 4px 8px;
  border-radius: 3px;
  bottom: 16px;
  left: 16px;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px,
  rgba(15, 15, 15, 0.2) 0px 9px 24px;
}