.Marker {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 100%;
  transition: background-color 300ms ease-in-out;
  transform: translate(-14px, -14px);
  background-color: var(--primary-accent);
}
.Marker:hover,
.Marker[data-active] {
  background-color: var(--secondary-accent);
}

.Icon {
  width: 1rem;
  height: 1rem;
  pointer-events: none;
  border-radius: 100%;
  color: white;
}
