.HorizontalContainer,
.VerticalContainer {
  font-size: var(--font-size-regular);
}

.VerticalContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.5rem 0;
  gap: 0.5rem;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.HorizontalContainer {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  gap: 0.5rem;
  overflow: auto;
}

.CommentsContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.SourcesContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.ConsoleContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: auto;
}

.Row {
  flex: 0 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ToolBar {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.Tab,
.TabSelected {
  outline: none;
  background: transparent;
  border: none;
  padding: 0;
  height: 2rem;
  width: 2rem;
  flex: 0 0 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Tab {
  color: var(--color-default);
}
.TabSelected {
  color: var(--primary-accent);
  position: relative;
}
.Tab:disabled {
  color: var(--color-dim);
}

.TabSelected::before {
  position: absolute;
  left: 0;
  content: " ";
  border-right: 0.25rem solid var(--primary-accent);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  height: 2rem;
}

.TabIcon {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
}

.Panel {
  display: flex;
  flex-direction: row;
}

.PanelGroup {
  flex: 1 1 auto;
  overflow: hidden;
}

.PanelResizeHandle {
  width: 0.5rem;
  padding: 0.125rem;
}
.PanelResizeHandle:focus {
  outline: none;
}

.PanelResizeHandleInner {
  width: 100%;
  height: 100%;
  border-radius: 0.25rem;
  transition: 250ms linear background-color;
}

.PanelResizeHandle[aria-valuenow="0"] .PanelResizeHandleInner,
.PanelResizeHandle[data-resize-handle-active] .PanelResizeHandleInner {
  background-color: var(--background-color-resize-handle);
}
