/* Dark */

:root:global(.theme-dark) .libraryHeader {
  background-color: var(--chrome);
  border-bottom: 1px solid var(--theme-base-90);
}

:root:global(.theme-dark) .libraryWrapper {
  background-color: var(--chrome);
}

:root:global(.theme-dark) .libraryRow {
  background-color: var(--theme-body-bgcolor);
}

:root:global(.theme-dark) .libraryRow:hover {
  background-color: var(--theme-base-90);
}

:root:global(.theme-dark) .teamRow:hover,
:root:global(.theme-dark) .teamRowActive {
  background-color: var(--theme-base-90);
  color: #fff;
}

:root:global(.theme-dark) .replayTitle {
  color: #fff;
}

:root:global(.theme-dark) .recordingList {
  background-color: var(--theme-base-100);
}

:root:global(.theme-dark) .dropdownDivider {
  border-bottom: 1px solid var(--theme-base-80);
}

:root:global(.theme-dark) .editButton {
  background-color: var(--theme-base-80);
  color: #fff;
  border: none;
}

:root:global(.theme-dark) .editButton:hover {
  background-color: var(--primary-accent-hover);
  color: #fff;
  border: none;
}

:root:global(.theme-dark) .recordingsBackground {
  background-color: transparent;
  color: var(--theme-body-color);
}

:root:global(.theme-dark) .sidebar {
  background-color: var(--theme-body-bgcolor);
  color: var(--theme-body-color);
}

:root:global(.theme-dark) .workspaceName {
  color: #fff;
}

/* Light */

:root:global(.theme-light) .libraryHeader {
  background-color: var(--theme-base-100);
  border-bottom: 1px solid var(--theme-base-85);
}

:root:global(.theme-light) .libraryWrapper {
  background-color: var(--theme-base-95);
}

:root:global(.theme-light) .libraryRow {
  background-color: var(--theme-base-100);
}

:root:global(.theme-light) .libraryRow:hover {
  background-color: var(--grey-10);
}

:root:global(.theme-light) .teamRow:hover,
:root:global(.theme-light) .teamRowActive {
  background-color: red;
  color: #fff;
}

:root:global(.theme-light) .recordingList {
  background-color: var(--theme-base-100);
}

:root:global(.theme-light) .dropdownDivider {
  border-bottom: 1px solid var(--theme-base-90);
}

:root:global(.theme-light) .editButton {
  background-color: #fff;
}

:root:global(.theme-light) .editButton:hover {
  background-color: var(--primary-accent-hover);
  color: #fff;
}

:root:global(.theme-light) .recordingsBackground {
  background-color: transparent;
  color: var(--theme-body-color);
}

:root:global(.theme-light) .sidebar {
  background-color: #252525;
  color: hsl(0, 0%, 90%);
}

:root:global(.theme-light) .workspaceName {
  color: var(--theme-body-color);
}
