/* Dark */

:root:global(.theme-dark) .libraryHeader {
  background-color: #000;
  border-bottom: 1px solid var(--theme-base-95);
}

:root:global(.theme-dark) .libraryWrapper {
  background-color: var(--chrome);
}

:root:global(.theme-dark) .libraryRow {
  color: var(--body-color);
  background-color: var(--body-bgcolor);
}

:root:global(.theme-dark) .libraryRow:hover,
:root:global(.theme-dark) .replayRow:hover {
  background-color: #1c2534;
}

:root:global(.theme-dark) .libraryRowSelected {
  background-color: var(--primary-accent-dimmed);
}

:root:global(.theme-dark) .libraryRowSelected:hover {
  background-color: var(--primary-accent-dimmed);
}

:root:global(.theme-dark) .testsuitesV2LibraryRowSelected {
  background-color: rgba(0, 0, 0, 1);
}

:root:global(.theme-dark) .testsuitesV2LibraryRowSelected:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

:root:global(.theme-dark) .teamRow:hover,
:root:global(.theme-dark) .teamRowActive {
  background-color: var(--team-row-active);
  color: #fff;
}

:root:global(.theme-dark) .dropdownDivider {
  border-bottom: 1px solid var(--chrome);
}

:root:global(.theme-dark) .editButton {
  background-color: var(--theme-base-80);
  color: #fff;
  border: none;
}

:root:global(.theme-dark) .editButton:hover {
  background-color: var(--primary-accent-hover);
  color: #fff;
  border: none;
}

:root:global(.theme-dark) .recordingsBackground {
  background-color: transparent;
  color: var(--body-color);
}

:root:global(.theme-dark) .navigation {
  background-color: var(--body-bgcolor);
  color: var(--body-color);
}

:root:global(.theme-dark) .workspaceName {
  color: #fff;
}

:root:global(.theme-dark) .runOverview,
:root:global(.theme-dark) .testReplayDetails {
  color: var(--body-color);
  background-color: var(--body-bgcolor);
}

/* Light */

:root:global(.theme-light) .libraryHeader {
  background-color: var(--theme-base-100);
  border-bottom: 1px solid var(--theme-base-85);
}

:root:global(.theme-light) .libraryWrapper {
  background-color: var(--theme-base-95);
}

:root:global(.theme-light) .libraryRow {
  background-color: var(--theme-base-100);
  color: var(--body-color);
}

:root:global(.theme-light) .libraryRow:hover,
:root:global(.theme-light) .replayRow:hover {
  background-color: var(--grey-10);
}

:root:global(.theme-light) .libraryRowSelected {
  background-color: rgb(233 246 255);
}

:root:global(.theme-light) .libraryRowSelected:hover {
  background-color: rgb(229, 244, 255);
}

:root:global(.theme-light) .testsuitesV2LibraryRowSelected {
  background-color: rgba(0, 0, 0, 0.2);
}

:root:global(.theme-light) .testsuitesV2LibraryRowSelected:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

:root:global(.theme-light) .teamRow:hover,
:root:global(.theme-light) .teamRowActive {
  background-color: var(--team-row-active);
  color: #fff;
}

:root:global(.theme-light) .dropdownDivider {
  border-bottom: 1px solid var(--theme-base-90);
}

:root:global(.theme-light) .editButton {
  background-color: #fff;
}

:root:global(.theme-light) .editButton:hover {
  background-color: var(--primary-accent-hover);
  color: #fff;
}

:root:global(.theme-light) .recordingsBackground {
  background-color: transparent;
  color: var(--body-color);
}

:root:global(.theme-light) .navigation {
  background-color: #252525;
  color: hsl(0, 0%, 90%);
}

:root:global(.theme-light) .workspaceName {
  color: var(--body-color);
}

:root:global(.theme-light) .runOverview,
:root:global(.theme-light) .testReplayDetails {
  background-color: var(--theme-base-100);
  color: var(--body-color);
}

.recordingLink {
  display: flex;
  width: 100%;
  flex-grow: 1;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  overflow: hidden;
  transition: all 0.15s ease-in-out;
}

.linkContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.icon {
  margin-left: 2rem;
  height: 1rem;
  width: 1rem;
}

.iconWrapper {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: all 0.15s ease-in-out;
}

.iconMotion {
  margin: auto;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
}

.fileInfo {
  display: flex;
  flex-shrink: 1;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
}

.title {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filePath {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--color-dimmer);
  font-size: 0.75rem;
}

.comments {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: row;
  gap: 1rem;
  color: var(--body-color);
}

.commentIcon {
  width: 1rem;
}

.libraryRow {
}

.testsuitesV2LibraryRowSelected {
}

.testsuitesSuccess {
  background-color: var(--testsuites-success-color);
}

.failed {
  color: var(--testsuites-failed-color);
}

.flaky {
  color: var(--testsuites-flaky-color);
}

.passed {
  color: var(--testsuites-success-color);
}

.flakyPill {
  color: var(--theme-base-100);
  background-color: var(--testsuites-flaky-color);
}

.failedPill {
  color: var(--theme-base-100);
  background-color: var(--testsuites-failed-color);
}

.successPill {
  color: var(--theme-base-100);
  background-color: var(--testsuites-success-color);
  border-radius: 50%;
}

.flakyPillV2 {
  color: #000;
  background-color: var(--testsuites-v2-flaky-pill);
}

.failedPillV2 {
  color: #000;
  background-color: var(--testsuites-v2-failed-pill);
}

.successPillV2 {
  color: #000;
  background-color: var(--testsuites-v2-success-pill);
}

.testsuitesV2Success {
  background-color: var(--testsuites-v2-success-icon);
}

.testsuitesV2Failed {
  background-color: var(--testsuites-v2-failed-icon);
}

.testsuitesV2Flaky {
  background-color: var(--testsuites-v2-flaky-icon);
}

.FilterTestsFilter {
  border: 1px solid var(--input-border);
  background-color: var(--body-bgcolor);
}

.dropdownTrigger {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--input-border);
  background-color: var(--theme-text-field-bgcolor);
  padding: 0.375rem 0.625rem;
  font-size: 0.75rem;
  color: var(--theme-text-field-color);
  outline: none;
  --ring-width: 3px;
  --ring-color: var(--primary-accent);
  white-space: nowrap;
}

.dropdownTrigger:focus {
  box-shadow: 0 0 0 var(--ring-width) var(--ring-color);
}

.testTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  border-bottom: 1px solid var(--theme-border);
  padding: 0.93rem 1rem;
}

.testTitle > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.125rem;
  font-weight: 500;
}

.replayRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border-bottom: 1px solid var(--chrome);
  padding: 0.625rem 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

.replayListTitle {
  padding: 0.5rem 1rem 0.08rem;
  font-size: 1.125rem;
}

.labelText {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}
