/* Dark */

:root:global(.theme-dark) .libraryHeader {
  background-color: #000;
  border-bottom: 1px solid var(--theme-base-95);
}

:root:global(.theme-dark) .libraryWrapper {
  background-color: var(--chrome);
}

:root:global(.theme-dark) .libraryRow {
  color: var(--body-color);
  background-color: var(--body-bgcolor);
}

:root:global(.theme-dark) .libraryRow:hover,
:root:global(.theme-dark) .replayRow:hover {
  background-color: #1c2534;
}

:root:global(.theme-dark) .libraryRowSelected {
  background-color: var(--primary-accent-dimmed);
}

:root:global(.theme-dark) .libraryRowSelected:hover {
  background-color: var(--primary-accent-dimmed);
}

:root:global(.theme-dark) .teamRow:hover,
:root:global(.theme-dark) .teamRowActive {
  background-color: var(--team-row-active);
  color: #fff;
}

:root:global(.theme-dark) .dropdownDivider {
  border-bottom: 1px solid var(--chrome);
}

:root:global(.theme-dark) .recordingsBackground {
  background-color: transparent;
  color: var(--body-color);
}

:root:global(.theme-dark) .navigation {
  background-color: var(--body-bgcolor);
  color: var(--body-color);
}

:root:global(.theme-dark) .workspaceName {
  color: #fff;
}

/* Light */

:root:global(.theme-light) .libraryHeader {
  background-color: var(--theme-base-100);
  border-bottom: 1px solid var(--theme-base-85);
}

:root:global(.theme-light) .libraryWrapper {
  background-color: var(--theme-base-95);
}

:root:global(.theme-light) .libraryRow {
  background-color: var(--theme-base-100);
  color: var(--body-color);
}

:root:global(.theme-light) .libraryRow:hover,
:root:global(.theme-light) .replayRow:hover {
  background-color: var(--grey-10);
}

:root:global(.theme-light) .libraryRowSelected {
  background-color: rgb(233 246 255);
}

:root:global(.theme-light) .libraryRowSelected:hover {
  background-color: rgb(229, 244, 255);
}

:root:global(.theme-light) .teamRow:hover,
:root:global(.theme-light) .teamRowActive {
  background-color: var(--team-row-active);
  color: #fff;
}

:root:global(.theme-light) .dropdownDivider {
  border-bottom: 1px solid var(--theme-base-90);
}

:root:global(.theme-light) .recordingsBackground {
  background-color: transparent;
  color: var(--body-color);
}

:root:global(.theme-light) .navigation {
  background-color: #252525;
  color: hsl(0, 0%, 90%);
}

:root:global(.theme-light) .workspaceName {
  color: var(--body-color);
}

.dropdownTrigger {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--input-border);
  background-color: var(--theme-text-field-bgcolor);
  padding: 0.375rem 0.625rem;
  font-size: 0.75rem;
  color: var(--theme-text-field-color);
  outline: none;
  --ring-width: 3px;
  --ring-color: var(--primary-accent);
  white-space: nowrap;
}

.dropdownTrigger:focus {
  box-shadow: 0 0 0 var(--ring-width) var(--ring-color);
}
