/* Dark */

:root:global(.theme-dark) .libraryHeader {
  background-color: #000;
  border-bottom: 1px solid var(--theme-base-95);
}

:root:global(.theme-dark) .libraryWrapper {
  background-color: var(--chrome);
}

:root:global(.theme-dark) .libraryRow {
  color: var(--body-color);
  background-color: var(--body-bgcolor);
}

:root:global(.theme-dark) .libraryRow.disabled > * {
  opacity: 0.4;
}

:root:global(.theme-dark) .libraryRow.disabled > .menu {
  opacity: 1;
}

:root:global(.theme-dark) .libraryRow:not(.disabled):hover {
  background-color: #1c2534;
}

:root:global(.theme-dark) .libraryRowSelected {
  background-color: #14243e;
}

:root:global(.theme-dark) .libraryRowSelected:hover {
  background-color: #162641;
}

:root:global(.theme-dark) .teamRow:hover,
:root:global(.theme-dark) .teamRowActive {
  background-color: var(--theme-base-90);
  color: #fff;
}

:root:global(.theme-dark) .dropdownDivider {
  border-bottom: 1px solid var(--chrome);
}

:root:global(.theme-dark) .editButton {
  background-color: var(--theme-base-80);
  color: #fff;
  border: none;
}

:root:global(.theme-dark) .editButton:hover {
  background-color: var(--primary-accent-hover);
  color: #fff;
  border: none;
}

:root:global(.theme-dark) .recordingsBackground {
  background-color: transparent;
  color: var(--body-color);
}

:root:global(.theme-dark) .navigation {
  background-color: var(--body-bgcolor);
  color: var(--body-color);
}

:root:global(.theme-dark) .workspaceName {
  color: #fff;
}

:root:global(.theme-dark) .runOverview {
  color: var(--body-color);
  background-color: var(--body-bgcolor);
}

/* Light */

:root:global(.theme-light) .libraryHeader {
  background-color: var(--theme-base-100);
  border-bottom: 1px solid var(--theme-base-85);
}

:root:global(.theme-light) .libraryWrapper {
  background-color: var(--theme-base-95);
}

:root:global(.theme-light) .libraryRow {
  background-color: var(--theme-base-100);
  color: var(--body-color);
}

:root:global(.theme-light) .libraryRow.disabled > *  {
  opacity: 0.4;
}

:root:global(.theme-light) .libraryRow.disabled > .menu {
  opacity: 1;
}

:root:global(.theme-light) .libraryRow:not(.disabled):hover {
  background-color: var(--grey-10);
}

:root:global(.theme-light) .libraryRowSelected {
  background-color: rgb(233 246 255);
}

:root:global(.theme-light) .libraryRowSelected:hover {
  background-color: rgb(229, 244, 255);
}

:root:global(.theme-light) .teamRow:hover,
:root:global(.theme-light) .teamRowActive {
  background-color: #303030;
  color: #fff;
}

:root:global(.theme-light) .dropdownDivider {
  border-bottom: 1px solid var(--theme-base-90);
}

:root:global(.theme-light) .editButton {
  background-color: #fff;
}

:root:global(.theme-light) .editButton:hover {
  background-color: var(--primary-accent-hover);
  color: #fff;
}

:root:global(.theme-light) .recordingsBackground {
  background-color: transparent;
  color: var(--body-color);
}

:root:global(.theme-light) .navigation {
  background-color: #252525;
  color: hsl(0, 0%, 90%);
}

:root:global(.theme-light) .workspaceName {
  color: var(--body-color);
}

:root:global(.theme-light) .runOverview {
  background-color: var(--theme-base-100);
  color: var(--body-color);
}
