.List {
  border-radius: 0.25em;
  background-color: var(--background-color-default);
  color: var(--color-default);
  border: 1px solid var(--border-color);

  font-family: var(--font-family-monospace);
  font-size: var(--font-size-regular);

  /* Override react-window inline style */
  overflow-x: hidden !important;
}
