.Row,
.RowSelected {
  display: flex;
  align-items: center;
  padding: 0 0.5em;
  cursor: default;
}

.RowSelected {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
}
