.Input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;

  overflow-y: hidden;
  overflow-x: auto;

  font-size: var(--font-size-regular);
  font-family: var(--font-family-monospace);
  color: var(--color-default);
}
.Input::-webkit-scrollbar {
  height: 0.5em;
}
