.initialization-panel {
  background: var(--cool-gray-100);
  height: 100%;
  width: 100%;
}

.initialization-panel main {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
}

.initialization-panel {
  background: var(--theme-body-background);
  margin: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.initialization-panel > :not(:first-child) {
  margin-top: 32px;
}

.initialization-panel h1 {
  font-size: 30px;
  font-weight: 800;
}

.initialization-panel h4 {
  font-size: 14px;
  font-weight: 600;
}

.initialization-panel .header {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.initialization-panel .header > :not(:first-child) {
  margin-top: 24px;
}

.initialization-panel form.hidden {
  visibility: hidden;
}

.initialization-panel form > :not(:first-child) {
  margin-top: 16px;
}

.initialization-panel .replay-title {
  display: flex;
  flex-direction: column;
}

.initialization-panel .replay-title > :not(:first-child) {
  margin-top: 8px;
}

.initialization-panel .replay-title label {
  user-select: none;
}

.initialization-panel .replay-title input {
  font-size: 14px;
  padding: 8px;
  border: 1px solid var(--cool-gray-300);
  border-radius: 4px;
}

.initialization-panel .replay-workspace {
  display: flex;
  flex-direction: column;
}

.initialization-panel .replay-workspace > :not(:first-child) {
  margin-top: 8px;
}

.initialization-panel .replay-workspace select {
  border: 1px solid var(--cool-gray-300);
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 8px 8px 4px;
}

.initialization-panel form .actions {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

.initialization-panel .actions > * {
  padding: 8px 12px;
}

.initialization-panel .actions .submit {
  color: var(--theme-body-background);
  background: var(--new-blue-500);
  border: none;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
}

.initialization-panel .actions .submit:hover {
  background: var(--new-blue-600);
}

.initialization-panel .actions .cancel {
  text-decoration: underline;
  background: transparent;
  color: var(--theme-comment);
  cursor: pointer;
}

.initialization-panel .actions .cancel:hover {
  background: transparent;
  color: var(--theme-toolbar-color);
}
