.HeaderRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--theme-toolbar-background);
  padding: 0 1ch;
  border-bottom: 1px solid var(--theme-splitter-color);
}

/* These styles should stay in sync with NetworkMonitorListRow */
.Column {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 100px;
}
.Column[data-name="domain"] {
  flex: 1 1 100px;
}
.Column[data-name="method"] {
  flex: 0 0 60px;
}
.Column[data-name="name"] {
  flex: 1 1 200px;
}
.Column[data-name="status"] {
  flex: 0 0 60px;
}
.Column[data-name="time"] {
  flex: 0 0 35px;
}
.Column[data-name="type"] {
  flex: 1 1 100px;
}
.Column[data-name="url"] {
  flex: 1 1 200px;
}
