.HeaderRow,
.FooterRow,
.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--body-bgcolor);
  border-bottom: 1px solid var(--listitem-row-divider);
  padding: 0 1ch;
}
.Row {
  cursor: pointer;
  --status-background-color: var(--testsuites-success-color);
  --status-color: var(--body-color);
}
.Row[data-status-category="redirect"] {
  --status-background-color: var(--testsuites-flaky-color);
}
.Row[data-status-category="error"] {
  --status-background-color: var(--testsuites-failed-color);
  --status-color: var(--testsuites-error-color);
}
.Row:hover {
  background-color: var(--theme-table-selection-background-hover);
  outline: none;
}
.Row[data-current-time="first-after"] {
  border-top: 2px solid var(--secondary-accent);
  color: var(--theme-base-80);
}
.Row[data-current-time="after"] {
  color: var(--theme-base-80);
}
.Row[data-selected],
.Row[data-selected]:hover {
  background: var(--primary-accent-dimmed);
  color: var(--primary-accent-dimmed-foreground-text);

  --status-color: var(--primary-accent-dimmed-foreground-text);
}

/* These styles should stay in sync with NetworkMonitorListHeader */
.Column {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1 1 100px;
}
.Column[data-name="domain"] {
  flex: 1 1 100px;
}
.Column[data-name="method"] {
  flex: 0 0 60px;
}
.Column[data-name="name"] {
  flex: 1 1 200px;
}
.Column[data-name="status"] {
  flex: 0 0 60px;
  color: var(--status-color);
}
.Column[data-name="time"] {
  flex: 0 0 35px;
}
.Column[data-name="type"] {
  flex: 1 1 100px;
}
.Column[data-name="url"] {
  flex: 1 1 200px;
}

.SeekButton {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  padding: 0.25rem;
  padding-right: 1ch;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  flex-direction: row;
  align-items: center;
  gap: 1ch;

  background: var(--background-color-primary-button);
  color: #fff;
  font-weight: bold;
}

.Row:hover .SeekButton {
  display: flex;
}
.SeekButton:focus,
.SeekButton:hover {
  outline: none;
}


.ServerSeekButton {
  display: none;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  padding: 0.25rem;
  padding-right: 1ch;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  flex-direction: row;
  align-items: center;
  gap: 1ch;

  background: red !important;
  color: #fff;
  font-weight: bold;
}

.Row:hover .ServerSeekButton {
  display: flex;
}
.Server:focus,
.Server:hover {
  outline: none;
}

.SeekButtonIcon {
  flex: 0 0 auto;
  color: currentColor;
  width: 1rem;
  height: 1rem;
}
.SeekButtonText {
  display: none;
}
.SeekButton:hover .SeekButtonText {
  display: block;
}

.NoResponseMarker {
  color: var(--color-dimmer);
}

.TimingContainer {
  position: relative;
  height: 0.8rem;
  border-radius: 3px;
  background-color: var(--timing-container);
  margin-right: 1ch;
  overflow: hidden;
}

.TimingContainer[data-incomplete] {
  opacity: 0.65;
}

.Timing {
  position: absolute;
  background-color: var(--status-background-color);
  height: 100%;
  min-width: 1px;
}

.Row[data-selected] .TimingContainer,
.Row[data-selected]:hover .TimingContainer {
  background-color: var(--timing-container-selected-row);
}
