table.requests {
  border-collapse: collapse;
}

.row {
  border-bottom: 2px solid var(--theme-toolbar-background);
}

.row.last {
  border-bottom: 2px solid var(--secondary-accent);
}

.resizer {
  display: inline-block;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-50%);
  width: 8px;
}

.resizer:hover,
.resizer:active {
  background: var(--primary-accent);
}
