table.requests {
  border-collapse: collapse;
}

.row {
  position: relative;
  border: 2px solid transparent;
}

.row:hover {
  background-color: var(--theme-toolbar-background);
}

.row:not(:first-child) {
  border-top: 2px solid var(--theme-toolbar-background);
}

.row.selected {
  background: var(--primary-accent);
  border-color: var(--primary-accent);
  color: white;
}

.row.current {
  border-top: 2px solid var(--secondary-accent);
}

.resizer {
  cursor: ew-resize;
  height: 100%;
  position: absolute;
  top: 0;
  right: -4px;
  width: 8px;
  z-index: 50;
}

.seekBadge {
  align-items: center;
  background: linear-gradient(0deg, var(--primary-accent) 0, var(--primary-accent) 100%);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: none;
  font-weight: 700;
  height: 100%;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  z-index: 1;
}

.row:hover .seekBadge {
  display: flex;
}

.seekBadge .fastForward {
  transform: scaleX(-1);
  mask-image: url(~devtools/client/debugger/images/rewind-button.svg);
  -webkit-mask-image: url(~devtools/client/debugger/images/rewind-button.svg);
  background: white;
}

.seekBadge .rewind {
  mask-image: url(~devtools/client/debugger/images/rewind-button.svg);
  -webkit-mask-image: url(~devtools/client/debugger/images/rewind-button.svg);
  background: white;
}

.seekBadge .verbose {
  display: none;
}

.seekBadge:hover .verbose {
  display: block;
}
