table.requests {
  border-collapse: collapse;
}

.row {
  border-bottom: 2px solid var(--theme-toolbar-background);
}

.row.last {
  border-bottom: 2px solid var(--secondary-accent);
}

.status {
  flex: 0 0 50px;
}

.method {
  flex: 0 0 55px;
}

.domain {
  flex: 0 0 25%;
}

.name {
  flex: auto;
}
