table.requests {
  border-collapse: collapse;
}

.row {
  background: var(--body-bgcolor);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  min-width: fit-content;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.banner {
  background: var(--body-bgcolor);
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  padding: 0.25rem;
}

.banner:not(:first-child) {
  border-top: 1px solid var(--theme-toolbar-background);
}

.row:not(:first-child) {
  border-top: 1px solid var(--theme-toolbar-background);
}

.row:is(:hover, :focus-visible) {
  outline: 0;
  background-color: var(--theme-table-selection-background-hover);
}

.row.future {
  color: var(--theme-base-80);
}

.row.unloaded {
  color: var(--theme-base-90);
}

.row.selected {
  background: var(--primary-accent);
  border-color: var(--primary-accent);
  color: white;
}

.row.selected:hover {
  background: var(--primary-accent-hover);
  border-color: var(--primary-accent-hover);
}

.row.current {
  border-top: 2px solid var(--secondary-accent);
}

.current.end {
  background: var(--secondary-accent);
  height: 2px;
  width: 100%;
}

.resizer {
  cursor: ew-resize;
  height: 100%;
  position: absolute;
  top: 0;
  right: -4px;
  width: 8px;
  z-index: 50;
}

.seekBadge {
  align-items: center;
  background: linear-gradient(0deg, var(--primary-accent) 0, var(--primary-accent) 100%);
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  opacity: 0;
  font-weight: 700;
  height: 100%;
  padding-left: 6px;
  padding-right: 6px;
  position: absolute;
  left: -2px;
  z-index: 1;
}

.seekBadge:is(:hover, :focus-visible) {
  outline: 0;
  background: linear-gradient(
    0deg,
    var(--primary-accent-hover) 0,
    var(--primary-accent-hover) 100%
  );
}

.row:is(:hover, :focus-visible) .seekBadge,
.seekBadge:is(:hover, :focus-visible) {
  opacity: 1;
}

.seekBadge .fastForward {
  transform: scaleX(-1);
  mask-image: url(~devtools/client/debugger/images/rewind-button.svg);
  -webkit-mask-image: url(~devtools/client/debugger/images/rewind-button.svg);
  background: white;
}

.seekBadge .rewind {
  mask-image: url(~devtools/client/debugger/images/rewind-button.svg);
  -webkit-mask-image: url(~devtools/client/debugger/images/rewind-button.svg);
  background: white;
}

.seekBadge .verbose {
  display: none;
}

.seekBadge:is(:hover, :focus-visible) .verbose {
  display: block;
}
