.requestDetails {
  background: white;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  font-size: 12px;
  height: 100%;
}

.requestDetails .request {
  display: flex;
  flex: 0 1 auto;
}

.headerTable {
  display: flex;
  flex: 0 1 0;
}

h2.title {
  flex: 0 0 auto;
}

.method {
  font-weight: bold;
}

.status {
  font-weight: bold;
}

.row {
  padding-left: 1rem;
  word-break: break-all;
}
