/*
This is an exact copy of .image (set in AccessibleImage.css)
but without a background color so we can use hover effects
*/

.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  /* multicolor icons use background-image */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  /* do not let images shrink when used as flex children */
  flex-shrink: 0;
}

/* global menu */

.icon.docs {
  -webkit-mask-image: url(/icons/docs.svg);
}

.icon.help {
  -webkit-mask-image: url(/icons/help.svg);
}

.icon.settings {
  -webkit-mask-image: url(/icons/settings.svg);
}

.icon.replay-logo {
  -webkit-mask-image: url(/icons/replay-logo.svg);
}

/* replay info */

.icon.external {
  -webkit-mask-image: url(/icons/external.svg);
}

.icon.globe {
  -webkit-mask-image: url(/icons/globe.svg);
}

.icon.group {
  -webkit-mask-image: url(/icons/group.svg);
}

.icon.lock {
  -webkit-mask-image: url(/icons/lock.svg);
}

.icon.shield-check {
  -webkit-mask-image: url(/icons/shield-check.svg);
}

.icon.drawer {
  -webkit-mask-image: url(/icons/drawer.svg);
}

.icon.trash {
  -webkit-mask-image: url(/icons/trash.svg);
}

/* check-in widget */

.icon.active {
  -webkit-mask-image: url(/icons/active.svg);
}

.icon.resolved {
  -webkit-mask-image: url(/icons/resolved.svg);
}

/* upload screen */

.icon.warning {
  -webkit-mask-image: url(/icons/warning.svg);
}

/* print statements */

.icon.filter {
  -webkit-mask-image: url(/icons/filter.svg);
}

/* focus mode */

.icon.focus {
  -webkit-mask-image: url(/icons/focus.svg);
}

/* network */

.icon.palette {
  -webkit-mask-image: url(/icons/palette.svg);
}

.icon.doc {
  -webkit-mask-image: url(/icons/doc.svg);
}

.icon.typography {
  -webkit-mask-image: url(/icons/typography.svg);
}

.icon.image {
  -webkit-mask-image: url(/icons/image.svg);
}

.icon.code {
  -webkit-mask-image: url(/icons/code.svg);
}

.icon.list {
  -webkit-mask-image: url(/icons/list.svg);
}

.icon.questionmark {
  -webkit-mask-image: url(/icons/questionmark.svg);
}

.icon.other {
  -webkit-mask-image: url(/icons/other.svg);
}

.icon.tool {
  -webkit-mask-image: url(/icons/tool.svg);
}

.icon.reload {
  -webkit-mask-image: url(/icons/reload.svg);
}

.icon.checked {
  -webkit-mask-image: url(/icons/checked.svg);
}

.icon.unchecked {
  -webkit-mask-image: url(/icons/unchecked.svg);
}

.icon.dock-bottom {
  -webkit-mask-image: url(/icons/dock-bottom.svg);
}

.icon.dock-left {
  -webkit-mask-image: url(/icons/dock-left.svg);
}

.icon.dock-bottom-right {
  -webkit-mask-image: url(/icons/dock-bottom-right.svg);
}

.icon.video {
  -webkit-mask-image: url(/icons/video.svg);
}

/* global loader component */

.icon.cloud {
  -webkit-mask-image: url(/icons/cloud.svg);
}

.icon.turtle {
  -webkit-mask-image: url(/icons/turtle.svg);
}
