.JsonViewer {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-regular);
  white-space: pre;
  padding: 0.5rem 0;
}

.Line {
  font-size: inherit;
  font-family: var(--font-family-monospace);
  overflow-x: hidden;
  text-overflow: ellipsis;
}
