.TrimmedMessageCountRow {
  display: block;
  padding: 0.25rem 0 0.25rem 1.5rem;
  min-height: 1.5rem;
  font-family: var(--monospace-font-family);
  font-size: var(--theme-code-font-size);
  border-left: 0.25rem solid var(--primary-accent);
}

.TrimmedMessageLink {
  cursor: pointer;
  text-decoration-line: underline;
}

.ColorPickerRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1ch;
}

.UnicornBadge {
  background-image: url(~devtools/client/debugger/images/sources/unicorn-pixel.svg) !important;
  background-size: auto 100%;
  width: 1rem;
  height: 1rem;
}

.ColorBadge {
  border-radius: 100%;
  position: relative;
  width: 0.75rem;
  height: 0.75rem;
}
.ColorBadge::before {
  content: " ";
  display: block;
  position: absolute;
  top: -4px;
  bottom: -4px;
  left: -4px;
  right: -4px;
  background-color: var(--badge-color);
  border-radius: 100%;
  transition: opacity 0.18s ease-out;
  opacity: 0;
}
.ColorBadge:hover::before {
  opacity: 0.2;
}

.EmptyBadge {
  border-radius: 100%;
  width: 0.75rem;
  height: 0.75rem;
  border: 2px solid var(--theme-base-70);
}
.EmptyBadge:hover {
  border-color: var(--theme-base-60);
  transition: border-color 0.18s ease-out;
}

.green {
  --badge-color: var(--badge-green-color);
  background-color: var(--badge-color);
}
.orange {
  --badge-color: var(--badge-orange-color);
  background-color: var(--badge-color);
}
.purple {
  --badge-color: var(--badge-purple-color);
  background-color: var(--badge-color);
}
.yellow {
  --badge-color: var(--badge-yellow-color);
  background-color: var(--badge-color);
}
.unicorn {
  --badge-color: var(--badge-unicorn-color);
  background-color: var(--badge-color);
}
