/* Add Comment Button */

.comments-panel button.add-comment {
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  padding: 8px 12px;
  line-height: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  font-size: 12px;
  flex-direction: column;
}

.comments-panel button.add-comment:hover {
  background: var(--dark-blue);
  color: var(--theme-body-background);
  border: 1px solid var(--dark-blue);
}

.comments-panel button.add-comment.disabled {
  background: var(--grey-30);
  border: 1px solid var(--grey-30);
  color: var(--theme-body-color);
  cursor: auto;
}

.comments-panel button.add-comment.disabled:focus {
  outline: none;
}

.comments-panel button.add-comment .img {
  margin-right: 4px;
  background: var(--theme-body-background);
}

.comments-panel .add-comment {
  padding: 12px;
  color: white;
  align-self: center;
  cursor: pointer;
}