.Capsule {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: 1px;
  height: 2rem;
}

.LeftSide,
.LeftSideLoaded,
.LeftSideReallySlow {
  width: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  padding: 0 0.5rem;
  background-color: var(--theme-toggle-bgcolor);
  color: var(--theme-icon-color);
}
.LeftSideReallySlow {
  cursor: pointer;
}
.LeftSide:hover {
  background-color: var(--theme-toggle-handle-bgcolor-hover);
}
.LeftSideReallySlow:hover {
  background-color: var(--console-error-border);
}

.LoadingState {
  display: flex;
  flex-grow: 1;
}

.SlowIcon {
  background-color: currentColor;
}
.ReallySlowIcon {
  background-color: var(--secondary-accent);
}

.LoadingText {
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.RadialProgressContainer {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.CircularProgressbar {
  width: 1.5rem;
  height: 1.5rem;
}
