.Capsule {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  column-gap: 1px;
  height: 2rem;
  position: relative;
}

.LeftSideLoading,
.LeftSideLoaded {
  width: 7rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  padding: 0 0.5rem;
  background-color: var(--focus-mode-capsule-bgcolor);
  color: var(--theme-icon-color);
}
.LeftSideLoading:hover {
  background-color: var(--focus-mode-capsule-bgcolor-hover);
}

.LoadingState {
  display: flex;
  flex-grow: 1;
}

.SlowIcon {
  background-color: currentColor;
}

.LoadingText {
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.RadialProgressContainer {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
}

.CircularProgressbar {
  width: 1.5rem;
  height: 1.5rem;
}

.SlowLoadingPopOut {
  position: absolute;
  bottom: calc(100% + 0.25rem);
  left: 0;
  background: var(--modal-bgcolor);
  border: 1px solid var(--modal-border);
  color: var(--theme-text-color-strong);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: var(--font-size-regular);
  text-align: center;
}

.SlowLoadingLink {
  text-decoration: underline;
  color: var(--source-link-color);
}
