.Input {
  border-width: 0px;
  padding: 0px;
  font-size: 1rem;
  line-height: 1rem;
  background-color: var(--theme-focus-mode-popout-text-input-background-color);
  color: var(--theme-text-field-color);
}
.Input:focus {
  outline: none;
}
