.ToggleOn,
.ToggleOff {
  display: flex;
  width: 2.5rem;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 9999px;
  border-bottom-right-radius: 9999px;
  color: white;
}
.ToggleOn {
  background-color: var(--primary-accent);
}
.ToggleOff {
  background-color: var(--theme-toggle-bgcolor);
}
.ToggleOff:hover {
  background-color: var(--theme-toggle-handle-bgcolor-hover);
}

.ToggleOffIcon,
.ToggleOnIcon {
  mask-position: top;
}
.ToggleOnIcon {
  background-color: currentColor;
  color: white;
}
.ToggleOffIcon {
  background-color: var(--theme-toggle-color);
}
