.Input {
  border-width: 0px;
  padding: 0px;
  font-size: 1rem;
  line-height: 1rem;
  background-color: var(--focus-mode-popout-text-input-background-color);
  color: var(--theme-text-field-color);
}
.Input:focus {
  outline: none;
  box-shadow: 0 0 0 1px var(--focus-mode-popout-text-input-ring);
}

.Input:first-of-type {
  border-radius: 9px 0 0 9px;
}
