.timeline .marker {
  height: 11px;
  width: 11px;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
  pointer-events: all;
}

.timeline .preview-markers-container .marker {
  z-index: var(--z-index-2--hovered-message);
}

.timeline .marker:hover {
  cursor: pointer;
}

.timeline .marker .fill {
  fill: var(--replaying-marker-fill);
}

.timeline .marker .stroke {
  stroke: var(--theme-body-background);
  pointer-events: none;
}

.timeline .marker.paused {
  z-index: var(--z-index-1--paused-message);
}

.timeline .marker.paused .fill {
  fill: var(--replaying-paused-marker-fill);
}

.timeline .marker.paused .stroke {
  stroke: var(--replaying-paused-marker-stroke);
  stroke: var(--theme-body-background);
}

.timeline .marker:focus {
  outline: none;
}

/* Dimmed styles */

.timeline.dimmed .marker .fill {
  fill: var(--primary-accent-light);
}

.timeline.dimmed .preview-markers-container .marker .fill {
  fill: var(--replaying-marker-fill);
}

.timeline.dimmed .marker.secondary-highlight {
  z-index: var(--z-index-2--hovered-point-secondary);
}

.timeline.dimmed .marker.secondary-highlight .fill {
  fill: var(--replaying-marker-fill);
}

.timeline.dimmed .marker.primary-highlight {
  z-index: var(--z-index-3--hovered-point-primary);
}

.timeline.dimmed .marker.paused .fill {
  fill: var(--secondary-accent);
}

.timeline.dimmed .marker.primary-highlight:not(.paused) .fill {
  fill: var(--new-blue-900);
}
