/*. replay */

.replay-player {
  -moz-appearance: none;
  background: var(--theme-tab-toolbar-background);
  box-sizing: border-box;
  min-height: 29px;
  --progressbar-transition: 200ms;
  display: flex;
  height: 100%;
  padding-right: 10px;
}

.theme-light .replay-player {
  --commandbar-button-hover-background: #efefef;
  --progress-recording-background: hsl(0, 100%, 97%);
  --progress-playing-background: #d4ebff;
  --recording-marker-background: hsl(14.9, 100%, 67%);
  --replaying-marker-fill: var(--blue-40);
  --replaying-marker-stroke: var(--blue-40);
  --replaying-paused-marker-fill: #5b41ff;
  --replaying-paused-marker-stroke: #3d23e2;
  --replaying-marker-highlighted-background: var(--blue-60);
  --recording-marker-background-hover: hsl(14.9, 100%, 47%);
  --replaying-marker-fill-hover: var(--blue-60);
  --hover-scrubber-line-background: var(--blue-50);
  --progress-recording-line: #d0021b;
  --progressbar-background: #fff;
  --progressbar-line-color: var(--blue-40);
  --proggressbar-border-color: var(--theme-splitter-color);
  --tick-future-background: #bfc9d2;
  --tick-background: var(--blue-50);
  --tick-recording-background: #d0021b;
  --replay-head-background: var(--purple-50);
}

.theme-dark .replay-player {
  --commandbar-button-hover-background: #1a1a1a;
  --progress-recording-background: #310707;
  --progress-playing-background: #071a2b;
  --progress-recording-line: #ff2038;
  --recording-marker-background: #9b3131;
  --recording-marker-background-hover: #a82323;
  --replaying-marker-fill: #266fb1;
  --replaying-marker-stroke: #3a8edb;
  --replaying-paused-marker-fill: #5b41ff;
  --replaying-paused-marker-stroke: #1a72dc;
  --replaying-marker-highlighted-background: #3084d0;
  --replaying-marker-fill-hover: #3a8edb;
  --hover-scrubber-line-background: var(--blue-50);
  --progressbar-background: #0c0c0d;
  --proggressbar-border-color: var(--theme-splitter-color);
  --progressbar-line-color: #0a4786;
  --tick-future-background: #bfc9d2;
  --tick-background: var(--blue-50);
  --tick-recording-background: #e77884;
  --replay-head-background: var(--theme-highlight-purple);
}

.replay-player .overlay-container {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.replay-player .progressBar {
  position: relative;
  width: 100%;
  height: 25px;
  background: #d4ebff;
  border: 1px solid var(--proggressbar-border-color);
  overflow: hidden;
  margin: 6px 5px 2px 0;
}

.replay-player .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #c0e2ff;
  pointer-events: none;
  border-right-color: var(--replay-head-background);
  border-right-width: 1px;
  border-right-style: solid;
}

.replay-player .message-container {
  position: absolute;
  width: 100%;
  height: 100%;
}

.replay-player .message {
  position: absolute;
  height: 11px;
  width: 11px;
  position: absolute;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}

.replay-player .message:hover {
  cursor: pointer;
}

.replay-player .message.highlighted .fill {
  fill: var(--replaying-marker-stroke);
  transition-duration: 100ms;
}

.replay-player .message.highlighted  {
  transform: scale(1.2);
  transition-duration: 100ms;
}

.replay-player .message .fill {
  fill: var(--replaying-marker-fill);
}

.replay-player .message .stroke {
  stroke: var(--replaying-marker-stroke);
  pointer-events: none;
}

.replay-player .message.paused .fill {
  fill: var(--replaying-paused-marker-fill);
}

.replay-player .message.paused .stroke {
  stroke: var(--replaying-paused-marker-stroke);
}

.replay-player .message:focus {
  outline: none;
}

.replay-player .scrubber {
  position: absolute;
  height: 100%;
  width: 1px;
  pointer-events: none;
  background: transparent;
  z-index: 1000;
}

.replay-player .scrubber.hovered {
  background: var(--hover-scrubber-line-background);
}

/* The scrubber is 9px wide, so shifting it 4px to the left
gets the scrubber's center position (5px) right on top of the
pause line or the hover preview line */
.replay-player .scrubber img {
  margin-left: -4px;
}

.replay-player .commands {
  display: flex;
  margin: 0 4px;
}

.replay-player .command-button {
  display: flex;
  min-width: 20px;
  opacity: 0.4;
  height: 29px;
  margin-top: 4px;
}

.replay-player .command-button.primary {
  min-width: 22px;
}

.replay-player .btn {
  width: 14px;
  height: 14px;
  mask-size: 14px;
  background: var(--theme-icon-color);
  align-self: center;
  margin: 0 auto;
}

.replay-player .primary .btn {
  width: 18px;
  height: 17px;
  mask-size: 18px;
}

.replay-player .command-button.active:hover {
  background: var(--commandbar-button-hover-background);
  cursor: pointer;
}

.replay-player .command-button.active {
  opacity: 1;
}

.replay-player div.command-button .rewind {
  transform: scaleX(-1);
}

.replay-player div.command-button .previous {
  transform: scaleX(-1);
  margin-left: 8px;
}

.replay-player div.command-button .next {
  margin-right: 8px;
}

.replay-player .progress-line {
  width: 0%;
  height: 1px;
  background: var(--progressbar-line-color);
  position: absolute;
  pointer-events: none;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}

.replay-player .progress-line.end {
  opacity: 0.3;
}

.replay-player .tick {
  position: absolute;
  height: 100%;
}

.replay-player .tick::before,
.replay-player .tick::after {
  height: 1.5px;
  width: 1px;
  right: 0;
  position: absolute;
  content: "";
  display: block;
}

.replay-player .tick.future::before,
.replay-player .tick.future::after {
  background: var(--tick-future-background);
}

.replay-player .tick::before,
.replay-player .tick::after {
  background: var(--tick-background);
}

.replay-player .tick::after {
  bottom: 0;
}

.replay-player .tick::before {
  top: 0;
}

.replay-player .overlay-container:hover .tick {
  opacity: 1;
}

.replay-player .overlay-container .tick {
  opacity: 0.5;
}

.replay-player .overlay-container .tick:hover ~ .tick,
.replay-player .overlay-container .tick.highlight ~ .tick:not(.highlight) {
  opacity: 0.5;
}

.replay-player .untraversed {
  position: absolute;
  height: 100%;
  background: #000000;
  opacity: 0.2;
}

.replay-player .unscanned {
  position: absolute;
  height: 100%;
  background: #000000;
  opacity: 0.1;
}

.replay-player .zoomboundary {
  padding-top: 7px;
  padding-right: 4px;
}
