/*. replay */

.timeline {
  -moz-appearance: none;
  background: var(--theme-body-background);
  box-sizing: border-box;
  border-top: 1px solid var(--theme-splitter-color);
  --progressbar-transition: 200ms;
  display: flex;
  padding: 8px 24px 12px 20px;
  align-items: center;
}

.theme-light .timeline {
  --commandbar-button-hover-background: #efefef;
  --progress-recording-background: hsl(0, 100%, 97%);
  --progress-playing-background: #d4ebff;
  --recording-marker-background: hsl(14.9, 100%, 67%);
  --replaying-marker-highlighted-background: var(--blue-60);
  --recording-marker-background-hover: hsl(14.9, 100%, 47%);
  --replaying-marker-fill-hover: var(--blue-60);
  --hover-scrubber-line-background: var(--blue-50);
  --progress-recording-line: #d0021b;
  --progressbar-background: var(--grey-30);
  --progressbar-line-color: var(--primary-accent);
  --proggressbar-border-color: var(--theme-splitter-color);
  --tick-future-background: #bfc9d2;
  --tick-background: var(--blue-50);
  --tick-recording-background: #d0021b;
}

.timeline .commands :focus:not(:focus-visible) {
  outline: none;
  background: inherit;
}

.timeline .progress-bar-container {
  display: flex;
  position: relative;
  flex-grow: 1;
}

.timeline .progress-bar {
  display: flex;
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 32px;
  overflow: hidden;
}

.timeline .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-right-color: var(--replay-head-background);
  border-right-width: 1px;
  border-right-style: solid;
}

.timeline .markers-container,
.timeline .preview-markers-container {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.timeline .commands {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.timeline .commands > button {
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
}

.timeline .commands > button:hover,
.timeline .commands > button:hover:focus {
  background: var(--theme-toolbar-background-hover);
}

.timeline .commands > button .img {
  width: 28px;
  height: 28px;
}

.timeline .commands > button:hover .img {
  background: var(--dark-blue);
}

.timeline .command-button.active:hover {
  background: var(--commandbar-button-hover-background);
  cursor: pointer;
}

.timeline .command-button.active {
  opacity: 1;
}

.timeline div.command-button .rewind {
  transform: scaleX(-1);
}

.timeline .progress-line {
  width: 0%;
  height: 3px;
  border-radius: 4px;
  background: var(--primary-accent);
  position: absolute;
  pointer-events: none;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}

.timeline.dimmed .progress-line {
  background: var(--primary-accent-light);
}

.timeline .overlay-container:hover .progress-line {
  height: 5px;
}

.timeline .progress-line.full {
  width: 100%;
  background: var(--progressbar-background);
}

.timeline .progress-line.preview {
  background: #bbbbc1;
}

.timeline .zoomboundary {
  padding-top: 7px;
  padding-right: 4px;
}
