.Sidebar {
  background: var(--tab-bgcolor-alt-subtle);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid var(--theme-splitter-color);
  margin-bottom: 0;
}

.ToolbarHeader {
  flex: 1 1 auto;
  font-size: 15px;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--body-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.eventRow {
  display: block;
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
  padding-left: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 9999px;
  cursor: pointer;
}

.eventRow:hover {
  background-color: var(--event-row-hover-background-color);
}
