.EventType,
.EventTypeDisabled {
  display: grid;
  grid-template-columns: min-content auto min-content;
  gap: 1ch;
  align-items: center;
}
.EventTypeDisabled {
  opacity: 0.5;
}

.Checkbox {
  margin: 0;
}

.Label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.CategoryPrefix {
  color: var(--color-dim);
}

.ArrowIcon {
  fill: var(--collapsible-toggle-color);
  width: 1rem;
  height: 1rem;
  vertical-align: top;
  margin: 0 0.25rem;
  display: inline-block;
}
