src/devtools/client/debugger/**/fixtures/**
node_modules
src/devtools/client/shared/vendor/
src/devtools/client/shared/sourceeditor/codemirror
packages/shared/client/fixtures
packages/third-party/
public/test/examples
src/graphql
