/dist/
dist.tgz
node_modules
*~
.DS_Store
cypress/videos/
test/example-recordings.json
.idea/
cypress.env.json
.env*
!.env.sample
.next
next-env.d.ts
out
tsconfig.tsbuildinfo
.nova/
schema.graphql
/coverage/
storybook-static/

# Yarn 3 artifacts
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.tgz
test/.yarn/
*.mp4
videos/
.vercel
packages/e2e-tests/test-results/
