.next
node_modules
public
.github
src/global-css.ts

test/examples
src/devtools/client/debugger/src/workers/parser/tests/fixtures
packages/replay-next/playwright/protocol-fixtures/
src/ui/utils/intercom.ts
index.html
packages/third-party/
pages/_app.tsx
*.tsbuildinfo
*.json
*.yaml
src/**/*.raw.js