.next
node_modules
public
.github
src/global-css.ts

test/examples
src/ui/utils/intercom.ts
index.html
packages/third-party/
pages/_app.tsx
*.tsbuildinfo
*.json
*.yaml
src/**/*.raw.js
src/ui/components/TestSuite/suspense/assets/*.js