.ConsoleActions {
  display: flex;
  justify-content: space-between;
}

.MenuToggleButton,
.DeleteTerminalExpressionButton {
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  background: none;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MenuToggleButton:focus,
.DeleteTerminalExpressionButton:focus {
  border-color: var(--primary-accent);
}

.MenuToggleButtonIcon,
.DeleteTerminalExpressionIcon {
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  fill: var(--color-default);
  display: inline-block;
}
