.Source {
  cursor: pointer;
  text-decoration: underline;
  flex-shrink: 1;
  text-align: right;
  color: var(--color-default);
}

.UnknownSourceLabel {
  text-decoration: underline;
  color: var(--color-dim);
}
