/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.result-item .title .highlight {
  font-weight: bold;
  background-color: transparent;
}

.selected .highlight {
  color: white;
}

.result-item .subtitle .highlight {
  color: var(--grey-90);
  font-weight: 500;
  background-color: transparent;
}

.theme-dark .result-item .title .highlight,
.theme-dark .result-item .subtitle .highlight {
  color: white;
}

.report-a-problem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 12px;
  font-size: 12px;
  line-height: 16px;
}

.report-a-problem-icon {
  width: 1rem;
  height: 1rem;
  color: var(--theme-icon-dimmed-color);
  margin-right: 14px;
}

.report-a-problem-text {
  margin-right: 1ch;
}
