button.comment-tool {
  padding: 8px 12px;
  background: var(--grey-30);
}

button.comment-tool:focus {
  background: var(--primary-accent);
  color: var(--theme-body-background);
}

#video.location-marker {
  /* background: red; */
  cursor: url("https://svgshare.com/i/TfA.svg"), auto;
  /* cursor: url('http://anuary.com/dev/hp/pad3/public/images/hand-cursor.png'), auto; */
}