.icon-with-tooltip {
  position: relative;
  --icon-margin: 4px;
}

.icon-with-tooltip *:focus:not(:focus-visible) {
  outline: none;
  background: inherit;
}

.icon-with-tooltip-button {
  display: flex;
  cursor: pointer;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 200ms;
  border: 2px solid transparent;
}
.icon-with-tooltip-button:focus {
  outline: none;
  border-color: var(--color-brand);
}

.icon-with-tooltip img {
  width: 124px;
  height: 124px;
  mask-repeat: no-repeat;
  mask-size: cover;
  margin: var(--icon-margin);
}

.icon-tooltip {
  font-size: var(--font-size-large);
}

.iconWithTooltipButton div {
  width: 28px;
  height: 28px;
}
