.modal-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-8--modal);
  display: grid;
  align-items: center;
  justify-items: center;
}

.modal-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
}

.modal-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: max-content;
  width: max-content;
  min-width: 480px;
  border-radius: 8px;
  padding: 20px;
  background: var(--theme-toolbar-background);
  color: var(--theme-toolbar-color);
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px,
    rgba(15, 15, 15, 0.2) 0px 9px 24px;
  animation: dropdownFadeIn ease 200ms;
}

.modal-close {
  position: absolute;
  top: 12px;
  right: 12px;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

@keyframes modalFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
