.modal-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.modal-container.mask {
  background: rgba(0,0,0,0.5);
}

.modal-container .modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 8rem 5rem 5rem;
  margin: auto;
  border-radius: 2rem;
  background: white;
  box-shadow: none;
  font-size: 1.25rem;
  width: 600px;
}

.modal-container .modal > *:not(button) {
  width: 100%;
}

.modal-container .modal > *:not(:last-child) {
  margin-bottom: 2rem;
}

.modal-container .permissions-list {
  width: 40rem;
  display: flex;
  flex-direction: column;
}

.modal-container .permission {
  display: flex;
  align-items: center;
  padding: 12px 4px;
  transition-duration: 200ms;
}

.modal-container .permission:hover {
  background: #EEE;
  border-radius: 8px;
}

.modal-container .permission:not(:last-child) {
  margin-bottom: 4px;
}

.modal-container .permission .icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  margin: 0 12px 0 8px;
  flex-shrink: 0;
  background: var(--dark-grey);
  background-position: center;
  background-size: contain;
}

.modal-container .permission .main {
  flex-grow: 1;
}

.modal-container .permission .role {
  flex-shrink: 0;
  padding: 0px 8px;
  color: var(--light-grey)
}

.modal-container .modal form {
  display: flex;
  flex-direction: row;
}

.modal-container .modal input[type=text] {
  height: 40px;
  display: block;
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;
  margin: auto;
  border: 1px solid var(--light-grey);
  color: var(--light-grey);
}

.modal-container .modal input[type=submit] {
  display: none;
  flex-shrink: 0;
  color: white;
  background: var(--dark-blue);
  border: 0px;
  padding: 0px 2rem;
  border-radius: 1rem;
}

.modal-container .modal form:focus-within input[type=submit] {
  display: block;
  margin-left: 1rem;
}

.modal-container .buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.modal-container button {
  display: flex;
  flex-direction: row;
  padding: 1rem 2rem;
  border-radius: 2rem;
  align-items: center;
  color: white;
  background: var(--light-blue);
  line-height: 1.5rem;
  outline: none;
  cursor: pointer;
}

.modal-container button.cancel {
  border: none;
  background: transparent;
  color: var(--light-blue);
}

.modal-container button.close-modal {
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1rem 1.25rem;
  border-radius: 50%;
  color: var(--light-grey);
  background: transparent;
}

.modal-container button.close-modal:hover {
  background: var(--light-grey);
  color: white;
}

.modal-container .spinner {
  display: flex;
  height: 40px;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;
  margin: auto;
  border: 1px solid var(--light-grey);
  color: var(--light-grey);
}

.modal-container .spinner .img.refresh {
  height: 16px;
  padding-inline-end: 1em;
  margin-inline-end: .5em;
  background-color: var(--light-grey);
  animation: spin .7s linear infinite;
}