.prompt-container {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  max-height: 100%;
  background: linear-gradient(152.2deg, #67DAFF 6.75%, #4382FF 93.14%);
}

.prompt-content {
  max-height: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: none;
  margin: auto;
  border-radius: 8px;
  background: var(--theme-toolbar-background);
  color: var(--theme-toolbar-color);
  font-size: 1.25rem;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px, rgba(15, 15, 15, 0.2) 0px 9px 24px;
  min-height: 460px;
  min-width: 640px;
  max-width: 640px;
  padding: 40px;
}

.prompt-content > *:not(:last-child) {
  margin-bottom: 20px;
}

.prompt-content .preview-container {
  width: 400px;
  height: 250px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.prompt-content .tip {
  color: var(--theme-comment);
  font-size: 1rem;
}

.prompt-content p, .prompt-content li {
  line-height: 1.5;
}
