.modal-container .modal-content {
  min-height: auto;
  height: 400px;
  min-width: 400px;
}

.modal-content > *:not(:last-child) {
  margin-bottom: 12px;
}

.modal-container .row.title {
  display: flex;
  flex-direction: row;
  line-height: 16px;
  padding: 8px 0px;
}

.modal-container .row.title .img {
  margin-right: 8px;
}

.modal-container .permissions-list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: auto;
}

.modal-container .permission {
  display: flex;
  align-items: center;
  padding: 8px;
  transition: background 200ms ease-in-out;
  border-radius: 4px;
}

.modal-container .permission:hover {
  background: #eee;
  border-radius: 8px;
}

.modal-container .permission:not(:last-child) {
  margin-bottom: 4px;
}

.modal-container .permission .icon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 8px;
  flex-shrink: 0;
  background: var(--dark-grey);
  background-position: center;
  background-size: contain;
}

.modal-container .permission .main {
  flex-grow: 1;
}

.modal-container .permission .role {
  flex-shrink: 0;
  padding: 0px 8px;
  color: var(--theme-comment);
}

.modal-container .permission .email {
  color: var(--light-grey);
}

.modal-container .permission:not(:first-child):hover .role {
  display: none;
}

.modal-container .permission button.delete {
  display: none;
  flex-shrink: 0;
  padding: 4px;
  border-radius: 4px;
  background: transparent;
  box-shadow: none;
}

.modal-container .permission:hover button.delete {
  display: block;
}

.modal-container .permission button.delete:hover {
  background: var(--dark-blue);
}

.modal-container .permission button.delete .img {
  background: var(--light-grey);
}

.modal-container .permission button.delete:hover .img {
  background-color: white;
}

.modal-container form {
  display: flex;
  flex-direction: row;
}

.modal-container input {
  font-size: 1rem;
  border-radius: 4px;
  border: none;
}

.modal-container input[type="text"] {
  margin-right: 8px;
  background-color: #eee;
  line-height: 16px;
  padding: 8px;
  flex-grow: 1;
}

.modal-container input[type="submit"] {
  flex-shrink: 0;
  color: white;
  background: var(--dark-blue);
  padding: 8px 12px;
  cursor: pointer;
}

.modal-container .bottom {
  display: flex;
  justify-content: flex-end;
}

.modal-container .status {
  display: flex;
  line-height: 16px;
  padding: 7px;
  justify-content: center;
  border: 1px solid var(--light-grey);
  color: var(--light-grey);
  border-radius: 4px;
}

.modal-container .status:last-child {
  margin: auto;
  border: none;
}

.modal-container .status .img.reload {
  height: 16px;
  padding-inline-end: 1em;
  margin-inline-end: 0.5em;
  background-color: var(--light-grey);
  animation: spin 0.7s linear infinite;
}

.modal-container .status.error {
  color: red;
}

.modal-container button:not(.modal-close) {
  border-radius: 4px;
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
  display: flex;
  align-items: center;
  background: var(--dark-blue);
  cursor: pointer;
  line-height: 16px;
}

.modal-container .copy-link,
.modal-container .privacy-toggle {
  display: flex;
  align-items: center;
}

.modal-container .copy-link .img.link {
  background: white;
  margin-right: 4px;
}

.privacy-toggle {
  cursor: pointer;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--theme-splitter-color);
  margin-bottom: 20px;
}

.privacy-toggle > :not(:first-child) {
  margin-left: 8px;
}

.privacy-toggle .label {
  flex-grow: 1;
}

.privacy-toggle button.toggle {
  position: relative;
  height: 18px;
  border-radius: 12px;
  width: 28px;
  align-items: center;
  transition-duration: 200ms;
  padding: 0px;
  box-sizing: content-box;
}

.privacy-toggle .row.privacy-note.is-public,
.privacy-toggle .row.privacy-note.is-public .label-description,
.privacy-toggle .row.privacy-note.is-public .label-description a:visited {
  color: #7d000f;
}

.privacy-toggle button.toggle:focus {
  outline: none;
}

.privacy-toggle button.toggle.on {
  border: 2px solid var(--dark-blue);
  background: var(--dark-blue);
}

.privacy-toggle button.toggle.off {
  border: 2px solid var(--light-grey);
  background: var(--light-grey);
}

.privacy-toggle button.toggle.on .switch {
  left: 10px;
}

.privacy-toggle button.toggle.off .switch {
  left: 0px;
}

.privacy-toggle button .switch {
  position: relative;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: white;
  transition-duration: 200ms;
}
