.first-recording-prompt .prompt-container {
  background: none;
}

.loading-message {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.3rem;
  color: var(--grey-60);
}

#header .title-label {
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: none;
  line-height: 18px;
  margin-left: 8px;
  font-weight: 600;
}
