.Picker {
  position: relative;
  display: inline-grid;
  align-items: center;
  padding: 0 3px;
}

.PickerFill {
  --badge-background: var(--theme-toolbar-background);
  position: absolute;
  inset: 0;
  background-color: var(--badge-background);
  transition: background-color 0.18s ease-out;
}

.Picker:hover .PickerFill {
  background-color: var(--badge-background--active);
}
