.PrefixBadgePicker {
  display: flex;
  align-items: center;
  position: relative;
  align-self: start;
  height: 1.5rem;
}

.PrefixBadgePickerFill {
  position: absolute;
  left: -2px;
  height: 100%;
  border-radius: 1rem;
  transition: background-color 0.18s ease-out;
}

.PrefixBadge {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
  outline: none;
}

/*
  TODO: look into why focus-visible shows when programmatically moving focus
  https://github.com/w3c/csswg-drafts/issues/5885
*/
/* .PrefixBadge:focus-visible {
  box-shadow: 0 0 0 0.125rem rgba(0, 123, 255, 0.25);
} */

.DefaultBadge {
  background-color: var(--light-grey);
  border-radius: 0.3rem;
}

.UnicornBadge {
  width: 1rem;
  height: 1rem;
  background-image: url(~devtools/client/debugger/images/sources/unicorn-pixel.svg) !important;
  background-size: auto 100%;
}

.ColorBadge {
  display: grid;
  place-items: center;
  position: relative;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
  background-color: transparent;
}

.active.PrefixBadge:hover .ColorBadge::before,
.active .ColorBadge::before,
.ColorBadge::after {
  grid-area: 1 / 1 / 1 / 1;
  content: "";
  display: block;
  border-radius: 100%;
  background-color: var(--primary-color);
}

.ColorBadge::before {
  width: 100%;
  height: 100%;
  opacity: 0.2;
}

.ColorBadge::after {
  width: 50%;
  height: 50%;
}

/* Background fill colors */

:global(.theme-light) .PrefixBadgePickerFill {
  background: #fff;
}

:global(.theme-dark) .PrefixBadgePickerFill {
  background: transparent;
}

:global(.theme-dark) .PrefixBadgePicker:hover .PrefixBadgePickerFill,
:global(.theme-dark) .isOpen .PrefixBadgePickerFill {
  background: #474c52;
}

:root:global(.theme-light) .unicorn {
  --primary-color: #ff6ddf;
  color: #fff;
}
:root:global(.theme-dark) .unicorn {
  --primary-color: #e110b3;
  color: #fff;
}

:root:global(.theme-light) .purple {
  --primary-color: #a973cd;
  color: #fff;
}
:root:global(.theme-dark) .purple {
  --primary-color: #cc81ff;
  color: #fff;
}

:root:global(.theme-light) .green {
  --primary-color: #73cc6d;
  color: #fff;
}
:root:global(.theme-dark) .green {
  --primary-color: #69e261;
  color: #050;
}

:root:global(.theme-light) .orange {
  --primary-color: #da7c04;
  color: #fff;
}
:root:global(.theme-dark) .orange {
  --primary-color: #ff9a19;
  color: #fff;
}

:root:global(.theme-light) .yellow {
  --primary-color: #e4cd00;
  color: rgb(99, 79, 5);
}
:root:global(.theme-dark) .yellow {
  --primary-color: #fee608;
  color: rgb(99, 79, 5);
}
