.Panel {
  display: flex;
}
.HorizontalPanelGroup .Panel {
  flex-direction: row;
}
.VerticalPanelGroup .Panel {
  flex-direction: column;
}

.Handle {
  flex: 0 0 auto;
}

.HorizontalPanelGroup .HandleEnabled {
  cursor: ew-resize;
}
.VerticalPanelGroup .HandleEnabled {
  cursor: ns-resize;
}
