.Panel {
  display: flex;
}
.HorizontalPanelGroup .Panel {
  flex-direction: row;
}
.VerticalPanelGroup .Panel {
  flex-direction: column;
}

.Handle {
  flex: 0 0 auto;
}
.HorizontalPanelGroup .Handle {
  padding: 0 0.25rem;
}
.VerticalPanelGroup .Handle {
  padding: 0.25rem 0;
}

.HorizontalPanelGroup .HandleEnabled {
  cursor: ew-resize;
}
.VerticalPanelGroup .HandleEnabled {
  cursor: ns-resize;
}
