.Panel {
  display: flex;
}
.HorizontalPanelGroup > .Panel {
  flex-direction: row;
}
.VerticalPanelGroup > .Panel {
  flex-direction: column;
}

.Handle {
  flex: 0 0 auto;
}

.HorizontalPanelGroup > .Panel > .HandleEnabled {
  cursor: ew-resize;
}
.VerticalPanelGroup > .Panel > .HandleEnabled {
  cursor: ns-resize;
}
