.view-toggle {
  display: flex;
  padding: 2px 0;
  cursor: pointer;
  text-align: left;
  padding: 0;
  width: auto;
  appearance: none;
  border: none;
  outline: none !important;
  border-radius: 8px;
}

.view-toggle .inner {
  background: var(--cool-gray-200);
  border: 2px solid var(--cool-gray-200);
  display: flex;
  align-items: stretch;
  border-radius: 8px;
}

.view-toggle .option {
  display: flex;
  align-items: center;
  position: relative;
}

.view-toggle .text {
  min-width: 145px;
  text-align: center;
  padding: 3px 36px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  transition: ease-in-out 80ms color;
}
.view-toggle .active {
  color: #000;
  font-weight: 400;
}

.view-toggle .handle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  background-color: white;
  border-radius: 6px;
}
