.DropDownButton {
  background: none;
  border: none;
  outline: none;
  flex: 0 0 1rem;
  cursor: pointer;
}

.DropDownIcon {
  height: 1rem;
  width: 1rem;
}

.MenuItem {
  display: flex;
  align-items: center;
  gap: 1ch;
  text-transform: capitalize;
}

.MenuItemIcon {
  height: 1rem;
  width: 1.25rem;
  transform: scale(0.9);
  opacity: 0.5;
}
.MenuItemIcon[data-selected] {
  color: var(--color-link);
  opacity: 1;
}

.Count {
  color: var(--color-dim);
}
