.eventRow {
  display: block;
  display: flex;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-right: 0.25rem;
  padding-left: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 9999px;
  cursor: pointer;
}

.eventRow:hover {
  background-color: var(--event-row-hover-background-color);
}
