.Popup {
  color: var(--color-default);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 250px !important;
  max-width: 400px;
  overflow: auto;
}

.Inspector {
  overflow: initial;
}
