.PassportBoxWrapper {
  position: relative;
  background-image: url(/recording/images/passport/passportBG.png);
  background-repeat: repeat;
  height: 100vh;
  color: #4584e1;
}

.sectionsContainer {
  width: 100%;
  overflow-x: hidden;
  padding-top: 0.5rem;
}

.ToolbarHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  line-height: 1.25rem;
  font-weight: 600;
  color: #4584e1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #4583e184;
}

.close {
  cursor: pointer;
}

.close:hover {
  opacity: 0.7;
}
.checklist {
  padding: 6px 0 12px;
  font-size: 14px;
  height: 100%;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.checklistItem,
.headerItem {
  display: flex;
  align-items: center;
  padding-left: 0.4rem;
  margin-bottom: 1px;
  z-index: var(--z-index-1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checklistItemLabelWrapper {
  display: flex;
  align-items: center;
  flex-grow: 1;
  overflow: hidden;
}

.checklistItem:hover {
  background-color: rgba(63, 150, 238, 0.15);
  cursor: pointer;
}

.headerItem {
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  position: relative;
}

.checklistItem.selectedItem,
.checklistItem.selectedItem:hover {
  background-color: rgba(63, 150, 238, 0.3);
  z-index: var(--z-index-1);
}

.stepIcon {
  height: 20px;
  flex-shrink: 0;
}

.videoExample {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  z-index: var(--z-index-1);
  width: 100%;
  margin-bottom: 105px;
}

.largeCompletedImage {
  width: 120px;
  height: auto;
  position: absolute;
  z-index: var(--z-index-1);
  opacity: 30%;
  pointer-events: none;
}

.checklistContainer {
  height: calc(100%);
  overflow-y: auto;
  width: 100%;
}

.stepIcon {
  display: inline-block;
  vertical-align: middle;
}

.title {
  margin-left: 0.25rem;
}

.checklist div:hover {
  cursor: pointer;
}

.checklist .docsIcon {
  position: absolute;
  right: 0;
}

.checklist div.docsIcon:hover {
  color: #2257a7;
}

.blurbContainer {
  padding: 12px;
  color: #4e4e4e;
}

.blurbContainer a {
  text-decoration: underline;
}

.blurbContainer a:hover {
  color: #2257a7;
}

/* these are made to match the styles of the SidePanel.module.css */
.TestsuitesPassportWelcome {
  padding: 0.5em;
  color: var(--primary-accent-foreground-text);
  background: linear-gradient(116.71deg, #ff2f86 21.74%, #ec275d 83.58%),
    linear-gradient(133.71deg, #01acfd 3.31%, #f155ff 106.39%, #f477f8 157.93%, #f33685 212.38%),
    #007aff;
  border-radius: 4px;
}

.TestsuitesPassportWelcome h2 {
  font-size: var(--font-size-large);
  margin-bottom: 0.25em;
  font-weight: bold;
}

.TestsuitesPassportWelcome p {
  font-size: var(--font-size-regular);
}

.TestsuitesPassportWelcome {
  padding: 1rem;
  border-radius: 4px 4px 0 0;
}
