.AssistBoxWrapper {
  position: relative;
  background-image: url(/images/passport/passportBG.png);
  height: 100vh;
}

.AssistBoxGradient {
  background-size: 400% 400%;
  position: relative;
  height: 100vh;
}

.AssistBox {
  padding: 0.5rem;
  height: 100vh;
}

.AssistBoxInternal {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.checklist {
  font-size: 16px;
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  padding-bottom: 340px;
}

.checklistItem {
  width: 50%;
}

.checklist div {
  display: flex;
  align-items: center;
  padding: 0.2rem;
  padding-left: 0.4rem;
  margin-bottom: 30%;
}

.checklist div.selectedItem img {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
}

.checklist div img:hover {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 8px;
}

.checklist div:hover {
  cursor: pointer;
}

.videoExample {
  border-radius: 6px;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.itemContainer {
  width: 100%;
  position: relative;
}
