#video {
  height: 100%;
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  margin-bottom: 14px;
}

.collapsed-toolbox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#graphics,
#graphicsVideo {
  position: absolute;
  transform-origin: top left;
}

#graphicsVideo {
  max-width: unset;
}

.collapsed-toolbox #graphics {
  position: absolute;
}

.command-button {
  float: left;
}

.command-button img {
  height: 20px;
  width: 20px;
}

.content-iframe {
  border: none;
  width: 100%;
  height: 100%;
  padding-top: 2px;
}

.debugger .CodeMirror {
  height: 100%;
}

.webconsole-app {
  height: 100%;
  width: 100%;
  background-color: var(--theme-body-background);
}

#command-button-pick {
  margin-left: 0px;
  padding: 8px;
  position: relative;
}

#command-button-pick::before {
  background: var(--theme-icon-color);
}

#command-button-pick.active::before {
  background-color: var(--theme-toolbar-selected-color);
}

#command-button-pick:hover {
  background-color: var(--toolbarbutton-focus-background);
}

.app-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.A11y-mouse,
.A11y-keyboard {
  width: 100%;
}

.horizontal-panels {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.vertical-panels {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

@import url("devtools/client/themes/variables.css");
@import url("devtools/client/themes/webconsole.css");
@import url("devtools/client/themes/components-frame.css");
@import url("devtools/client/themes/markup.css");
@import url("devtools/client/themes/common.css");
@import url("devtools/client/debugger/dist/vendors.css");
@import url("devtools/client/themes/splitters.css");
@import url("devtools/client/themes/dark-theme.css");
@import url("devtools/client/themes/light-theme.css");
