.avatar {
  display: flex;
  align-items: center;
}

.avatar:not(.authenticated) {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--theme-toolbar-background);
}

.avatar:not(.authenticated):not(:last-child) {
  margin-left: -10px;
}

.avatar.firstPlayer img {
  height: 24px;
  width: 24px;
}