.initialization-screen {
  background: var(--cool-gray-100);
  height: 100%;
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

.initialization-screen main {
  display: flex;
  flex-direction: row;
  border-radius: 8px;
  overflow: hidden;
}

.initialization-screen .filler {
  background: linear-gradient(to bottom right, #64D4FB, #52A6F9);
  width: 560px;
}

.initialization-screen .content {
  background: var(--theme-body-background);
  margin: auto;
  padding: 48px 96px;
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.initialization-screen .content > :not(:first-child) {
  margin-top: 32px;
}

.initialization-screen h1 {
  font-size: 30px;
  font-weight: 800;
}

.initialization-screen h4 {
  font-size: 14px;
  font-weight: 600;
}

.initialization-screen .header {
  display: flex;
  flex-direction: column;
  user-select: none;
}

.initialization-screen .header > :not(:first-child) {
  margin-top: 24px;
}

.initialization-screen .logo {
  width: 48px;
  height: 48px;
}

.initialization-screen .content form.hidden {
  visibility: hidden;
}

.initialization-screen .content form > :not(:first-child) {
  margin-top: 32px;
}

.initialization-screen .replay-title {
  display: flex;
  flex-direction: column;
}

.initialization-screen .replay-title > :not(:first-child) {
  margin-top: 8px;
}

.initialization-screen .replay-title label {
  user-select: none;
}

.initialization-screen .replay-title input {
  width: 400px;
  font-size: 14px;
  padding: 8px;
  border: 1px solid var(--cool-gray-300);
  border-radius: 4px;
}

.initialization-screen .replay-privacy {
  display: flex;
  flex-direction: row;
  align-items: center;
  user-select: none;
}

.initialization-screen .replay-privacy > :not(:first-child) {
  margin-left: 8px;
}

.initialization-screen .replay-workspace {
  display: flex;
  flex-direction: column;
}

.initialization-screen .replay-workspace > :not(:first-child) {
  margin-top: 8px;
}

.initialization-screen .replay-workspace select {
  border: 1px solid var(--cool-gray-300);
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 8px 8px 4px;
}

.initialization-screen .content form .actions {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.initialization-screen .actions .submit {
  padding: 8px 52px;
  color: var(--theme-body-background);
  background: var(--new-blue-500);
  border: none;
  font-size: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.initialization-screen .actions .submit:hover {
  background: var(--new-blue-600);
}

.initialization-screen .actions .cancel {
  text-decoration: underline;
  background: transparent;
  color: var(--theme-comment);
  cursor: pointer;
}

.initialization-screen .actions .cancel:hover {
  background: transparent;
  color: var(--theme-toolbar-color);
}

@media only screen and (max-width: 1280px) {
  .initialization-screen .filler {
    display: none;
  }
}