.events-timeline {
  width: 300px;
  height: 100%;
  flex-shrink: 0;
  /* border: 2px solid rebeccapurple; */
  /* background: var(--theme-toolbar-background); */
  background: var(--grey-10);
  border-left: 2px solid var(--grey-20);
  padding-top: 4rem;
}

.event {
  padding: 0 10px;
  line-height: 1.25rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.event:hover {
  background: var(--grey-20);
}

.event .label {
  color: var(--theme-comment);
}

.event .img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}
