#header {
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 8px;
}

#header .logo {
  height: 14px;
  width: 18px;
  background-repeat: no-repeat;
  background-size: contain;
}

#status {
  padding-left: 10px;
  flex-grow: 1;
  color: var(--theme-comment);
  font-size: 1.1rem;
}

#header .links {
  display: flex;
  align-items: center;
}

#header .avatar:not(.authenticated) {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

.avatars {
  height: 100%;
  align-items: center;
  display: flex;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar.first-player:not(:only-child) {
  margin-inline-end: 20px;
}

#header .avatar:not(.first-player) {
  margin-left: -8px;
  box-shadow: 0px 0px 0px 2px white;
}

.avatar img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 8px;
}

.avatar .user-name {
  margin-right: 8px;
}

#headway {
  display: flex;
  line-height: 32px;
  height: 30px;
  color: var(--theme-comment);
  font-size: 1.1rem;
}

#headway:hover {
  cursor: pointer;
  text-decoration: underline;
}

.loading-bar {
  height: 4px;
  background: linear-gradient(138.3deg, #236eff 7.98%, #71e5ff 93.53%);
  transition-duration: 300ms;
}