#header {
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  height: 52px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 12px;
}

#header .logo {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 4px solid transparent;
  box-sizing: content-box;
}

#status {
  padding-left: 10px;
  flex-grow: 1;
  color: var(--theme-comment);
  font-size: 1.1rem;
}

#header .links {
  display: flex;
  align-items: center;
}

#header .avatar:not(.authenticated) {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

.avatars {
  height: 100%;
  align-items: center;
  display: flex;
}

.avatar {
  display: flex;
  align-items: center;
}

.avatar.first-player:not(:only-child) {
  margin-inline-end: 20px;
}

#header .avatar:not(.first-player) {
  margin-left: -8px;
  box-shadow: 0px 0px 0px 2px white;
}

.avatar img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
  margin-right: 8px;
}

.avatar .user-name {
  margin-right: 8px;
}

#headway {
  display: flex;
  line-height: 32px;
  height: 30px;
  color: var(--theme-comment);
  font-size: 1.1rem;
}

#headway:hover {
  cursor: pointer;
  text-decoration: underline;
}

#header button {
  cursor: pointer;
}

#header button.share {
  margin-left: 8px;
  margin-right: 16px;
  padding: 8px 12px;
  background: var(--dark-blue);
  color: white;
  display: flex;
  align-items: center;
}

#header button.share .img.share {
  background: white;
  margin-right: 4px;
}

.user-account button {
  padding: 7px;
  background: white;
  color: var(--grey-80);
  border: 1px solid var(--grey-50);
  margin-inline-start: 12px;
  border-radius: 2px;
}

.user-account button:hover {
  border: 1px solid var(--grey-70);
  cursor: pointer;
}

#header .title {
  position: absolute;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 320px;
  color: var(--grey-90);
  font-size: 1.25rem;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: none;
  cursor: text;
}

#header .title:not(input):hover {
  color: #2D7EFF;
}

#header input.title:focus {
  border: none;
  outline: none;
  width: 400px;
}

@media (max-width: 760px) {
  #header .title {
    width: 140px;
  }
}

@media (max-width: 600px) {
  #header .title {
    display: none;
  }
}
