.MessagePrefixBadgeUnicorn,
.MessagePrefixBadgeSolidColor {
  flex-shrink: 0;
  border-radius: 100%;
  align-self: center;
}
.MessagePrefixBadgeUnicorn {
  width: 1.25rem;
  height: 1.25rem;

  /* HACK to horizontally align text; this icon needs to match the MessageIcon width. */
  margin: 0 calc((18px - 1.25rem) / 2);
}
.MessagePrefixBadgeSolidColor {
  width: 0.5rem;
  height: 0.5rem;

  /* HACK to horizontally align text; this icon needs to match the MessageIcon width. */
  margin: 0 calc((18px - 0.5rem) / 2);
}

.PrefixBadgeButton {
  position: relative;
  height: 1.25rem;
}

.ColorBadgeButton {
  border-radius: 100%;
  height: 1.25rem;
  width: 1.25rem;
}

.ColorBadgeButtonEmpty {
  background-image: url(~devtools/client/debugger/images/sources/prefix-picker.svg) !important;
}

.PopOutContainer {
  position: absolute;
  right: -0.25rem;
  top: -0.25rem;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
  border-radius: 1rem;
  box-shadow: 0px 1px 2px 0px #00000040;
}
:root:global(.theme-light) .PopOutContainer {
  background: #fff;
}
:root:global(.theme-dark) .PopOutContainer {
  background: #474c52;
}

.PickerItem {
  cursor: pointer;
}

.ColorBadge,
.UnicornBadge {
  border-radius: 100%;
  width: 1.25rem;
  height: 1.25rem;
  flex: 0 0 1.25rem;
}

.UnicornBadge {
  background-image: url(~devtools/client/debugger/images/sources/unicorn-pixel.svg) !important;
  background-size: auto 100%;
}

.Empty {
  background-color: transparent;
}

/* Background fill colors */

:root:global(.theme-light) .unicorn {
  background: #ff6ddf;
  color: #fff;
}
:root:global(.theme-dark) .unicorn {
  background: #e110b3;
  color: #fff;
}

:root:global(.theme-light) .purple {
  background-color: #a973cd;
  color: #fff;
}
:root:global(.theme-dark) .purple {
  background-color: #cc81ff;
  color: #fff;
}

:root:global(.theme-light) .green {
  background-color: #73cc6d;
  color: #fff;
}
:root:global(.theme-dark) .green {
  background-color: #69e261;
  color: #050;
}

:root:global(.theme-light) .orange {
  background-color: #da7c04;
  color: #fff;
}
:root:global(.theme-dark) .orange {
  background-color: #ff9a19;
  color: #fff;
}

:root:global(.theme-light) .yellow {
  background-color: #e4cd00;
  color: rgb(99, 79, 5);
}
:root:global(.theme-dark) .yellow {
  background-color: #fee608;
  color: rgb(99, 79, 5);
}
