:root:global(.theme-light) .consoleBadge,
:root:global(.theme-dark) .consoleBadge {
  flex-shrink: 0;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-top: 5px;
  margin-left: 4px;
  margin-right: 2px;
}

:root:global(.theme-light) .pickerBadge,
:root:global(.theme-dark) .pickerBadge {
  border-radius: 100%;
  position: relative;
  height: 20px;
  width: 20px;
}

:root:global(.theme-light) .unicorn,
:root:global(.theme-dark) .unicorn {
  background-image: url(~devtools/client/debugger/images/sources/unicorn-pixel.svg) !important;
  background-size: auto 100%;
  border-radius: 0;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-top: 3px;
  margin-left: 2px;
  margin-right: 0;
}

:root:global(.theme-light) .pickerunicorn,
:root:global(.theme-dark) .pickerunicorn {
  background-image: url(~devtools/client/debugger/images/sources/unicorn-pixel.svg) !important;
  background-size: auto 100%;
  border-radius: 0;
  background-color: transparent;
}

:root:global(.theme-light) .undefined {
  background-color: var(--theme-base-90);
}

:root:global(.theme-dark) .undefined {
  background-color: var(--theme-base-90);
  color: var(--body-color);
}

:root:global(.theme-light) .empty,
:root:global(.theme-dark) .empty {
  background-color: transparent;
}

/* stay tuned for this */
:root:global(.theme-light) .cancel,
:root:global(.theme-dark) .cancel {
  background-image: url(~devtools/client/debugger/images/sources/cancel.svg) !important;
  background-size: auto 100%;
}

:root:global(.theme-light) .bg-unicorn {
  background: #ff6ddf;
  color: #fff;
}

:root:global(.theme-dark) .bg-unicorn {
  background: #e110b3;
  color: #fff;
}

:root:global(.theme-light) .purple {
  background-color: #a973cd;
  color: #fff;
}

:root:global(.theme-dark) .purple {
  background-color: #cc81ff;
  color: #fff;
}

:root:global(.theme-light) .green {
  background-color: #73cc6d;
  color: #fff;
}

:root:global(.theme-dark) .green {
  background-color: #69e261;
  color: #050;
}

:root:global(.theme-light) .orange {
  background-color: #da7c04;
  color: #fff;
}

:root:global(.theme-dark) .orange {
  background-color: #ff9a19;
  color: #fff;
}

:root:global(.theme-light) .yellow {
  background-color: #e4cd00;
  color: rgb(99, 79, 5);
}

:root:global(.theme-dark) .yellow {
  background-color: #fee608;
  color: rgb(99, 79, 5);
}
