.Container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Header {
  font-size: 1rem;
  line-height: 1rem;
  flex: 0 0 auto;
  padding: 1rem;
}

.Panel {
  flex: 1 1 auto;
  overflow: auto;
  padding: 0 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.Chunk,
.ChunkSelected,
.ChunkErrored,
.ChunkPending {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
  cursor: pointer;
}
.ChunkSelected {
  background-color: var(--theme-selection-background);
  color: var(--theme-selection-color);
}
.ChunkPending {
  color: var(--light-grey);
}
.ChunkErrored {
  color: var(--console-error-color);
}

.Details {
  height: 65%;
  min-height: 65%;
  max-height: 65%;
  overflow: auto;
  border-top: 1px solid var(--theme-border);
}
