.ToolbarHeader {
  display: flex;
  border-bottom: 1px;
  flex-shrink: 0;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  color: var(--body-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 8px;
  border-bottom: 1px;
  border-color: var(--theme-border);
  align-items: center;
}

.SuccessIcon {
  background-color: var(--testsuites-success-color);
}

.SuccessText {
  color: var(--testsuites-success-color);
}

.ErrorIcon {
  background-color: var(--testsuites-error-icon-bgcolor);
}

.ErrorText {
  color: var(--testsuites-error-color);
}

.ErrorTextLighter {
  color: var(--testsuites-error-icon-bgcolor);
}
