.loader {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.loader main {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.loader main section {
  display: flex;
  flex-direction: column;
  border-right: 1px solid var(--theme-splitter-color);
}

.loader main .video {
  transition-duration: 100ms;
  flex-grow: 1;
}

.loader main .debugger {
  flex-grow: 1;
}

.loader main .timeline {
  position: relative;
  box-sizing: content-box;
  min-height: 36px;
}

.loader main .timeline .loading-container {
  width: 100%;
  position: relative;
  margin: 0px 24px;
}

.loader main .timeline .loading-container .tooltip {
  position: absolute;
  width: 80px;
  transform: translateX(-50%);
  text-align: left;
  padding: 8px 12px;
  bottom: 20px;
  border-radius: 8px;
  background: white;
  box-shadow: rgba(15, 15, 15, 0.05) 0px 0px 0px 1px, rgba(15, 15, 15, 0.1) 0px 3px 6px,
    rgba(15, 15, 15, 0.2) 0px 9px 24px;
}

.loader main .timeline .progress-line,
.loader main .timeline .tooltip {
  transition-duration: 200ms;
}

.loader main .comments {
  padding: 20px;
}

.loader main section {
  flex-grow: 1;
}

/* Loading elements */

.loader .loading-placeholder {
  border-radius: 8px;
  background: #e5e7ea;
  overflow: hidden;
  position: relative;
}

.loader .loading-placeholder::before {
  position: absolute;
  background: linear-gradient(to right, transparent, var(--grey-10-a30), transparent);
  display: block;
  height: 100%;
  width: 100px;
  left: -100px;
  content: "";
  animation: skeleton-loading 1.5s cubic-bezier(0.4, 0, 0.2, 1) infinite;
}

.loader header .header-left,
.loader header .links {
  height: 24px;
}

.loader header .message {
  max-width: 640px;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  line-height: 22px;
  margin-right: 0.5em;
  margin-left: 8px;
  color: var(--grey-35);
}

.loader .header-left > *,
.loader .links > * {
  height: 100%;
}

.loader header .back,
.loader header .share,
.loader header .avatar {
  width: 36px;
  height: 36px;
}

.loader header .avatar {
  margin-right: 8px;
  margin-left: 0;
}

.loader header .title {
  width: 64px;
  margin-left: 8px;
  background: var(--new-blue-300);
}

.loader header .subtitle {
  width: 64px;
}

.loader header .view {
  width: 300px;
  height: 32px;
  margin-right: 4px;
}

.loader main .comments .loading-placeholder {
  width: 100%;
  height: 32px;
  margin-bottom: 20px;
}

@keyframes skeleton-loading {
  100% {
    left: 100%;
  }
}
