/*. webreplay */

.webreplay-player {
  -moz-appearance: none;
  background: var(--theme-tab-toolbar-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  box-sizing: border-box;
  min-height: 29px;
  --progressbar-transition: 200ms;
}

.theme-light .webreplay-player {
  --commandbar-button-hover-background: #efefef;
  --progress-recording-background: hsl(0, 100%, 97%);
  --progress-playing-background: hsl(207, 100%, 97%);
  --recording-marker-background: hsl(14.9, 100%, 67%);
  --replaying-marker-background: var(--blue-40);
  --replaying-marker-highlighted-background: var(--blue-60);
  --replaying-marker-location-background: var(--blue-50);
  --recording-marker-background-hover: hsl(14.9, 100%, 47%);
  --replaying-marker-background-hover: var(--blue-60);
  --hover-point: var(--blue-50);
  --progress-recording-line: #d0021b;
  --progressbar-background: #fff;
  --progressbar-line-color: var(--blue-40);
  --proggressbar-border-color: var(--theme-splitter-color);
  --tick-future-background: #bfc9d2;
  --tick-background: var(--blue-50);
  --tick-recording-background: #d0021b;
  --replay-head-background: var(--purple-50);
}

.theme-dark .webreplay-player {
  --commandbar-button-hover-background: #1a1a1a;
  --progress-recording-background: #310707;
  --progress-playing-background: #071a2b;
  --progress-recording-line: #ff2038;
  --recording-marker-background: #9b3131;
  --recording-marker-background-hover: #a82323;
  --replaying-marker-background: #266fb1;
  --replaying-marker-highlighted-background: #3084d0;
  --replaying-marker-location-background: #3084d0;
  --replaying-marker-background-hover: #3a8edb;
  --hover-point: var(--blue-50);
  --progressbar-background: #0c0c0d;
  --proggressbar-border-color: var(--theme-splitter-color);
  --progressbar-line-color: #0a4786;
  --tick-future-background: #bfc9d2;
  --tick-background: var(--blue-50);
  --tick-recording-background: #e77884;
  --replay-head-background: var(--theme-highlight-purple);
}

.webreplay-player .overlay-container {
  display: flex;
}

.webreplay-player .progressBar {
  position: relative;
  width: 100%;
  height: 25px;
  background: var(--progressbar-background);
  border: 1px solid var(--proggressbar-border-color);
  overflow: hidden;
  margin: 2px 5px 2px 0;
}

.webreplay-player .progress {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--progress-playing-background);
  transition-duration: var(--progressbar-transition);
}

.webreplay-player #overlay:not(.recording) .progress::after {
  background: var(--replay-head-background);
  width: 1px;
  height: 100%;
  right: -0.5px;
  opacity: 0.4;
  display: block;
  content: "";
  position: absolute;
}

.webreplay-player .recording .progress {
  background: var(--progress-recording-background);
  transition-duration: var(--progressbar-transition);
}

.webreplay-player .message {
  position: absolute;
  height: 100%;
  width: 7px;
  height: 7px;
  border-radius: 4.5px;
  top: calc(50% - 3.5px);
  background: var(--replaying-marker-background);
}

.webreplay-player .animate .message {
  transition-duration: 100ms;
}

.webreplay-player .message.overlayed {
  border: 1px solid var(--progress-playing-background);
  top: 7.5px;
  height: 9px;
  width: 9px;
}

.webreplay-player .message.overlayed.future {
  border-color: var(--progressbar-background);
}

.webreplay-player .message.highlighted {
  background-color: var(--replaying-marker-highlighted-background);
  transform: scale(1.25);
  transition-duration: 100ms;
}

.webreplay-player .message.location {
  background: var(--replaying-marker-location-background);
}

.webreplay-player .recording .message.highlighted {
  background-color: var(--recording-marker-background-hover);
}

.webreplay-player .recording .message.overlayed {
  border-color: var(--progress-recording-background);
}

.webreplay-player .recording .message {
  background: var(--recording-marker-background);
}

.webreplay-player .recording .message:hover {
  background: var(--recording-marker-background-hover);
}

.webreplay-player .message:hover {
  background: var(--replaying-marker-background-hover);
  cursor: pointer;
}

.webreplay-player .message:hover::before {
  transform: scale(0.1);
}

.webreplay-player .hoverPoint {
  position: absolute;
  height: 100%;
  width: 2px;
  background: var(--hover-point);
}

.webreplay-player .commands {
  display: flex;
  margin: 0 4px;
}

.webreplay-player .command-button {
  display: flex;
  min-width: 20px;
}

.webreplay-player .command-button.primary {
  min-width: 22px;
}

.webreplay-player .btn {
  width: 14px;
  height: 14px;
  mask-size: 14px;
  background: var(--theme-icon-color);
  align-self: center;
  margin: 0 auto;
}

.webreplay-player .primary .btn {
  width: 18px;
  height: 17px;
  mask-size: 18px;
}

.webreplay-player .command-button.active:hover {
  background: var(--commandbar-button-hover-background);
  cursor: pointer;
}

.webreplay-player .command-button.active {
  opacity: 1;
}

.webreplay-player div.command-button .rewind {
  transform: scaleX(-1);
}

.webreplay-player div.command-button .previous {
  transform: scaleX(-1);
  margin-left: 8px;
}

.webreplay-player div.command-button .next {
  margin-right: 8px;
}

.webreplay-player .progress-line {
  width: 0%;
  height: 1px;
  background: var(--progressbar-line-color);
  position: absolute;
  left: 0;
  top: 50%;
  transition-duration: var(--progressbar-transition);
}

.webreplay-player .progress-line.end {
  opacity: 0.3;
}

.webreplay-player .recording .progress-line {
  background: var(--progress-recording-line);
  opacity: 0.3;
}

.webreplay-player .tick {
  position: absolute;
  height: 100%;
}

.webreplay-player .tick::before,
.webreplay-player .tick::after {
  height: 1.5px;
  width: 1px;
  right: 0;
  position: absolute;
  content: "";
  display: block;
}

.webreplay-player .recording .tick::before,
.webreplay-player .recording .tick::after {
  background: var(--tick-recording-background);
}

.webreplay-player .tick.future::before,
.webreplay-player .tick.future::after {
  background: var(--tick-future-background);
}

.webreplay-player .tick::before,
.webreplay-player .tick::after {
  background: var(--tick-background);
}

.webreplay-player .tick::after {
  bottom: 0;
}

.webreplay-player .tick::before {
  top: 0;
}

.webreplay-player #overlay:hover .tick {
  opacity: 1;
}

.webreplay-player #overlay .tick {
  opacity: 0.5;
}

.webreplay-player #overlay .tick:hover ~ .tick,
.webreplay-player #overlay .tick.highlight ~ .tick:not(.highlight) {
  opacity: 0.5;
}

.webreplay-player .untraversed {
  position: absolute;
  height: 100%;
  background: #000000;
  opacity: 0.2;
}

.webreplay-player .unscanned {
  position: absolute;
  height: 100%;
  background: #000000;
  opacity: 0.1;
}

.webreplay-player .zoomboundary {
  padding-top: 7px;
  padding-right: 4px;
}

/*. webreplay */

.webreplay-player {
  -moz-appearance: none;
  background: var(--theme-tab-toolbar-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  box-sizing: border-box;
  min-height: 29px;
  --progressbar-transition: 200ms;
}

.theme-light .webreplay-player {
  --commandbar-button-hover-background: #efefef;
  --progress-recording-background: hsl(0, 100%, 97%);
  --progress-playing-background: hsl(207, 100%, 97%);
  --recording-marker-background: hsl(14.9, 100%, 67%);
  --replaying-marker-background: var(--blue-40);
  --replaying-marker-highlighted-background: var(--blue-60);
  --replaying-marker-location-background: var(--blue-50);
  --recording-marker-background-hover: hsl(14.9, 100%, 47%);
  --replaying-marker-background-hover: var(--blue-60);
  --progress-recording-line: #d0021b;
  --progressbar-background: #fff;
  --progressbar-line-color: var(--blue-40);
  --proggressbar-border-color: var(--theme-splitter-color);
  --tick-future-background: #bfc9d2;
  --tick-background: var(--blue-50);
  --tick-recording-background: #d0021b;
  --replay-head-background: var(--purple-50);
}

.theme-dark .webreplay-player {
  --commandbar-button-hover-background: #1a1a1a;
  --progress-recording-background: #310707;
  --progress-playing-background: #071a2b;
  --progress-recording-line: #ff2038;
  --recording-marker-background: #9b3131;
  --recording-marker-background-hover: #a82323;
  --replaying-marker-background: #266fb1;
  --replaying-marker-highlighted-background: #3084d0;
  --replaying-marker-location-background: #3084d0;
  --replaying-marker-background-hover: #3a8edb;
  --progressbar-background: #0c0c0d;
  --proggressbar-border-color: var(--theme-splitter-color);
  --progressbar-line-color: #0a4786;
  --tick-future-background: #bfc9d2;
  --tick-background: var(--blue-50);
  --tick-recording-background: #e77884;
  --replay-head-background: var(--theme-highlight-purple);
}

.webreplay-player .overlay-container {
  display: flex;
}
