.toast {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 12px 8px;
  background: var(--theme-toolbar-color);
  border-radius: 4px;
  color: white;
  z-index: 100;
  animation: toastIn ease 200ms 1;
}

@keyframes toastIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
