#toolbox {
  overflow: hidden;
  width: 100%;
  font-family: sans-serif;
  display: flex;
  flex-direction: row;
  --toolbox-background: #f9f9fa;
  --paused-background-color: #5b41ff;
}

#toolbox-timeline {
  min-height: 72px;
  background: var(--theme-body-background);
  border-top: 1px solid var(--theme-splitter-color);
  border-bottom: 1px solid var(--theme-splitter-color);
}

#toolbox-toolbar {
  display: flex;
  flex-direction: column;
  border-top: 0px;
  padding: 8px;
}

.toolbox-toolbar-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 0px;
  background: var(--theme-toolbar-background);
  border-right: 1px solid var(--theme-splitter-color);
}

/* Split Console styles */
.toolbox-top-panels {
  width: 100%;
  height: 100%;
}

/* Toolbar Styles */

.toolbar-panel-button {
  float: left;
  display: flex;
  cursor: default;
  line-height: 35px;
  color: var(--theme-toolbar-color);
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 200ms;
}

.toolbar-panel-button:not(:last-child) {
  margin-bottom: 4px;
}

.toolbar-panel-button:hover {
  background-color: var(--toolbarbutton-focus-background);
}

.toolbar-panel-icon {
  width: 24px;
  height: 24px;
  mask-repeat: no-repeat;
  mask-size: cover;
  margin: 4px;
}

.toolbar-panel-button.active {
  color: var(--theme-toolbar-selected-color);
}

.toolbar-panel-icon {
  background: var(--theme-toolbar-color);
}

.toolbar-panel-button.active .toolbar-panel-icon {
  background: var(--theme-toolbar-selected-color);
}

.timeline-tooltip {
  display: flex;
  position: absolute;
  border: 1px solid rgb(204, 204, 204);
  bottom: 72px;
  border-radius: 4px;
  background: #ececec;
  align-items: center;
  justify-content: center;
  z-index: var(--z-index-1--timeline-tooltip);
  background: var(--theme-toolbar-background);
}

.timeline-tooltip-image {
  height: 100%;
  object-fit: contain;
  width: 180px;
}
