.PublishedComment,
.UnpublishedComment {
  font-size: var(--font-size-regular);
}
.UnpublishedComment {
  background-color: var(--background-color-contrast-1);
}

.HeaderRow {
  display: flex;
  align-items: center;
  gap: 1ch;
  padding: 0.25rem;
  user-select: none;
}

.UserName {
  font-weight: bold;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Time {
}

.Avatar {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
}

.ContentWrapper {
  padding: 0.25rem;
  border: 2px solid transparent;
  border-radius: 0.25rem;
}
.ContentWrapper:focus-within {
  border-color: var(--primary-accent);
}
.ContentWrapper p {
  margin: 0;
}

.PublishedReply,
.UnpublishedReply {
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}
.UnpublishedReply {
  background-color: var(--background-color-contrast-1);
}

.Button {
  padding: 0;
  outline: none;
  background: var(--background-color-contrast-1);
  color: var(--color-default);
  border: 2px solid var(--background-color-contrast-2);
  padding: 0.25rem;
  display: flex;
  border-radius: 0.25rem;
  cursor: pointer;
}
.Button:hover {
  border: 2px solid var(--background-color-contrast-3);
}
.Button:focus {
  border: 2px solid var(--primary-accent);
}

.Icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
  display: inline-block;
}

.ReplyButton {
  cursor: pointer;
  user-select: none;
  color: var(--primary-accent);
  outline: none;
  border: none;
  padding: 0.25rem;
  background-color: var(--background-color-contrast-1);
  color: var(--color-default);
  border: 2px solid var(--background-color-contrast-2);
  border-radius: 0.25rem;
  margin: 0.25rem;
}
.ReplyButton:focus {
  border: 2px solid var(--primary-accent);
}

.Input {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.25rem;
  background-color: var(--background-color-contrast-1);
  border: 2px solid var(--background-color-contrast-2);
  color: var(--color-default);
  border-radius: 0.25rem;
  font-family: var(--font-family-default);
}
.Input:focus {
  border: 2px solid var(--primary-accent);
}

.ConfirmDeleteButton {
  background-color: var(--color-error);
  color: var(--color-contrast);
  border-color: var(--color-error);
}

.Labels {
  margin: 0.25rem;
  background-color: var(--comment-card-source-preview-background-color);
  border-radius: 0.25rem;
  font-family: var(--font-family-monospace);
  cursor: pointer;
}
.Labels:hover {
  background-color: var(--comment-card-source-preview-background-color-hover);
}

.PrimaryLabel {
  font-size: var(--font-size-tiny);
  padding: 0.25rem 0.5rem;
}

.SecondaryLabel {
  font-size: var(--font-size-small);
  padding: 0.25rem 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.OuterImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--comment-card-source-preview-background-color);
}

.InnerImageContainer {
  position: relative;
}

.PositionIndicator {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -0.75rem;
  margin-top: -0.75rem;
  fill: var(--color-current);
}

.Image {
  max-width: 100%;
  height: auto;
}
