.List {
  height: 100%;
  border-radius: 0.5rem;
  background-color: var(--background-color-contrast-2);
  overflow: auto;
}

.Header {
  padding: 0.5rem;
  font-size: var(--font-size-large);
  color: var(--color-default);
  display: flex;
  align-items: center;
}
.HeaderLeft,
.HeaderRight {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  gap: 1ch;
}
