.HeaderPrimary,
.HeaderSecondary {
  overflow: hidden;
  text-overflow: ellipsis;
}
.HeaderPrimary {
  flex: 1 1 auto;
}
.HeaderSecondary {
  flex: 0 1 auto;
}

.SubHeader {
  color: var(--color-dimmer);
  font-size: var(--font-size-small);
  text-align: right;
  margin: 0.5rem;
}

.Pre {
  margin: 0.5rem;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-small);
  overflow: auto;
}
