.Loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--body-bgcolor);
  position: relative;
}

.ProgressBarOuter {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  height: 2px;
  background-color: var(--theme-base-100);
  overflow: hidden;
}

.ProgressBarInner {
  width: 100%;
  height: 100%;
  background-color: var(--primary-accent);
  animation: animation 1s infinite linear;
  transform-origin: 0% 50%;
}

.LoadingLabel {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
  color: var(--color-dim);
  padding: 1rem;
}

@keyframes animation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
