.Loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-contrast-2);
}

.ProgressBarOuter {
  flex: 0 0 0.25rem;
  width: 100%;
  background-color: var(--background-color-contrast-3);
  overflow: hidden;
}

.ProgressBarInner {
  width: 100%;
  height: 100%;
  background-color: var(--color-brand);
  animation: animation 1s infinite linear;
  transform-origin: 0% 50%;
}

.LoadingLabel {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dim);
}

@keyframes animation {
  0% {
    transform: translateX(0) scaleX(0);
  }
  40% {
    transform: translateX(0) scaleX(0.4);
  }
  100% {
    transform: translateX(100%) scaleX(0.5);
  }
}
