.Popup {
  position: absolute;
  z-index: 20;
  display: flex;
  flex-direction: column;
  padding: 0;
}
.Popup[data-style="error"] {
  --theme-popup-background-color: var(--background-color-error);
  --theme-popup-border-color: var(--border-color-error);
  --theme-popup-color: var(--color-error);
}

.UpArrow,
.DownArrow {
  height: 0.5rem;
  width: 1rem;
  z-index: 21;
}
.UpArrow {
  order: 0;
  margin-bottom: -1px;
}
.DownArrow {
  transform: rotate(180deg);
  margin-top: -1px;
  order: 1;
}

.ArrowBackground {
  fill: var(--theme-popup-border-color);
}
.ArrowForeground {
  fill: var(--theme-popup-background-color);
}
