.RegularExpressionLiteral {
  color: var(--value-type-regexp);
}

.IdentifierName {
  color: var(--value-type-html-tag);
}

.Invalid {
  color: var(--color-error);
}

.NumericLiteral {
  color: var(--value-type-number);
}

.Punctuator {
  color: var(--value-type-string);
}

.StringLiteral {
  color: var(--value-type-string);
}

.WhiteSpace {
}
