.Boolean,
.NaN,
.Null,
.Number,
.String,
.Symbol,
.Undefined {
  display: flex;
  align-items: center;
  min-height: 1rem;
}

.Boolean {
  color: var(--value-type-boolean);
}

.NaN {
  color: var(--value-type-nan);
}

.Null {
  color: var(--value-type-null);
}

.Number {
  color: var(--value-type-number);
}

.String {
  color: var(--value-type-string);
}

.Symbol {
  color: var(--value-type-symbol);
}

.Undefined {
  color: var(--value-type-undefined);
}

.IconButton {
  height: 1rem;
  width: 1rem;
  outline: none;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

.JumpToDefinitionIcon {
  height: 1rem;
  width: 1rem;
  color: var(--object-inspector-go-to-definition-icon-color);
}
.JumpToDefinitionIcon:hover {
  color: var(--object-inspector-go-to-definition-icon-color-hover);
}

.ArrayPropertyList {
  display: flex;
}
.ArrayPropertyList::before {
  content: "[";
  margin-left: 1ch;
}
.ArrayPropertyList::after {
  content: "]";
}

.FunctionParametersList {
  display: flex;
}
.FunctionParametersList::before {
  content: "(";
  margin-left: 1ch;
}
.FunctionParametersList::after {
  content: ")";
}

.ObjectPropertyList {
  display: flex;
}
.ObjectPropertyList::before {
  content: "{";
  margin-left: 1ch;
}
.ObjectPropertyList::after {
  content: "}";
}

.MapKey {
  display: flex;
}
.MapKey::after {
  color: var(--object-inspector-separator-color);
  content: "→";
  margin-left: 1ch;
  margin-right: 1ch;
}

.Value {
  display: flex;
}
.Value::after {
  color: var(--object-inspector-separator-color);
  content: ",";
  margin-right: 1ch;
}
.Value:last-of-type::after {
  content: "";
  margin-right: 0;
}

.HTMLOpeningTag {
  display: flex;
}
.HTMLOpeningTag::before {
  content: "<";
}
.HTMLOpeningTag::after {
  content: ">";
}

.HTMLClosingTag {
  display: flex;
}
.HTMLClosingTag::before {
  content: "</";
}
.HTMLClosingTag::after {
  content: ">";
}

.HtmlAttribute {
  display: flex;
  margin-left: 1ch;
}
