.timeline .scroll-container {
  overflow-y: auto;
  scrollbar-width: none;
  height: 100%;
  position: relative;
  z-index: 2;
}

.timeline .scroll-content {
  display: flex;
  color: transparent;
}

.timeline .scroll-container::-webkit-scrollbar {
  display: none;
}
