@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url(/fonts/material_icons/MaterialIcons-Regular.woff2) format("woff2"),
    url(/fonts/material_icons/MaterialIcons-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Material Icons Outlined";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/material_icons/MaterialIconsOutlined-Regular.woff2) format("woff2"),
    url(/fonts/material_icons/MaterialIconsOutlined-Regular.otf) format("opentype");
}

.material-icons,
.material-icons-outlined {
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.material-icons {
  font-family: "Material Icons";
}

.material-icons-outlined {
  font-family: "Material Icons Outlined";
}

.material-icons,
.material-icons-outlined {
  visibility: hidden;
}

.fonts-loaded .material-icons,
.fonts-loaded .material-icons-outlined {
  visibility: visible;
}
