.Panel {
  flex: 1;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.LeftPanel,
.RightPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: var(--body-bgcolor);
}
.LeftPanel {
  border-bottom-left-radius: 0.5rem;
}
.RightPanel {
  border-bottom-right-radius: 0.5rem;
}

.ResizeHandle,
.ResizeHandleCollapsedLeft,
.ResizeHandleCollapsedRight {
  height: 100%;
  width: 0.25rem;
  background-color: var(--chrome);
}
.ResizeHandleCollapsedLeft,
.ResizeHandleCollapsedRight {
  width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--body-bgcolor);
}
.ResizeHandleCollapsedLeft {
  border-right: 0.25rem solid var(--chrome);
}
.ResizeHandleCollapsedLeft::after {
  display: blocked;
  content: "Elements";
  cursor: pointer !important;
  transform: rotate(-90deg);
}
.ResizeHandleCollapsedRight {
  border-left: 0.25rem solid var(--chrome);
}
.ResizeHandleCollapsedRight::after {
  display: blocked;
  content: "Properties";
  cursor: pointer !important;
  transform: rotate(90deg);
}
.ResizeHandle:focus {
  outline: none;
}
.ResizeHandleCollapsedLeft:focus,
.ResizeHandleCollapsedRight:focus {
  outline: none;
  background: var(--background-color-resize-handle);
}

.LeftPanelTopRow {
  height: 1.75rem;
  flex: 0 0 1.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
  border-bottom: 1px solid var(--theme-splitter-color);
}

.LeftPanelBottomRow {
  flex: 1 1 auto;
}

.DisabledDuringPlaybackMessage,
.NotMountedYetMessage,
.ProtocolFailedMessage {
  display: flex;
  flex-direction: column;
  color: var(--color-dim);
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: var(--font-size-regular);
}
.DisabledDuringPlaybackMessage,
.NotMountedYetMessage {
  height: 100%;
  align-items: center;
  justify-content: center;
}
.ProtocolFailedMessage {
  margin: 0.5rem;
  background-color: var(--background-color-warning);
  color: var(--color-warning);
  border: 1px solid var(--border-color-warning);
}
