.SearchIconAndInput {
  flex: 1 1 auto;
  height: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-regular);
  background-color: var(--background-color-inputs);
  color: var(--color-default);
  padding: 0 0.25rem 0 0;
  border: 2px solid #0000;
  border-radius: 0.25rem;
}
.SearchIconAndInput:focus-within {
  border-color: var(--primary-accent);
}

.SearchIcon {
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
}

.SearchInput {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  transition: 200ms opacity;
  font-size: var(--font-size-regular);
}
.SearchInput[data-search-in-progress] {
  opacity: 0.5;
}
.SearchInput:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.SearchResults {
  line-height: 1.5rem;
  padding: 0 1ch;
  font-size: var(--font-size-small);
}
