.Panel {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}

.ComponentName {
  height: 1.75rem;
  line-height: 1.75rem;
  padding: 0 0.5rem;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-regular-monospace);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid var(--theme-splitter-color);
}

.Section {
  flex: 1 1 auto;
  padding: 0.5rem;
  background-color: var(--background-color-error);
  color: var(--color-error);
}
