.Container {
  flex: 0 0 auto;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0.25rem 0;
  gap: 0.25rem;
  color: var(--color-default);
  border-bottom-right-radius: 0.5rem;
  border-top: 1px solid var(--background-color-default);
}

.PromptRow,
.ResultRow {
  display: flex;
  flex-direction: Row;
  align-items: center;
  gap: 1ch;
  min-height: 1.5rem;
  line-height: 1.5rem;
  padding: 0 1ch;
}

.Input {
  min-width: 100%;
  outline: none;

  line-height: 1.5rem;
  white-space: pre-wrap;
  word-break: break-word;

  font-family: var(--font-family-monospace);
  font-size: var(--font-size-regular);
}
.Input p {
  margin: 0;
}

.Icon {
  flex: 0 0 0.75rem;
  width: 0.75rem;
  height: 0.75rem;
  color: var(--color-dim);
}

.FallbackState {
  display: flex;
  align-items: center;
  gap: 1ch;
  padding: 0 0.25rem;
  min-height: 1.75rem;

  background-color: var(--background-color-error);
  border-top: 1px solid var(--border-color-error);
  color: var(--color-error);
}
