.ConsoleRoot {
  display: grid;
  grid-template-columns: auto 2fr;
  grid-template-rows: auto 1fr;
  flex: 1 1 auto;
  overflow: hidden;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--background-color-contrast-2);
  word-break: break-all;
  font-size: var(--font-size-regular);
}
.ConsoleRoot:focus {
  outline: none;
}

.ConsoleActions {
  grid-column: 1;
  display: flex;
  justify-content: space-between;
}

.MenuToggleButton,
.DeleteTerminalExpressionButton {
  width: 2rem;
  height: 2rem;
  padding: 0;
  background: none;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MenuToggleButton:focus,
.DeleteTerminalExpressionButton:focus {
  border-color: var(--color-brand);
}

.MenuToggleButtonIcon,
.DeleteTerminalExpressionIcon {
  width: 3rem;
  height: 2rem;
  padding: 0.25rem;
  fill: var(--color-default);
  display: inline-block;
}

.FilterColumn {
  grid-column: 1;
  overflow: auto;
  height: 100%;
  max-width: 12rem;
  border-top: 1px solid var(--background-color-default);
  border-right: 1px solid var(--background-color-default);
}

.MessageColumn {
  grid-column: 1 / -1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--background-color-default);
}

.ConsoleRootOpen .MessageColumn {
  grid-column: 2;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 2rem;
  flex: 0 0 auto;
}

.Loader {
  flex: 1;
  padding: 0.5rem;
}

.ErrorBoundaryFallback {
  grid-column: 2;
}
