.ConsoleRoot {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background-color: var(--background-color-contrast-2);
  word-break: break-all;
}

.TopRow,
.BottomRow {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  overflow: hidden;
  background-color: var(--background-color-contrast-2);
}
.TopRow {
  flex: 0 0 auto;
  align-items: center;
  border-bottom: 1px solid var(--background-color-default);
}

.MenuToggleButton,
.DeleteTerminalExpressionButton {
  width: 3rem;
  height: 2rem;
  flex: 0 0 3rem;
  padding: 0;
  background: none;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MenuToggleButton:focus,
.DeleteTerminalExpressionButton:focus {
  border-color: var(--color-brand);
}

.DeleteTerminalExpressionIcon,
.MenuToggleButtonIcon {
  width: 3rem;
  height: 2rem;
  padding: 0.25rem;
  fill: var(--color-default);
  display: inline-block;
}

.FilterColumn {
  flex: 0 0 25%;
  overflow: auto;
  height: 100%;
  border-right: 1px solid var(--background-color-default);
}

.MessageColumn {
  flex: 1 1 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 2rem;
  flex: 0 0 auto;
}
