.ConsoleRoot {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
  border-radius: 0.5rem;
  background-color: var(--background-color-contrast-2);
  border: 1px solid var(--background-color-contrast-2);
}

.ContentArea {
  flex: 1 1 auto;
  overflow: auto;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 2rem;
}
