.FilterToggles {
  height: 2rem;
  padding: 0 0.25rem;
  flex: 0 0 auto;
  display: flex;
  gap: 1ch;
  border-bottom: 1px solid var(--background-color-default);
}

.FilterInput {
  flex: 1;
  height: 2rem;
  background-color: var(--background-color-default);
  color: var(--color-default);
  padding: 0 1ch;
  border: 2px solid transparent;
  outline: none;
}
.FilterInput:focus {
  background-color: var(--background-color-contrast-1);
  border-color: var(--color-brand);
  border-top-right-radius: 0.5rem;
}

.FilterLabel {
  display: flex;
  align-items: center;
}
