.FilterToggles {
  padding: 0.5rem;
  flex: 0 0 auto;
  display: flex;
  gap: 1ch;
  border-right: 1px solid var(--background-color-contrast-3);
  border-bottom: 1px solid var(--background-color-contrast-3);
}

.FilterInput {
  flex: 1;
  height: 100%;
  background-color: var(--background-color-default);
  color: var(--color-default);
  padding: 0 1ch;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--background-color-contrast-3);
}

.FilterLabel {
  display: flex;
  align-items: center;
}
