.FocusRegionRowOff,
.FocusRegionRowOn {
  padding: 1ch;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1ch;
  align-items: center;
}
.FocusRegionRowOn {
  background-color: var(--focus-mode-active-background-color);
}

.FocusToggleButton {
  width: 10ch;
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  padding: 0.25rem;
}

.RangeSlider {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RangeTrackFocused,
.RangeTrackUnfocused {
  position: absolute;
  top: 50%;
  height: 0.25rem;
  margin-top: -0.125rem;
}
.RangeTrackFocused {
  background-color: var(--region-focused-color);
}
.RangeTrackUnfocused {
  background-color: var(--region-unfocused-color);
}

.RangeStartThumb,
.RangeEndThumb {
  position: absolute;
  cursor: grab;
  width: 1px;
  height: 20px;
  width: 6px;
}
.RangeStartThumb {
  background-color: var(--focus-mode-thumb-color);
  border-radius: 0.25rem 0px 0px 0.25rem;
}
.RangeEndThumb {
  background-color: var(--focus-mode-thumb-color);
  border-radius: 0px 0.25rem 0.25rem 0px;
}

.FocusTimeStamps {
  white-space: nowrap;
  font-size: var(--font-size-regular);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.25rem;
  padding: 0.125rem 0.25rem;
}

.Timeline {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Slider {
  flex: 0 0 auto;
}

.Regions {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.RegionRanges {
  flex: 0 0 0.25rem;
  position: relative;
}

.LoadedRegions,
.LoadingRegions {
  height: 0.25rem;
  position: absolute;
}
.LoadingRegions {
  background-color: var(--region-loading-color);
  bottom: calc(0.5rem + 1px);
}
.LoadedRegions {
  background-color: var(--region-loaded-color);
  bottom: 0.5rem;
}
