.MessageRow,
.MessageRowError,
.MessageRowWarning {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1ch;
  padding: 0.25rem;
  font-family: monospace;
  font-size: 10px;
  border-bottom: 1px solid var(--background-color-contrast-2);
}
.MessageRow {
  background-color: var(--background-color-default);
}
.MessageRowError {
  background-color: var(--background-color-error);
  color: var(--color-error);
}
.MessageRowWarning {
  background-color: var(--background-color-warning);
  color: var(--color-warning);
}

.Time {
  color: var(--color-brand);
}
