.MessageRow,
.MessageRowError,
.MessageRowTrace,
.MessageRowWarning {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--background-color-contrast-2);
  font-family: Menlo, Consolas, monospace;
  font-size: 14px;
}
.MessageRow {
  background-color: var(--background-color-default);
}
.MessageRowError {
  background-color: var(--background-color-error);
  color: var(--color-error);
}
.MessageRowWarning {
  background-color: var(--background-color-warning);
  color: var(--color-warning);
}

.Focused {
  background-color: var(--background-color-contrast-1);
}

.MessageText {
  min-height: 1rem;
}

.Time {
  color: var(--color-brand);
}

.ErrorIcon,
.WarningIcon {
  width: 1rem;
  height: 1rem;
}
.ErrorIcon {
  color: var(--color-error);
}
.WarningIcon {
  color: var(--color-warning);
}

.PrimaryRow {
  display: flex;
  width: 100%;
}

.LogContents {
  display: flex;
  align-items: flex-start;
  gap: 0.5ch;
  width: 100%;
}

.Source {
  flex: 0 0 auto;
  display: flex;
  opacity: 0.75;
}
.Source:hover {
  opacity: 1;
}
