.Container,
.ContainerPending {
  position: relative;
  overflow: auto;
  height: 100%;
}
.ContainerPending {
  opacity: 0.5;
}

.CountRow,
.NoMessagesRow,
.OverflowRow {
  padding: 0.25rem;
}

.OverflowRow {
  background-color: var(--color-error);
  color: var(--color-contrast);
}

.CountRow {
  background-color: var(--background-color-contrast-2);
}
