.AddCommentButton,
.ConsoleMessageHoverButton {
  font-family: var(--font-family-default);
  font-weight: 600;
  padding: 0 0.125em;
  position: absolute;
  left: 0;
  top: 0;
  height: 1.9em;
  border-radius: 0 3em 3em 0;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
}

.ConsoleMessageHoverButton {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
}

.AddCommentButton {
  background-color: var(--background-color-secondary-button);
  color: var(--color-secondary-button);
}

.AddCommentButtonIcon,
.ConsoleMessageHoverButtonIcon {
  width: 1.3em;
  height: 1.3em;
  padding: 0.125em 0.25em 0.125em 0.125em;
  display: inline-block;
}

.Label,
.LabelHovered {
  line-height: 1em;
  transition: padding 100ms ease-in-out;
  transition: all 140ms ease-in-out;
  overflow: hidden;
}
.Label {
  max-width: 0;
  padding: 0;
  opacity: 0;
}
.LabelHovered {
  max-width: 13ch;
  padding: 0 0.5em 0 0.125em;
  opacity: 1;
}
