.Container,
.ContainerPending {
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: Menlo, Consolas, monospace;
  font-size: var(--font-size-regular);
}
.ContainerPending {
  opacity: 0.5;
}

.CountRow,
.OverflowRow {
  padding: 0.5rem 1rem;
}

.OverflowRow {
  background-color: var(--color-error);
  color: var(--color-contrast);
}

.CountRow {
  background-color: var(--background-color-contrast-2);
}
