.StackGrid {
  display: inline-grid;
  grid-template-columns: auto 100%;
  grid-column-gap: 1ch;
}

.Frame {
  padding-left: 1rem;
  display: flex;
  width: 100%;
  gap: 1ch;
}

.Source {
  color: var(--color-brand);
}
