.MessageRow,
.MessageRowError,
.MessageRowWarning {
  display: flex;
  flex-direction: row;
  gap: 1ch;
  padding: 0.25rem;
  font-family: monospace;
  font-size: 10px;
  border-bottom: 1px solid var(--color-gray-2);
}
.MessageRow {
  background-color: var(--color-white);
}
.MessageRowError {
  background-color: var(--color-red-light);
  color: var(--color-red-dark);
}
.MessageRowWarning {
  background-color: var(--color-yellow-light);
  color: var(--color-yellow-dark);
}

.Time {
  color: var(--color-blue);
}
