PLAYWRIGHT_BROWSERS_PATH=<DEVTOOLS-PATH>/devtools/test/playwright/browsers
RECORD_REPLAY_DRIVER=<DEVTOOLS-PATH>/devtools/test/playwright/browsers/firefox-1225/macOS-recordreplay.so
RECORD_REPLAY_RECORDING_ID_FILE=<DEVTOOLS-PATH>/devtools/test/playwright/recordings.log
RECORD_REPLAY_SERVER=wss://dispatch.replay.io