.TourBoxWrapper {
  position: relative;
  background: linear-gradient(323deg, rgba(226, 85, 215, 0.497), rgba(79, 205, 230, 0.777));
}

.TourBoxGradient {
  background: linear-gradient(323deg, rgba(241, 108, 229, 0.897), rgba(126, 217, 235, 0.736));
  background-size: 400% 400%;

  -webkit-animation: AnimationName 12s ease infinite;
  -moz-animation: AnimationName 12s ease infinite;
  animation: AnimationName 12s ease infinite;

  position: relative;
}

.TourBox {
  color: #fff;
  padding: 0.5rem;
  height: 100vh;
}

.h1 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 1rem;
}

.intro {
  color: #fff;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 1rem;
  height: 100%;
}

.intro p {
  margin-bottom: 16px;
  line-height: 120%;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #fff;
  font-size: 15px;
  background-color: #e1f1fb;
}

.info .text {
  padding-left: 1rem; /* equivalent to px-4 in Tailwind */
  padding-right: 1rem; /* equivalent to px-4 in Tailwind */
  padding-top: 1.5rem; /* equivalent to py-6 in Tailwind */
  padding-bottom: 1.5rem;
}

.info .text .header {
  font-size: 16px;
  color: #dd4261;
  margin-bottom: 10px;
  font-weight: 300;
}

.Icon {
  height: 18px;
  margin-right: 0.25rem;
  color: #068;
}

.videoExample {
  width: 100%;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 58% 0%;
  }
  50% {
    background-position: 43% 100%;
  }
  100% {
    background-position: 58% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 58% 0%;
  }
  50% {
    background-position: 43% 100%;
  }
  100% {
    background-position: 58% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 58% 0%;
  }
  50% {
    background-position: 43% 100%;
  }
  100% {
    background-position: 58% 0%;
  }
}
