.TourBoxWrapper {
  position: relative;
  background: linear-gradient(323deg, rgba(48, 3, 45, 0.497), rgba(0, 108, 129, 0.777));
}

.TourBoxGradient {
  background: linear-gradient(323deg, rgba(117, 2, 107, 0.897), rgba(1, 52, 62, 0.736));
  background-size: 400% 400%;

  -webkit-animation: GradientWave 12s ease infinite;
  -moz-animation: GradientWave 12s ease infinite;
  animation: GradientWave 12s ease infinite;

  position: relative;
}

.TourBox {
  color: var(--tour-body-color);
  padding: 0.5rem;
  height: 100vh;
}

.stepCallout {
  display: flex;
  align-items: top;
  color: var(--tour-callout-body-color);
}

.stepCallout .Icon {
  width: 16px;
  color: var(--tour-callout-body-color);
}

.stepCalloutText {
  padding-top: 1px;
}

.h1 {
  color: var(--tour-body-color);
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
}

.intro {
  color: var(--tour-body-color);
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 1rem;
  height: 100%;
  opacity: 0;
  animation: fadeDrop 0.5s ease-out 0.2s forwards;
}

.intro p {
  margin-bottom: 16px;
  line-height: 120%;
}

.info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #fff;
  font-size: 15px;
  background-color: #e1f1fb;
}

.info .text {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.info .text .header {
  font-size: 16px;
  color: #dd4261;
  margin-bottom: 10px;
  font-weight: 300;
}

.Icon {
  height: 18px;
  margin-right: 0.25rem;
  color: #068;
}

.videoExample {
  border-radius: 6px;
  box-shadow: 0 10px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
}

.logPoint {
  background-color: #dd4261;
  border-radius: 6px;
  height: 20px;
  width: 20px;
  margin-left: 7px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2);
}

@keyframes fadeDrop {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@-webkit-keyframes GradientWave {
  0% {
    background-position: 58% 0%;
  }
  50% {
    background-position: 43% 100%;
  }
  100% {
    background-position: 58% 0%;
  }
}
@-moz-keyframes GradientWave {
  0% {
    background-position: 58% 0%;
  }
  50% {
    background-position: 43% 100%;
  }
  100% {
    background-position: 58% 0%;
  }
}
@keyframes GradientWave {
  0% {
    background-position: 58% 0%;
  }
  50% {
    background-position: 43% 100%;
  }
  100% {
    background-position: 58% 0%;
  }
}
