.TourBoxWrapper {
  background-color: #bbe4f8;
  height: 100%;
  position: relative;
  padding: 0;
}

.Larry {
  bottom: 0;
  left: 0;
  position: absolute;
  max-height: 250px;
}

.TourBox {
  padding: 0.5em;
  color: #068;
}

.h1 {
  color: #dd4261;
}

.intro {
  color: #068;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 1rem;
}

.intro p {
  margin-bottom: 16px;
  line-height: 120%;
}

.checklist {
  margin-top: 2rem;
}

.checklist li {
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: medium;
  background-color: #bbe4f8;
}

.Icon {
  height: 18px;
  margin-right: 0.25rem;
  color: #068;
}
