/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.toggle-button {
  padding: 4px;
  height: max-content;
  border-radius: 4px;
  align-self: center;
  margin: 0px 6px;
  cursor: pointer;
}

.toggle-button:focus:not(:focus-visible) {
  outline: none;
  background: inherit;
}

.toggle-button:hover,
.toggle-button:focus:hover {
  background: var(--theme-toolbar-background-hover);
}

.toggle-button.collapsed .img {
  transform: scaleX(-1);
}