.Error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color-error);
  color: var(--color-default);
}

.Logo {
  height: 2.5rem;
  color: var(--color-error);
  margin-bottom: 1rem;
  display: inline-block;
}

.Header {
  font-family: var(--font-family-default);
  font-size: var(--font-size-large);
  margin-bottom: 0.5rem;
}

.Message {
  font-family: var(--font-family-default);
  font-size: var(--font-size-regular);
}
