.Fallback {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-size: var(--font-size-regular);
}

.Header {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem;
  border-bottom: 1px solid var(--theme-border);
}

.Title {
  flex: 1 1 auto;
  color: var(--body-color);
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
  font-size: var(--font-size-large);
}

.ErrorMessageHeader {
  font-size: var(--font-size-medium);
  color: var(--theme-base-60);
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.ErrorMessage {
  flex-direction: row;
  gap: 0.75rem;
  padding: 0.75rem;
}

.Link {
  color: var(--link-color);
  display: block;
  text-decoration: underline;
}
