.Panel {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.Loading {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
