.Row,
.ErrorRow,
.TraceRow,
.WarningRow {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--background-color-contrast-1);
}
.ErrorRow {
  background-color: var(--background-color-error);
  color: var(--color-error);
}
.WarningRow {
  background-color: var(--background-color-warning);
  color: var(--color-warning);
}

.EagerEvaluationIcon,
.ErrorIcon,
.PromptIcon,
.WarningIcon {
  width: 1rem;
  height: 1rem;
  flex: 0 0 1rem;
  display: inline-block;
}
.EagerEvaluationIcon {
  color: var(--color-dim);
}
.ErrorIcon {
  color: var(--color-error);
}
.WarningIcon {
  color: var(--color-warning);
}

.CurrentlyPausedAt {
  position: relative;
}
.CurrentlyPausedAt::after {
  content: " ";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--color-current);
}

.Focused {
  background-color: var(--background-color-contrast-1);
}

.PrimaryRowWithTimestamps,
.PrimaryRowWithoutTimestamps,
.TerminalPrimaryRowWithTimestamps,
.TerminalPrimaryRowWithoutTimestamps {
  width: 100%;
  display: grid;
  grid-column-gap: 1ch;
}
.PrimaryRowWithTimestamps {
  grid-template-columns: min-content auto auto;
}
.PrimaryRowWithoutTimestamps {
  grid-template-columns: auto auto;
}
.TerminalPrimaryRowWithTimestamps {
  grid-template-columns: min-content auto;
}
.TerminalPrimaryRowWithoutTimestamps {
  grid-template-columns: auto;
}

.LogContents {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 0.5ch;
  flex: 1 1 100%;
}

.Source {
  flex: 1 1 100%;
  text-align: right;
  opacity: 0.75;
  overflow: hidden;
}
.Source:hover {
  opacity: 1;
}

.TimeStamp {
  color: var(--color-dim);
  font-size: var(--font-size-small);
  word-break: initial;
}

.MessageText {
  min-height: 1rem;
}

.TerminalLogContents {
  display: flex;
  flex-direction: column;
  gap: 0.5ch;
}

.Exception {
  display: flex;
  align-content: center;
  gap: 0.5ch;
  color: var(--color-error);
}
