.Row,
.ErrorRow,
.TraceRow,
.WarningRow {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--background-color-contrast-1);
}
.ErrorRow {
  background-color: var(--background-color-error);
  color: var(--color-error);

  --color-default: var(--color-error);
  --value-type-string: var(--color-error);
}
.WarningRow {
  background-color: var(--background-color-warning);
  color: var(--color-warning);

  --color-default: var(--color-warning);
  --value-type-string: var(--color-warning);
}

.EagerEvaluationIcon,
.ErrorIcon,
.PromptIcon,
.WarningIcon {
  width: 1rem;
  height: 1rem;
  flex: 0 0 1rem;
  display: inline-block;
  vertical-align: top;
}
.EagerEvaluationIcon {
  color: var(--color-dim);
}
.ErrorIcon {
  color: var(--color-error);
}
.WarningIcon {
  color: var(--color-warning);
}

.Focused {
  background-color: var(--background-color-contrast-1);
}

.PrimaryRowWithTimestamps,
.PrimaryRowWithoutTimestamps,
.TerminalPrimaryRowWithTimestamps,
.TerminalPrimaryRowWithoutTimestamps {
  width: 100%;
  display: grid;
  grid-column-gap: 1ch;
}
.PrimaryRowWithTimestamps {
  grid-template-columns: min-content 1fr minmax(auto, max-content);
}
.PrimaryRowWithoutTimestamps {
  grid-template-columns: 1fr minmax(auto, max-content);
}
.TerminalPrimaryRowWithTimestamps {
  grid-template-columns: min-content auto;
}
.TerminalPrimaryRowWithoutTimestamps {
  grid-template-columns: auto;
}

.LogContents {
  flex: 1 1 100%;
  display: inline;
}

.Source {
  float: right;
  max-width: 50%;
  opacity: 0.75;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  direction: rtl;
  text-align: right;
  margin-left: 1ch;
}
.Source:hover {
  opacity: 1;
}

.TimeStamp {
  color: var(--color-dim);
  font-size: var(--font-size-small);
  word-break: initial;
}

.MessageText {
  min-height: 1rem;
}

.TerminalLogContents {
  display: flex;
  flex-direction: column;
  gap: 0.5ch;
}

.Exception {
  display: flex;
  align-content: center;
  gap: 0.5ch;
  color: var(--color-error);
}

.ColorBadge {
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  flex: 0 0 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--badge-color);
  margin: 0.25rem;
}
.UnicornBadge {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  flex: 0 0 1rem;
  border-radius: 1rem;
  background-image: url(../../../public/unicorn.svg) !important;
  background-size: auto 100%;
}

.Expandable {
  width: 100%;
}

.AnalysisError {
  color: var(--color-error);
}
