.Tree {
  display: flex;
  flex-direction: column;
}
.Tree[data-nested] {
}

.List {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.Scope {
  font-size: var(--font-size-medium);
  color: var(--theme-base-60);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 2rem;
}
