.Placeholder:first-child::before {
  --tw-text-opacity: 1;
  --tw-content: attr(data-placeholder);
  color: var(--theme-icon-dimmed-color);
  float: left;
  content: var(--tw-content);
  pointer-events: none;
  width: 0;
  overflow: visible;
  white-space: nowrap;
}
