.Point {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  gap: 1ch;
  padding: 0.25rem;
  cursor: pointer;
}
.Point[data-test-state="paused"] {
  background-color: var(--background-color-current-execution-point);
}

.Location {
  color: var(--theme-comment);
}

.CreatedByAvatar {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
  flex: 0 0 1rem;
}
