.LogpointsPane {
  color: var(--body-color);
  padding: 8px 0px;
  user-select: none;
}

.List {
  margin: 0 0.5rem;
  border-radius: 0.125rem;
}
.List:not(:last-child) {
  margin-bottom: 0.25rem;
}

.Empty {
  font-style: italic;
  text-align: center;
  padding: 0.5em;
  user-select: none;
  cursor: default;
}
