.comments-container {
  position: absolute;
  z-index: var(--z-index-1--comment-container);
  pointer-events: none;
  width: 100%;
  top: 18px; /* Arbitrary value to push the markers away from the bottom of the overlay container */
  height: 18px; /* Corresponds with the height of the comment marker */
}

.comments-container > * {
  pointer-events: auto;
}

.img.comment-marker {
  width: 19px;
  height: 19px;
  position: absolute;
  background-color: transparent;
  outline: none;
}

.img.comment-marker:hover,
.img.comment-marker.hovered,
.img.comment-marker.expanded,
.create-comment:hover {
  margin-top: -1px;
  animation-duration: 200ms;
  background-color: transparent;
  cursor: pointer;
}

.img.comment-marker.paused {
  z-index: var(--z-index-1--paused-comment);
}

.create-comment {
  width: 19px;
  height: 19px;
  position: absolute;
  outline: none;
  background-position: center;
  background-repeat: no-repeat;
}

.create-comment:focus {
  background-color: transparent;
}

.comments-container .comment {
  position: absolute;
  background: white;
  bottom: 52px;
  border: 1px solid #ccc;
  box-shadow: 0px 3px 4px #eaeaea;
  border-radius: 3px;
  font-size: 1rem;
}

.comments-container .comment-body {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}

.comments-container .comment-avatar {
  background: #7ed8c8;
  width: 44px;
  height: 44px;
  border-radius: 32px;
  margin: 5px;
  margin: 1rem 1rem 0 0;
  border: 5px solid white;
  flex-shrink: 0;
  color: white;
  text-align: center;
  vertical-align: center;
  font-size: 24px;
  font-weight: bold;
  padding-top: 7px;
}

.comment-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.comment-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  line-height: 1.75em;
}

.comment-description {
  line-height: 1.75em;
  color: #737373;
}

.comment textarea {
  width: 100%;
  height: 120px;
  border: 1px solid #e9e9e9;
  padding: 0.5rem;
  font-family: sans-serif;
  font-size: 1.3rem;
  line-height: 1.7rem;
  color: #777;
}

.comment .actions {
  display: flex;
  align-items: center;
}

.comment-jump {
  width: 18px;
  height: 18px;
  transform: scale(0.8);
}

.comment-jump:hover {
  cursor: pointer;
}
