.CommentCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--theme-splitter-color);
  position: relative;
}

.Unpublished {
  background: var(--diff-source-background);
}

.PausedOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: var(--secondary-accent);
}