.CommentCard {
  width: 100%;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 0.5rem 0;
  border-bottom: 1px solid var(--theme-splitter-color);
  position: relative;
}

.Unpublished {
  background-color: var(--theme-base-90);
}

.UnfocusedDimmed {
  opacity: 0.5;
}
.UnfocusedHidden {
  display: none;
}

.PausedOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2px;
  background-color: var(--secondary-accent);
}

.CommentCard :global(code) {
  padding: 2px;
  border-radius: 3px;
  background-color: var(--chrome);
  color: var(--cm-variable);
}
