.Row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.25rem 0.5rem 0;
}

.Button {
  padding: 0 0.25rem;
  color: var(--theme-icon-dimmed-color);
  text-align: left;
}
.Button:hover {
  color: var(--primary-accent);
}

.AttachmentIcon {
  color: var(--theme-icon-dimmed-color);
}
.AttachmentIcon:hover {
  color: var(--primary-accent);
}
