.Sidebar {
  background: var(--tab-bgcolor-alt-subtle);
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Toolbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid var(--theme-splitter-color);
  margin-bottom: 0;
}

.ToolbarHeader {
  flex: 1 1 auto;
  font-size: 15px;
  line-height: 1.25rem;
  font-weight: 400;
  color: var(--body-color);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.List {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  font-size: 0.75rem;
  line-height: 1rem;
  background-color: var(--body-bgcolor);
  overflow-x: hidden;
  overflow-y: auto;
}

.NoComments {
  text-align: center;
  font-size: 15px;
  padding: 20px;
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
  font-size: 1rem;
  padding: 0.75rem;
  align-self: stretch;
}

.NoComments p {
  margin-top: 1rem;
  font-size: var(--font-size-regular);
}

.NoCommentsIcon {
  font-size: 44px;
  color: #c9c9c9;
}

.NoCommentsArrow {
  margin: 0 auto;
}
