.Header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.List {
  display: flex;
  flex-direction: column;
  margin-top: 0.25rem;
  gap: 0.5rem;
}

.Count {
  font-size: var(--font-size-small);
  color: var(--color-dim);
}
