.EventsList {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 0.75rem;
  gap: 0.5rem;
}

.Header {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.FilterInput {
  width: 100%;
  height: 1.5rem;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  background: none;
  border: 2px solid transparent;
  outline: none;
  background-color: var(--background-color-inputs);
  color: var(--color-default);
  font-size: var(--font-size-regular);
}
.FilterInput:focus {
  border-color: var(--color-brand);
}
.FilterInput:disabled {
  opacity: 0.5;
}
