.EventType,
.EventTypeDisabled {
  display: grid;
  grid-template-columns: min-content auto min-content;
  gap: 0.5ch;
}
.EventTypeDisabled {
  opacity: 0.5;
}

.Checkbox {
  margin: 0;
}

.Label {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.CategoryPrefix {
  color: var(--color-dim);
}

.Count {
  font-size: var(--font-size-small);
  color: var(--color-dim);
}

.ArrowIcon {
  fill: var(--collapsible-toggle-color);
  width: 1rem;
  height: 1rem;
}
