.Filters {
  padding: 0.5rem 0;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  word-break: initial;
}

.Filter {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0 0.75rem;
}

.Label {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Count {
  flex: 0 0 auto;
  color: var(--color-dim);
  font-size: var(--font-size-small);
}

.Checkbox {
  margin: 0;
  margin-right: 0.3rem;
  border-radius: 0.25rem;
  color: var(--primary-accent);
}

.Divider {
  width: 100%;
  flex: 0 0 1px;
  border: none;
  background-color: var(--background-color-default);
}
