.Input {
  height: 1.5rem;
  background-color: var(--background-color-inputs);
  color: var(--color-default);
  padding: 0 0.25rem;
  margin: 0.25rem 0.25rem 0.25rem 0;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  outline: none;
}
.Input:focus {
  border-color: var(--color-brand);
}
