.ListItem {
  line-height: 1.5rem;
  padding: 0 1ch;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid var(--listitem-row-divider);
}
.ListItem[data-relative-position="after"] {
  opacity: 0.5;
}
.ListItem[data-relative-position="first-after"] {
  border-bottom-color: var(--color-current);
  border-bottom-width: 2px;
}
.ListItem:hover {
  background-color: var(--theme-table-selection-background-hover);
  cursor: pointer;
  opacity: 1;
}
.ListItem[data-selected] {
  background-color: var(--primary-accent-dimmed);
  color: var(--body-color);
  opacity: 1;
}

.JumpToCodeButton {
  font-family: var(--font-family-default);
  font-weight: bold;
  padding: 0 0.125rem;
  position: absolute;
  left: 0;
  top: 0;
  height: 1.5rem;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  cursor: pointer;
  display: none;
  border-radius: 0 1rem 1rem 0;
}

.ListItem:hover .JumpToCodeButton {
  display: flex;
}

.SmallerIcon {
  height: 1rem;
}
