.LocationRow,
.MatchRow {
  height: var(--list-row-line-height);
  line-height: var(--list-row-line-height);

  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}

.LocationRow {
  display: flex;
  align-items: center;
  gap: 1ch;
  white-space: pre;
  padding: 0 0.5em;
}
.MatchRow {
  white-space: pre;
  padding: 0 0.5em;
}
.LocationRow:hover,
.MatchRow:hover {
  background-color: var(--background-color-contrast-3);
}

.MatchRow {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-small);
  color: var(--color-search-results);
}

.GroupLine {
  display: inline-block;
  height: var(--list-row-line-height);
  border-left: 1px solid var(--collapsible-toggle-color);
  font-size: var(--font-size-regular);
  margin: 0 0.5em;
  padding-left: 0.5em;
}

.Location {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
}

.LocationIcon {
  flex: 0 0 1.25em;
  width: 1.25em;
  height: 1.25em;
  display: inline-block;
  color: var(--color-dim);
}

.Count {
  color: var(--color-dim);
  font-size: var(--font-size-small);
}

.Expandable {
  display: block;
}
