/* Dark theme */

:root:global(.theme-dark) .libraryRow {
  color: var(--body-color);
  background-color: var(--body-bgcolor);
}

:root:global(.theme-dark) .libraryRow:hover {
  background-color: var(--primary-accent-dimmed-hover);
}

:root:global(.theme-dark) .libraryRowSelected {
  background-color: var(--primary-accent-dimmed);
}

:root:global(.theme-dark) .libraryRowSelected:hover {
  background-color: var(--primary-accent-dimmed-hover);
}

/* Light theme */

:root:global(.theme-light) .libraryRow {
  background-color: var(--theme-base-100);
  color: var(--body-color);
}

:root:global(.theme-light) .libraryRow:hover {
  background-color: var(--grey-10);
}

:root:global(.theme-light) .libraryRowSelected {
  background-color: var(--primary-accent-dimmed);
}

:root:global(.theme-light) .libraryRowSelected:hover {
  background-color: var(--primary-accent-dimmed-hover);
}

.flakyPill {
  color: var(--theme-base-100);
  background-color: var(--testsuites-flaky-color);
}

.failedPill {
  color: var(--theme-base-100);
  background-color: var(--testsuites-failed-color);
}

.successPill {
  color: var(--theme-base-100);
  background-color: var(--testsuites-success-color);
  border-radius: 50%;
}

.testsuitesSuccess {
  background-color: var(--testsuites-v2-success-icon);
}

.testsuitesFailed {
  background-color: var(--testsuites-v2-failed-icon);
}

.testsuitesFlaky {
  background-color: var(--testsuites-v2-flaky-icon);
}

.testStatusHeader[data-status="Failed"] {
  color: var(--testsuites-v2-failed-header);
}

.testStatusHeader[data-status="Passed"] {
  color: var(--testsuites-v2-success-header);
}

.testStatusHeader[data-status="Flaky"] {
  color: var(--testsuites-v2-flaky-header);
}
