.Header {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.75rem;
  border-bottom: 1px solid var(--theme-border);
}

.SummaryRow {
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 1ch;
}

.BackButton {
  border: none;
  background: none;
  outline: none;
  width: 1rem;
  height: 1rem;
}

.Chevron {
  flex: 0 0 1rem;
  height: 1rem;
}

.Title {
  flex: 1 1 auto;
  font-size: var(--font-size-large);
  color: var(--body-color);
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.ResultIconAndLabel {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.ResultIconAndLabel[data-status="failed"] {
  color: var(--testsuites-error-icon-bgcolor);
}
.ResultIconAndLabel[data-status="passed"] {
  color: var(--testsuites-success-color);
}
.ResultIconAndLabel[data-status="skipped"] {
  color: var(--testsuites-skipped-color);
}

.Body {
  flex: 1 1 auto;
}

.ResizeHandle {
  height: 0.75rem;
}
.ResizeHandleBar {
  width: 100%;
  height: 1px;
  background-color: var(--theme-border);
}

.TestStepsPanel {
  min-height: 2.5rem;
}

.TestStepDetailsPanel {
  min-height: 1.75rem;
}

.TestStepDetailsHeader {
  font-size: var(--font-size-large);
  display: flex;
  align-items: center;
  gap: 1ch;
  cursor: pointer;
  padding: 0 0.75rem;
}

.TestStepDetailsContainer {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  gap: 0.75rem;
}

.TestStepsContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0.75rem 0.75rem;
  overflow: auto;
}
