.workspace-members-container .workspace-members {
  list-style-type: none;
  overflow: auto;
}

/* Permissions dropdown */

.workspace-members-container .member-permissions .expand-dropdown {
  padding: 0px;
  color: var(--theme-toolbar-color);
  background: inherit;
}

.permissions-dropdown-item {
  padding: 0px;
  padding: 0px;
  color: var(--theme-toolbar-color);
  background: inherit;
  line-height: 20px;
  font-size: 14px;
  padding: 4px 8px 4px 8px;
}

.permissions-dropdown-item:hover {
  background-color: var(--grey-20);
  cursor: pointer;
}

/* Override common.css line 100 button pointer-events behavior so group-hover will work*/
button > * {
  pointer-events: auto;
}
