main.dashboard {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 0; /* This is to make sure that the dashboard's children appear below the Header's dropdown menu. */
}

.dashboard-viewer {
  width: 100%;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.dashboard-viewer *:focus:not(:focus-visible) {
  outline: none;
}

.dashboard-viewer .dashboard-viewer-content {
  overflow: hidden;
  flex-grow: 1;
}

.dashboard-viewer .dashboard-viewer-content *:focus:not(:focus-visible) {
  overflow: auto;
}
