.Editor {
  position: relative;
}

.ContentEditable {
  outline: 0;
  border: 0;
}
.Placeholder {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-dim);
}

/* Theme */

.LexicalBold,
.LexicalCode,
.LexicalItalic,
.LexicalStrikethrough,
.LexicalUnderline,
.LexicalUnderlineStrikethrough {
  font-size: inherit;
}

.LexicalBold {
  font-weight: bold;
}

.LexicalCode {
  padding: 2px;
  border-radius: 0.25rem;
  background-color: var(--background-color-default);
  color: var(--color-brand);
  font-family: var(--font-family-monospace);
}

.LexicalItalic {
  font-style: italic;
}

.LexicalStrikethrough {
  text-decoration: line-through;
}

.LexicalUnderline {
  text-decoration: underline;
}

.LexicalUnderlineStrikethrough {
  text-decoration: underline line-through;
}

.bugStyle {
  @apply border-green-600 bg-green-100 text-green-600;
}

.breadcrumbsStyle {
  @apply border-yellow-600 bg-yellow-100 text-yellow-600;
}

.questionStyle {
  @apply border-red-600 bg-red-100 text-red-600;
}

.infoStyle {
  @apply border-zinc-500 bg-gray-50 text-zinc-500;
}
