.static-tooltip {
  position: fixed;
  line-height: 16px;
  animation: static-tooltip 200ms ease;
  opacity: 0;
  animation-fill-mode: forwards;
  font-size: var(--theme-body-font-size);
  min-width: 42px; /* Reduces jitter between loading state (...) and non-loading state (3 hits) */
  pointer-events: none;
}

.static-tooltip .static-tooltip-content {
  border-radius: 6px;
}

.static-tooltip:not(.awesome-tooltip) .static-tooltip-content {
  padding: 4px 8px;
  background: var(--theme-popup-color);
  color: var(--theme-popup-background);
  opacity: 100;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.static-tooltip.hot .static-tooltip-content {
  background: var(--theme-errant-popup-color);
}

.static-tooltip.hot .material-icons {
  font-size: var(--theme-body-font-size);
  color: white;
  margin-right: 4px;
}

@keyframes static-tooltip {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
