.Input {
  appearance: none;
  width: 1rem;
  height: 1rem;
  margin: 0;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: var(--checkbox);
  border-color: var(--checkbox-border);
  color: var(--primary-accent);
}

.Label {
  flex: 1;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-column-gap: 0.25rem;
}

.SecondaryLabel {
  color: var(--color-dim);
  font-size: var(--font-size-small);
}
