.Header {
  background-color: var(--chrome);
  height: 50px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 8px;
  justify-content: space-between;
}

.Links {
  display: flex;
  align-items: center;
}
.Links > * {
  margin-left: 8px;
}

.Avatars {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.EditableTitle,
.ReadOnlyTitle {
  flex: 0 1 auto;
  margin: 0 0.25em;
  padding: 0.25em;
  border: 2px solid transparent;
  border-radius: 0.25em;

  font-family: Inter, sans-serif;
  font-size: 18px;
  line-height: 22px;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.EditableTitle {
  cursor: pointer;
}
.EditableTitle:hover {
  background-color: var(--title-hover-bgcolor);
}
.EditableTitle:focus {
  outline: none;
  border-color: var(--primary-accent);
}

.BackButton {
  width: 24px;
  height: 24px;
  transform: rotate(180deg);
  margin: 2px 2px 0 6px;
}

.VisibilityIcon {
  width: 1rem;
  height: 1rem;
}

.VisibilityIconAndText {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
  font-size: var(--font-size-regular);
  background-color: var(--body-bgcolor);
  border-radius: 1rem;
  overflow: hidden;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.VisibilityIconAndText:hover {
  background-color: var(--title-hover-bgcolor);
}
