.Header {
  background-color: var(--chrome);
  height: 50px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 8px;
  justify-content: space-between;
}

.Links {
  display: flex;
  align-items: center;
}
.Links > * {
  margin-left: 8px;
}

.Avatars {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.Title {
  max-width: 640px;
  font-size: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  line-height: 22px;
  margin-right: 0.5em;
  margin-left: 8px;
  font-weight: 600;
}
