#header {
  background-color: var(--theme-toolbar-background);
  border-bottom: 1px solid var(--theme-splitter-color);
  height: 50px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 0 8px;
  justify-content: space-between;
}

#header .logo {
  height: 24px;
  width: 24px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border: 4px solid transparent;
  box-sizing: content-box;
}

#header .header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

#header .title-container {
  color: var(--theme-toolbar-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 8px;
}

#header .subtitle {
  color: var(--theme-text-color-inactive);
  font-style: italic;
}

#status {
  padding-left: 10px;
  flex-grow: 1;
  color: var(--theme-comment);
  font-size: 1.1rem;
}

#header .links {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

#header .avatar:not(.authenticated) {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  box-shadow: 0 0 0 2px var(--theme-toolbar-background);
}

#header .avatar:not(.authenticated):not(:last-child) {
  margin-left: -10px;
}

#header .links .avatars {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
}

.avatar {
  display: flex;
  align-items: center;
}

#header .links > * {
  margin-left: 16px;
}

#header .title {
  max-width: 320px;
  font-size: 1.25rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: none;
  cursor: text;
  line-height: 18px;
  margin-right: 0.5em;
  color: var(--primary-accent);
}

#header input.title:focus {
  border: none;
  outline: none;
  width: 400px;
}

button.login {
  border-radius: 4px;
  padding: 8px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 16px;
}

.loading-bar {
  height: 4px;
  background: linear-gradient(138.3deg, #236eff 7.98%, #71e5ff 93.53%);
  transition-duration: 300ms;
}

@keyframes dropdownFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* @media (max-width: 760px) {
  #header .title {
    width: 140px;
  }
}

@media (max-width: 600px) {
  #header .title {
    display: none;
  }
} */
