#header .share .dropdown-wrapper > button {
  border: none;
  padding: 4px;
}

#header .share .dropdown-wrapper > button .img {
  height: 20px;
  width: 20px;
}

#header .share .dropdown-container .content {
  width: 360px;
  right: -20px;
}

#header .share .dropdown-container .row .icon {
  height: 24px;
  width: 24px;
  margin-right: 8px;
  margin-left: 4px;
}

#header .share .dropdown-container .row .label {
  flex-grow: 1;
}

#header .share .dropdown-container .row .label-description {
  color: var(--theme-comment);
  line-height: 16px;
}

#header .share .dropdown-container .row button {
  background: var(--primary-accent-hover);
  color: var(--theme-toolbar-background);
  padding: 8px 12px;
  line-height: 16px;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

#header .share .dropdown-container .row button .img {
  background: var(--theme-toolbar-background);
}

#header .share .dropdown-container .row.link:not(:last-child) {
  margin-bottom: 12px;
}

#header .share .dropdown-container .row.link:hover {
  background-color: inherit;
}

#header .share .dropdown-container .row.link input {
  flex-grow: 1;
  margin-right: 8px;
  border: none;
  background-color: #eee;
  line-height: 16px;
  padding: 8px;
  border-radius: 4px;
}

#header .share .dropdown-container .row.link .status {
  display: flex;
  height: 32px;
  width: 100%;
  background: var(--primary-accent-hover);
  color: white;
  border-radius: 4px;
  animation: hop 300ms linear alternate 1;
}

#header .share .dropdown-container .row.link .status .success {
  margin: auto;
}

#header .share .dropdown-container .row.privacy {
  cursor: pointer;
}

#header .share .dropdown-container .row.privacy button.toggle {
  position: relative;
  height: 18px;
  border-radius: 12px;
  width: 28px;
  align-items: center;
  transition-duration: 200ms;
  padding: 0px;
  box-sizing: content-box;
}

#header .share .dropdown-container .row.privacy button.toggle:focus {
  outline: none;
}

#header .share .dropdown-container .row.privacy button.toggle.on {
  border: 2px solid var(--primaryAccent);
  background: var(--primary-accent-hover);
}

#header .share .dropdown-container .row.privacy button.toggle.off {
  border: 2px solid var(--light-grey);
  background: var(--light-grey);
}

#header .share .dropdown-container .row.privacy button.toggle.on .switch {
  left: 10px;
}

#header .share .dropdown-container .row.privacy button.toggle.off .switch {
  left: 0px;
}

#header .share .dropdown-container .row.privacy button .switch {
  position: relative;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: white;
  transition-duration: 200ms;
}

@keyframes hop {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(0, -1px);
  }
  25% {
    transform: translate(0, -2px);
  }
  75% {
    transform: translate(0, -2px);
  }
  90% {
    transform: translate(0, -1px);
  }
  100% {
    transform: translate(0, 0px);
  }
}
