.icon {
  background-color: var(--icon-color);
  cursor: pointer;
}

.icon:hover {
  background-color: var(--primary-accent);
}

.icon.selected {
  background-color: var(--primary-accent);
}

.icon.selected:hover {
  background-color: var(--primary-accent-hover);
}

.HorizontalDivider {
  border-top: 1px solid var(--theme-base-90);
  margin: 0.5rem 0;
}

.VerticalDivider {
  height: 1em;
  border-right: 1px solid var(--theme-base-90);
  padding-right: 0.25rem;
  margin-right: 0.25rem;
}
