.LayoutButton {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LayoutIcon {
  background-color: var(--icon-color);
  cursor: pointer;
}
.LayoutIcon:hover {
  background-color: var(--primary-accent);
}
.LayoutButton[data-layout-option-selected] .LayoutIcon {
  background-color: var(--primary-accent);
}
.LayoutButton[data-layout-option-selected] .LayoutIcon:hover {
  background-color: var(--primary-accent-hover);
}

.VideoIcon {
  cursor: pointer;
}
.VideoIcon[data-icon-selected] {
  color: var(--primary-accent);
}
.VideoIcon:hover {
  color: var(--primary-accent);
}
.VideoIcon[data-icon-selected]:hover {
  color: var(--primary-accent-hover);
}

.HorizontalDivider {
  border-top: 1px solid var(--theme-base-90);
  margin: 0.5rem 0;
}

.VerticalDivider {
  height: 1em;
  border-right: 1px solid var(--theme-base-90);
  padding-right: 0.25rem;
  margin-right: 0.25rem;
}
