.view-toggle {
  display: flex;
  padding: 2px 0;
  cursor: pointer;
  text-align: left;
  padding: 1px;
  width: auto;
  appearance: none;
  border: none;
  outline: none !important;
  border-radius: 8px;
  font-size: 15px;
  background: var(--cool-gray-200);
  border: 1px solid var(--cool-gray-200);
  position: relative;
}

.view-toggle .handle {
  position: absolute;
  content: "";
  height: calc(100% - 2px);
  border-radius: 6px;
  background: white;
  width: calc(50% - 2px);
  top: 0;
  left: 0;
  margin: 1px;
  transition: left 200ms ease-out;
}

.view-toggle .option {
  display: flex;
  align-items: center;
  position: relative;
}

.view-toggle .text {
  min-width: 145px;
  text-align: center;
  padding: 3px 36px;
  white-space: nowrap;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
  z-index: 1;
  transition: ease-in-out 80ms color;
}
.view-toggle .active {
  color: #000;
  font-weight: 400;
}
