.Pill {
  display: flex;
  height: 1.35rem;
  min-width: 1.35rem;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  font-size: 0.75rem;
  font-weight: 700;
  padding: 0 0.5rem;
}

.flakyPill {
  color: var(--theme-base-100);
  background-color: var(--testsuites-flaky-color);
}

.failedPill {
  color: #fff; /* we want white in both themes, or else the contrast is bad */
  background-color: var(--testsuites-failed-color);
}

.successPill {
  color: var(--theme-base-100);
  background-color: var(--testsuites-success-color);
  border-radius: 12px;
}
