/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --theme-focus-border-color-textbox: #0675d3;
  --theme-textbox-box-shadow: rgba(97, 181, 255, 0.75);

  /* Text sizes */
  --root-font-size: 16px;
  --devtools-base-font-size: 12px;
  --theme-body-font-size: 12px;
  --theme-code-font-size: 11px;
  --theme-tab-font-size: 15px;
  --theme-code-line-height: calc(15 / 11);

  /* Toolbar size (excluding borders) */
  --theme-toolbar-height: 24px;

  /* For accessibility purposes we want to enhance the focus styling. This
   * should improve keyboard navigation usability. */
  --theme-focus-outline: 1px dotted var(--theme-focus-outline-color);
  --theme-focus-box-shadow-textbox: 0 0 0 1px var(--theme-textbox-box-shadow);

  --toolbarbutton-focus-bgcolor: var(--theme-selection-focus-background);
  --toolbarbutton-focus-color: var(--theme-selection-focus-color);
  --toolbarbutton-checked-background: var(--theme-selection-background);
  --toolbarbutton-checked-color: var(--theme-selection-color);
  --toolbarbutton-checked-focus-background: var(--blue-60);

  /* The photon animation curve */
  --animation-curve: cubic-bezier(0.07, 0.95, 0, 1);

  /*
   * Photon Colors CSS Variables v3.3.2
   * - Colors are taken from https://github.com/FirefoxUX/photon-colors/blob/master/photon-colors.css
   * - We only add Photon color variables that we are actually using; unused
   *   variables will fail browser/base/content/test/static/browser_parsable_css.js
   * - We added a few unofficial colors: a few intermediary values (e.g. Blue 45),
   *   and lighter variants for the dark theme (e.g. Red 20, Red 40).
   */

  --primary-accent-text: #007aff;
  --primary-accent: #01acfd;
  --primary-accent-hover: #0194ff;
  --primary-accent-light: #85bfff;

  --primary-accent-legacy: #007aff;
  --primary-accent-legacy-hover: #0067d7;

  --secondary-accent: #f02d5e;
  --secondary-accent-hover: #d72451;
  --secondary-accent-stroke: #f02d5e;

  /* used in our codebase, to be refactored */
  --new-blue-900: #215487;
  --cool-gray-200: #e5e7eb;
  --cool-gray-300: #d1d5db;
  --cool-gray-400: #9ca3af;
  --cool-gray-500: #6b7280;
  --magenta-65: #dd00a9;
  --purple-50: #9400ff;
  --purple-60: #8000d7;
  --blue-30: #75baff;
  --blue-40: #45a1ff;
  --blue-50: #0a84ff;
  --blue-55: #0074e8;
  --blue-60: #0060df;
  --blue-70: #003eaa;
  --blue-80: #002275;
  --green-50: #30e60b;
  --green-60: #12bc00;
  --green-70: #058b00;
  --yellow-50: #ffe900;
  --yellow-60: #d7b600;
  --yellow-65: #be9b00;
  --yellow-70: #a47f00;
  --yellow-80: #715100;
  --yellow-90: #3e2800;
  --red-20: #ffb3d2;
  --red-40: #ff3b6b;
  --red-50: #ff0039;
  --red-60: #d70022;
  --red-70: #a4000f;
  --grey-10: #f9f9fa;
  --grey-10-a15: rgba(249, 249, 250, 0.15);
  --grey-10-a20: rgba(249, 249, 250, 0.2);
  --grey-10-a25: rgba(249, 249, 250, 0.25);
  --grey-10-a30: rgba(249, 249, 250, 0.3);
  --grey-20: #ededf0;
  --grey-25: #e0e0e2;
  --grey-30: #d7d7db;
  --grey-35: #c3c3c6;
  --grey-40: #b1b1b3;
  --grey-43: #a4a4a4;
  --grey-45: #939395;
  --grey-50: #737373;
  --grey-55: #5c5c5f;
  --grey-60: #4a4a4f;
  --grey-70: #38383d;
  --grey-80: #2a2a2e;
  --grey-90: #0c0c0d;
  --grey-90-a10: rgba(12, 12, 13, 0.1);
  --grey-90-a30: rgba(12, 12, 13, 0.3);
}

:root.theme-light {
  /*
  TABLE OF CONTENTS
  - Color ramp
  - Core classes
  - Tabs
  - Timeline
  - Menus
  - Code Mirror (Editor)
  - Breakpoints
  - To Organise
  - (Previous styles; to organise)
  */

  /* Color ramp (Light) */
  --theme-base-100: hsl(0, 0%, 100%);
  --theme-base-95: hsl(0, 0%, 95%);
  --theme-base-90: hsl(0, 0%, 90%);
  --theme-base-85: hsl(0, 0%, 85%);
  --theme-base-80: hsl(0, 0%, 80%);
  --theme-base-70: hsl(0, 0%, 70%);
  --theme-base-60: hsl(0, 0%, 60%);

  /* Core classes (Light) */
  --chrome: var(--theme-base-95); /* bg app */

  --checkbox-border: var(--theme-base-80);
  --checkbox: #fff;
  --modal-bgcolor: rgba(255, 255, 255, 0.95);
  --modal-border: none;
  --theme-tab-bgcolor-alt-subtle: var(--theme-base-100); /* info, events */
  --theme-tab-bgcolor: var(--theme-base-90); /* bg tabs */
  --theme-body-bgcolor: var(--theme-base-100); /* bg text */
  --theme-border: #d2d5da;
  --icon-color: var(--theme-body-color);
  --theme-focuser-bgcolor: var(--primary-accent);
  --theme-sidebar-background: var(--theme-base-100);
  --theme-text-field-bgcolor-color: var(--theme-body-color);
  --theme-text-field-bgcolor: var(--theme-base-95);
  --text-field-border: var(--cool-gray-300);
  --menu-bgcolor: var(--theme-toolbar-background);
  --menu-color: var(--theme-body-color);
  --menu-hover-bgcolor: var(--theme-base-95);
  --menu-hover-color: #000;
  --tab-selected-bgcolor: var(--theme-base-100); /* current tab */

  /* Tabs (Light) */
  --tab-bgcolor: var(--theme-base-90);
  --tab-color: var(--theme-base-40);
  --tab-hover-bgcolor: var(--theme-base-85);
  --tab-hover-color: var(--tab-selected-color);
  --tab-selected-bgcolor: var(--theme-base-100); /* current tab */
  --tab-selected-color: var(--theme-body-color);
  --tab-standard-color: rgba(0, 0, 0, 0.5);
  --tab-standard-hover-bgcolor: var(--theme-toolbar-hover);
  --theme-tab-bgcolor: var(--theme-base-90); /* bg tabs */

  /* Timeline (Light) */
  --progressbar-preview-max: var(--theme-base-85);
  --progressbar-preview-min: var(--theme-base-80);
  --progressbar-unplayed: var(--theme-base-100);

  /* Menus (Light) */
  --menu-bgcolor: var(--theme-toolbar-background);
  --menu-color: var(--theme-body-color);
  --menu-hover-bgcolor: var(--theme-base-95);
  --menu-hover-color: #000;
  --theme-menu-highlight: #f3f4f6;

  /* Code Mirror (Light) */
  --cm-linenumber: var(--grey-80);
  --cm-keyword: #dd00a9;
  --cm-variable: #8000d7;
  --cm-def: #3172e0;
  --cm-string: #0842a4;
  --cm-number: #18181a;
  --caret-color: #18181a;
  --debug-line-border: #037aff;
  --debug-line-background: #e9f3ff;

  /* Breakpoints (Light) */
  --breakpoint-arrow-disabled: var(--theme-base-90);
  --breakpoint-arrow: var(--theme-comment);
  --breakpoint-editfield-active: #fff;
  --breakpoint-editfield-hover: var(--theme-text-field-bgcolor);
  --breakpoint-status-bg: var(--theme-base-90);
  --breakpoint-status: var(--theme-body-color);
  --breakpoint-tip: var(--theme-highlight-purple);
  --breakpoint-label: var(--cm-string);

  /* To organise (Light) */
  --jellyfish-bgcolor: rgba(255, 255, 255, 0.8);
  --theme-console-input-bgcolor: var(--theme-body-bgcolor);
  --theme-toggle-handle-bgcolor: var(--theme-base-100);
  --theme-toggle-inner: var(--cool-gray-200);
  --theme-toggle-selected: white;
  --theme-toggle-bgcolor: var(--theme-base-85);
  --theme-toolbar-hover: #fff;
  --toolbarbutton-focus-bgcolor: var(--theme-base-90);
  --toolbox-bgcolor: var(--theme-base-100);
  --unloaded-region-img: url("/images/dotted-mask-light.svg");

  /* Toolbar */
  --theme-tab-toolbar-background: var(--grey-20);
  --theme-toolbar-background: var(--grey-10);

  --theme-toolbar-selected-color: var(--theme-body-color);
  --theme-toolbar-panel-icon-color: #bcbcbc;
  --theme-toolbar-highlighted-color: var(--green-60);
  --theme-toolbar-background-hover: rgba(221, 225, 228, 0.66);
  --theme-toolbar-background-alt: #f5f5f5;

  --theme-toolbar-hover-active: var(--grey-20);
  --theme-toolbar-separator: var(--grey-90-a10);

  /* Toolbar buttons */
  --toolbarbutton-background: var(--theme-toolbar-background);
  --toolbarbutton-hover-background: var(--theme-toolbar-hover);

  /* Buttons */
  --theme-button-background: rgba(12, 12, 13, 0.05);
  --theme-button-active-background: rgba(12, 12, 13, 0.1);

  /* Accordion headers */
  --theme-accordion-header-background: var(--theme-toolbar-background);
  --theme-accordion-header-hover: var(--theme-toolbar-hover);

  /* Selection */
  --theme-selection-background: var(--primary-accent);
  --theme-selection-background-hover: #f0f9fe;
  --theme-selection-focus-background: var(--toolbarbutton-hover-background);
  --theme-selection-focus-color: var(--grey-70);
  --theme-selection-color: #ffffff;

  /* Border color that splits the toolbars/panels/headers. */
  --theme-splitter-color: var(--grey-25);
  --theme-emphasized-splitter-color: var(--grey-30);
  --theme-emphasized-splitter-color-hover: var(--grey-40);

  /* Icon colors */
  --theme-icon-color: rgba(12, 12, 13, 0.8);
  --theme-icon-dimmed-color: rgba(135, 135, 137, 0.9);
  --theme-icon-checked-color: var(--blue-60);
  --theme-icon-error-color: var(--red-60);
  --theme-icon-warning-color: var(--yellow-65);

  /* Text color */
  --theme-comment: var(--grey-50);
  --theme-body-color: #38383d;
  --theme-text-color-alt: var(--grey-50);
  --theme-text-color-inactive: var(--grey-40);
  --theme-text-color-strong: var(--grey-90);

  --theme-highlight-green: var(--green-70);
  --theme-highlight-blue: var(--blue-55);
  --theme-highlight-purple: var(--blue-70);
  --theme-highlight-red: var(--magenta-65);
  --theme-highlight-yellow: #fff89e;

  /* These theme-highlight color variables have not been photonized. */
  --theme-highlight-bluegrey: #0072ab;
  --theme-highlight-lightorange: #d97e00;
  --theme-highlight-orange: #f13c00;
  --theme-highlight-pink: #b82ee5;
  --theme-highlight-gray: #dde1e4;

  /* For accessibility purposes we want to enhance the focus styling. This
   * should improve keyboard navigation usability. */
  --theme-focus-outline-color: #000000;

  /* Colors used in Graphs, like performance tools. Similar colors to Chrome's timeline. */
  --theme-graphs-green: #85d175;
  --theme-graphs-blue: #83b7f6;
  --theme-graphs-bluegrey: #0072ab;
  --theme-graphs-purple: #b693eb;
  --theme-graphs-yellow: #efc052;
  --theme-graphs-orange: #d97e00;
  --theme-graphs-red: #e57180;
  --theme-graphs-grey: #cccccc;
  --theme-graphs-full-red: #f00;
  --theme-graphs-full-blue: #00f;

  /* Common popup styles(used by HTMLTooltip and autocomplete) */
  --theme-popup-background: white;
  --theme-popup-color: var(--grey-70);
  --theme-errant-popup-color: #991b1b;
  --theme-popup-border-color: ThreeDShadow;
  --theme-popup-dimmed: hsla(0, 0%, 80%, 0.3);

  /* Styling for devtool buttons */
  --theme-toolbarbutton-background: none;
  --theme-toolbarbutton-color: var(--grey-70);
  --theme-toolbarbutton-hover-background: var(--grey-90-a05);
  --theme-toolbarbutton-checked-background: var(--grey-90-a10);
  --theme-toolbarbutton-checked-color: var(--grey-90);
  --theme-toolbarbutton-checked-hover-background: var(--grey-90-a15);
  --theme-toolbarbutton-checked-hover-color: var(--grey-90);
  --theme-toolbarbutton-active-background: var(--grey-90-a20);
  --theme-toolbarbutton-active-color: var(--grey-90);

  /* Warning colors */
  --theme-warning-background: hsl(54, 100%, 92%);
  --theme-warning-border: rgba(215, 182, 0, 0.28); /* Yellow 60 + opacity */
  --theme-warning-color: var(--yellow-80);

  /* Flashing colors used to highlight updates */
  --theme-contrast-background: #fff9bb;
  --theme-contrast-background-alpha: rgb(255, 241, 90);
  --theme-contrast-color: black;
  --theme-contrast-border: var(--yellow-60);

  /* Timeline Navigation */
  --replaying-marker-fill: var(--primary-accent);
  --replaying-marker-stroke: var(--primary-accent);
  --replaying-marker-future-fill: var(--primary-accent);
  --replaying-marker-future-stroke: var(--primary-accent);
  --replaying-paused-marker-fill: var(--secondary-accent);
  --replaying-paused-marker-stroke: var(--secondary-accent-stroke);
  --replay-head-background: var(--purple-50);
}

/*
 * For doorhangers elsewhere in Firefox, Mac uses fixed colors rather than
 * system colors.
 */
:root[platform="mac"].theme-light {
  --theme-popup-color: hsl(0, 0%, 10%);
  --theme-popup-border-color: var(--grey-90-a20);
}

:root.theme-dark {
  /*
  TABLE OF CONTENTS
  - Color ramp
  - Core classes
  - Tabs
  - Timeline
  - Menus
  - Code Mirror (Editor)
  - Breakpoints
  - To Organise
  - (Previous styles; to organise)
  */

  /* Color ramp (Dark) */
  --theme-base-100: #000000; /* background chrome */
  --theme-base-95: #252525; /* tab bars */
  --theme-base-90: #303030; /* editor and selected tab */
  --theme-base-85: #3c3c3c; /* textfields */
  --theme-base-80: #5c5c5c;
  --theme-base-70: #828282;
  --theme-base-60: #a3a3a3;

  /* Core classes (Dark) */
  --chrome: #1c1c1c; /* bg app */
  --theme-body-color: var(--grey-40);
  --checkbox-border: var(--theme-base-90);
  --checkbox: var(--theme-base-80);
  --modal-bgcolor: rgba(0, 0, 0, 0.95);
  --modal-border: #222;
  --theme-tab-bgcolor-alt-subtle: var(--theme-base-95); /* info, events */
  --theme-tab-bgcolor: var(--theme-base-100); /* bg tabs */
  --theme-body-bgcolor: var(--theme-base-95);
  --theme-border: var(--theme-base-100);
  --icon-color: var(--theme-body-color);
  --theme-focuser-bgcolor: var(--primary-accent);
  --theme-sidebar-background: var(--theme-body-bgcolor);
  --theme-text-field-bgcolor-color: #fff;
  --theme-text-field-bgcolor: var(--theme-base-85);
  --text-field-border: var(--theme-base-85);

  --menu-bgcolor: var(--theme-base-90);
  --menu-color: var(--theme-body-color);
  --menu-hover-bgcolor: var(--theme-base-85);
  --menu-hover-color: #fff;

  --tab-selected-bgcolor: var(--theme-base-95);

  /* Tabs (Dark) */
  --tab-bgcolor: var(--theme-base-100);
  --tab-color: var(--theme-base-40);
  --tab-hover-bgcolor: var(--theme-base-85);
  --tab-hover-color: var(--tab-selected-color);
  --tab-selected-bgcolor: var(--theme-base-95);
  --tab-selected-color: #fff;

  /* Timeline (Dark) */
  --progressbar-preview-max: var(--theme-base-70);
  --progressbar-preview-min: var(--theme-base-80);
  --progressbar-unplayed: var(--theme-base-100);

  /* Menus (Dark) */
  --menu-bgcolor: var(--theme-base-90);
  --menu-color: var(--theme-body-color);
  --menu-hover-bgcolor: var(--theme-base-85);
  --menu-hover-color: #fff;

  /* Code Mirror (Dark) */
  --cm-linenumber: var(--grey-40);
  --cm-keyword: #ff42a8;
  --cm-def: #fff;
  --cm-string: #01acfd;
  --cm-variable: #58e0ff;
  --cm-number: yellow;
  --cm-property: #ff98eb;
  --cm-atom: #fff;
  --caret-color: #fff;
  --debug-line-border: var(--theme-base-85);
  --debug-line-background: var(--theme-base-100);

  /* Breakpoints (Dark) */
  --breakpoint-arrow-disabled: var(--theme-base-80);
  --breakpoint-arrow: #fff;
  --breakpoint-editfield-active: var(--theme-base-95);
  --breakpoint-editfield-hover: var(--theme-base-90);
  --breakpoint-status-bg: var(--theme-base-90);
  --breakpoint-status: var(--theme-body-color);
  --breakpoint-tip: #fff;
  --breakpoint-label: var(--cm-string);

  /* To organise (Dark) */
  --jellyfish-bgcolor: rgba(40, 40, 40, 0.8);
  --theme-console-input-bgcolor: var(--theme-base-95);
  --theme-toggle-handle-bgcolor: var(--theme-base-100);
  --theme-toggle-bgcolor: var(--theme-base-85);
  --toolbarbutton-focus-bgcolor: var(--theme-base-90);
  --toolbox-bgcolor: var(--theme-base-100);
  --unloaded-region-img: url("/images/dotted-mask-dark.svg");

  /* Toolbar */
  --theme-toolbar-panel-icon-color: var(--icon-color);
  --theme-tab-toolbar-background: var(--grey-90);
  --theme-toolbar-background: #18181a;
  --theme-toolbar-color: var(--grey-20);
  --theme-toolbar-selected-color: white;
  --theme-toolbar-highlighted-color: var(--green-50);
  --theme-toolbar-background-hover: #232327;
  --theme-toolbar-background-alt: var(--grey-85);
  --theme-toolbar-hover: #232327;
  --theme-toolbar-hover-active: #252526;
  --theme-toolbar-separator: var(--grey-10-a20);

  /* Toolbar buttons */
  --toolbarbutton-background: var(--grey-70);
  --toolbarbutton-hover-background: var(--grey-70);

  /* Buttons */
  --theme-button-background: rgba(249, 249, 250, 0.1);
  --theme-button-active-background: rgba(249, 249, 250, 0.15);

  /* Accordion headers */
  --theme-accordion-header-background: #232327;
  --theme-accordion-header-hover: #2a2a2e;

  /* Selection */
  --theme-selection-background: var(--primary-accent);
  --theme-selection-background-hover: #353b48;
  --theme-selection-focus-background: var(--grey-60);
  --theme-selection-focus-color: var(--grey-30);
  --theme-selection-color: #ffffff;

  /* Border color that splits the toolbars/panels/headers. */
  --theme-splitter-color: black;
  --theme-emphasized-splitter-color: var(--grey-60);
  --theme-emphasized-splitter-color-hover: var(--grey-50);

  /* Icon colors */
  --theme-icon-color: rgba(249, 249, 250, 0.7);
  --theme-icon-dimmed-color: rgba(147, 147, 149, 0.9);
  --theme-icon-checked-color: var(--blue-30);
  --theme-icon-error-color: var(--red-40);
  --theme-icon-warning-color: var(--yellow-60);

  /* Text color */
  --theme-comment: var(--grey-45);
  --theme-text-color-alt: var(--grey-45);
  --theme-text-color-inactive: var(--grey-50);
  --theme-text-color-strong: var(--grey-30);

  --theme-highlight-green: #86de74;
  --theme-highlight-blue: #75bfff;
  --theme-highlight-purple: #b98eff;
  --theme-highlight-red: #ff7de9;
  --theme-highlight-yellow: #fff89e;

  /* These theme-highlight color variables have not been photonized. */
  --theme-highlight-bluegrey: #5e88b0;
  --theme-highlight-lightorange: #d99b28;
  --theme-highlight-orange: #d96629;
  --theme-highlight-pink: #df80ff;
  --theme-highlight-gray: #e9f4fe;

  /* For accessibility purposes we want to enhance the focus styling. This
   * should improve keyboard navigation usability. */
  --theme-focus-outline-color: #ced3d9;

  /* Colors used in Graphs, like performance tools. Mostly similar to some "highlight-*" colors. */
  --theme-graphs-green: #70bf53;
  --theme-graphs-blue: #46afe3;
  --theme-graphs-bluegrey: #5e88b0;
  --theme-graphs-purple: #df80ff;
  --theme-graphs-yellow: #d99b28;
  --theme-graphs-orange: #d96629;
  --theme-graphs-red: #eb5368;
  --theme-graphs-grey: #757873;
  --theme-graphs-full-red: #f00;
  --theme-graphs-full-blue: #00f;

  /* Common popup styles(used by HTMLTooltip and autocomplete) */
  --theme-popup-background: var(--grey-60);
  --theme-popup-color: rgb(249, 249, 250);
  --theme-popup-border-color: #27272b;
  --theme-popup-dimmed: rgba(249, 249, 250, 0.1);

  /* Styling for devtool buttons */
  --theme-toolbarbutton-background: none;
  --theme-toolbarbutton-color: var(--grey-40);
  --theme-toolbarbutton-hover-background: var(--grey-10-a15);
  --theme-toolbarbutton-checked-background: var(--grey-10-a20);
  --theme-toolbarbutton-checked-color: var(--grey-30);
  --theme-toolbarbutton-checked-hover-background: var(--grey-10-a25);
  --theme-toolbarbutton-checked-hover-color: var(--grey-30);
  --theme-toolbarbutton-active-background: var(--grey-10-a30);
  --theme-toolbarbutton-active-color: var(--grey-30);

  /* Warning colors */
  --theme-warning-background: hsl(42, 37%, 19%);
  --theme-warning-border: hsl(60, 30%, 26%);
  --theme-warning-color: hsl(43, 94%, 81%);

  /* Flashing colors used to highlight updates */
  --theme-contrast-background: #1a4380;
  --theme-contrast-background-alpha: rgba(255, 233, 0, 0.15); /* Yellow 50-a15 */
  --theme-contrast-color: white;
  --theme-contrast-border: var(--yellow-65);

  /* Timeline Navigation */
  --replaying-marker-fill: var(--primary-accent);
  --replaying-marker-stroke: var(--primary-accent);
  --replaying-marker-future-fill: var(--primary-accent);
  --replaying-marker-future-stroke: var(--primary-accent);
  --replaying-paused-marker-fill: var(--secondary-accent);
  --replaying-paused-marker-stroke: var(--secondary-accent-stroke);
  --replay-head-background: var(--purple-50);
}

/* Z-index scale */

/* Z-index values should always be defined in #app. This allows us to at a glance determine
relative layers of our application and prevents bugs arising from arbitrary z-index values. */

/* Whenever possible, we should rely on the element stack order instead of z-index. If you're
certain that you **have** to use a z-index (e.g. element with position: absolute/fixed), define a
custom variable for it below so we can keep track of everything in one place. */

#__next {
  --z-index-1: 10;
  --z-index-2: 20;
  --z-index-3: 30;
  --z-index-4: 40;
  --z-index-5: 50;
  --z-index-6: 60;
  --z-index-7: 70;
  --z-index-8: 80;
  --z-index-9: 90;
  --z-index-10: 100;
}

#__next {
  --z-index-1--timeline-comment: var(--z-index-1);
  --z-index-1--paused-comment: var(--z-index-1);
  --z-index-1--paused-message: var(--z-index-1);
  --z-index-1--comment-container: var(--z-index-1);
  --z-index-1--icon-tooltip: var(--z-index-1);
  --z-index-1--timeline-tooltip: var(--z-index-1);
  --z-index-2--hovered-point-secondary: var(--z-index-2);
  --z-index-3--hovered-point-primary: var(--z-index-3);
  --z-index-3--hovered-comment-primary: var(--z-index-3);
  --z-index-4--name: var(--z-index-4);
  --z-index-5--name: var(--z-index-5);
  --z-index-6--name: var(--z-index-6);
  --z-index-7--name: var(--z-index-7);
  --z-index-7--mask: var(--z-index-7);
  --z-index-8--modal: var(--z-index-8);
  --z-index-8--dropdown: var(--z-index-8);
}
