.ContextMenuItem,
.ContextMenuItemDisabled {
  background-color: var(--context-menu-bgcolor);
  color: var(--color-default);
  font-family: var(--font-family-default);
  font-size: var(--font-size-regular);
  padding: 0.25rem 0.5rem;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 1ch;
  min-height: 2rem;
}
.ContextMenuItem {
  cursor: pointer;
}

.ContextMenuItemDisabled {
  color: var(--color-dimmer);
}

.ContextMenuItem:hover {
  transition: background-color 250ms;
  background-color: var(--context-menu-bgcolor-hover);
}
