.ContextMenuCategory {
  background-color: var(--context-menu-bgcolor);
  color: var(--color-default);
  font-family: var(--font-family-default);
  font-size: var(--font-size-small);
  padding: 0.25rem 0.5rem;
  user-select: none;
  display: flex;
  align-items: center;
  gap: 1ch;
  min-height: 1rem;
}
