.Backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 25; /* Higher than preview popup */
}

.ContextMenu {
  position: absolute;
  flex-direction: column;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  filter: drop-shadow(1px 2px 3px rgba(0, 0, 0, 0.5));
  padding: 0.25rem 0;
  background-color: var(--context-menu-bgcolor);
  border: 1px solid var(--context-menu-border-color);
}
