.static-tooltip {
  position: fixed;
  line-height: 16px;
  background: var(--grey-30);
  margin-top: -5px;
  margin-right: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  animation: static-tooltip 200ms ease;
  background: var(--theme-popup-color);
  color: var(--theme-popup-background);
  font-family: sans-serif;
  opacity: 0;
  animation-fill-mode: forwards;
  min-width: 42px; /* Reduces jitter between loading state (...) and non-loading state (3 hits) */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.static-tooltip.hot {
  background: var(--theme-errant-popup-color);
}

.static-tooltip.hot .material-icons {
  font-size: 16px;
  color: white;
  margin-right: 4px;
}

@keyframes static-tooltip {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
