.static-tooltip {
  position: fixed;
  line-height: 16px;
  animation: static-tooltip 200ms ease;
  opacity: 0;
  animation-fill-mode: forwards;
  font-size: var(--theme-body-font-size);
  min-width: 42px; /* Reduces jitter between loading state (...) and non-loading state (3 hits) */
  pointer-events: none;
}

.static-tooltip-content {
  border-radius: 6px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

@keyframes static-tooltip {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0;
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
