.HitsBadge {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: calc(var(--theme-code-font-size) * 1.4);
  position: relative;
  top: -0.5px;

  font-size: 8px;

  background-color: var(--gutter-hit-count-background);
  color: var(--gutter-hit-count-foreground);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
