/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.breakpoint-panel {
  cursor: initial;
  margin: 12px 0 8px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: var(--theme-toolbar-background);
  border-top: 1px solid var(--theme-splitter-color);
  border-bottom: 1px solid var(--theme-splitter-color);
  margin-left: 40px;
  border-radius: 4px;
  border: 1px solid var(--theme-splitter-color);
  width: 500px;
  padding: 12px;
}

.breakpoint-panel > *:not(:last-child) {
  margin-bottom: 4px;
}

.breakpoint-panel .text {
  font-family: sans-serif;
  line-height: 16px;
}

.breakpoint-panel .row > *:not(:last-child) {
  margin-right: 8px;
}

.breakpoint-panel .header {
  /* margin-bottom: 4px; */
  display: flex;
  flex-direction: row;
}

.breakpoint-panel .label {
  color: var(--theme-comment);
  margin-right: 4px;
}

.breakpoint-panel .add-condition,
.breakpoint-panel .remove-condition {
  color: var(--blue-40);
  cursor: pointer;
  text-decoration: underline;
};

.breakpoint-panel .add-condition:hover {
  color: var(--blue-50);
  color: red;
}

.breakpoint-panel .conditional-row.hidden {
  height: 0;
  overflow: hidden;
}

.breakpoint-panel .label.log-message {
  margin-bottom: 0px;
}

.breakpoint-panel .input-row {
  display: flex;
  align-items: center;
}

.breakpoint-panel .cm-s-mozilla {
  background-color: white;
  border: 1px solid var(--theme-splitter-color);
  border-radius: 4px;
  padding-top: 1px;
}

.breakpoint-panel button {
  height: 100%;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  font-family: sans-serif;
}

.breakpoint-panel button.save,
.breakpoint-panel button.edit {
  background: var(--blue-40);
  color: white;
}

.breakpoint-panel button.save:hover {
  background: var(--blue-50);
  color: white;
}

.breakpoint-panel button.cancel {
  border: 1px solid var(--theme-splitter-color);
  margin-right: 6px;
  color: var(--theme-comment);
}

.breakpoint-panel .edit-actions {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  align-items: center;
  margin-left: 8px;
}

.breakpoint-panel .edit-actions.full {
  flex-direction: row;
  margin-left: 0px;
}

.breakpoint-panel .edit-actions.full button.save {
  margin-right: 6px;
}

.breakpoint-panel .edit-actions.hidden,
.breakpoint-panel .label.hidden,
.breakpoint-panel .add-condition.hidden,
.breakpoint-panel .remove-condition.hidden,
.breakpoint-panel .header.logpoint.hidden,
.breakpoint-panel .header.conditional-logpoint.hidden {
  display: none;
}

.breakpoint-panel .actions {
  display: flex;
  flex-direction: row;
  flex-grow: 1;

  margin-right: 30px;
  align-items: center;
  width: 80px;
}
