.Row {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.25rem 0.5rem 0.5rem;
  gap: 1ch;
  font-family: var(--font-family-monospace);
  cursor: pointer;
  transition: opacity 0.18s ease-out;
  border-left: 2px solid transparent;
  background-color: var(--row-background-color);
  color: var(--row-color);
  column-gap: 0;
}
.Row:hover,
.Row[data-context-menu-active] {
  background-color: var(--row-background-color-hover);
}
.Row[data-is-pending] {
  opacity: 0.5;
}
.Row,
.Row[data-status="success"] {
  --row-background-color: var(--testsuites-steps-bgcolor);
  --row-background-color-hover: var(--testsuites-steps-bgcolor-hover);
  --row-color: var(--color-default);
}
.Row[data-status="error"] {
  --border-left-color: var(--testsuites-error-border-color);
  --row-background-color: var(--testsuites-error-bgcolor-hover);
  --row-background-color-hover: var(--testsuites-error-bgcolor-hover);
  --row-color: var(--testsuites-error-color);
}
.Row[data-status="success"][data-position="before"],
.Row[data-type="navigation"][data-position="before"],
.Row[data-type="network-request"][data-position="before"] {
  --border-left-color: var(--primary-accent);
}
.Row[data-status="success"][data-selected],
.Row[data-type="navigation"][data-selected],
.Row[data-type="network-request"][data-selected] {
  --border-left-color: var(--primary-accent);
  --row-background-color: var(--testsuites-active-bgcolor);
  --row-background-color-hover: var(--testsuites-active-bgcolor);
}

.Row[data-position="before"] {
  border-left-color: var(--border-left-color);
}

.DropDownButton {
  flex: 0 0 0.5rem;
  width: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

.Icon {
  height: 1rem;
  width: 1rem;
  flex: 0 0 auto;
}

.HiddenIcon {
  display: none;
}
