.Inspector {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-regular);
  white-space: nowrap;
  overflow: hidden;
}

.InspectorWrapper {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
