.Bucket,
.Prototype {
  color: var(--object-inspector-prototype-color);
  display: inline;
  min-height: 1rem;
}

.BucketLabel {
  color: var(--object-inspector-bucket-color);
}

.MapIndex {
  color: var(--object-inspector-expanded-key);
}

.MapEntryPrefix {
  color: var(--object-inspector-expanded-key);
}

.NoEntries {
  color: var(--object-inspector-prototype-color);
  font-style: italic;
  min-height: 1rem;
  padding-left: 0.5rem;
}

.Separator {
  color: var(--object-inspector-separator-color);
}
