.left-sidebar {
  background: var(--theme-toolbar-background);
  border-right: 1px solid var(--theme-splitter-color);
  padding: 8px 6px;
  font-size: 12px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.left-sidebar > :not(:first-child) {
  margin-top: 20px;
}

.left-sidebar .material-icons {
  font-size: 16px;
}

.left-sidebar .recording-hosts {
  overflow-y: auto;
}

.left-sidebar .left-sidebar-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;
  transition-duration: 200ms;
  cursor: pointer;
}

.left-sidebar .left-sidebar-menu-item.disabled {
  cursor: auto;
}

.left-sidebar .left-sidebar-menu-item:hover:not(.disabled) {
  background: #e8e8e8;
}

.left-sidebar .left-sidebar-menu-item.active {
  background: #e8e8e8;
}

.left-sidebar .left-sidebar-menu-item.active:hover {
  background: #e2e2e2;
}

.left-sidebar .left-sidebar-menu-item > *:not(:last-child) {
  margin-right: 8px;
}

.left-sidebar .left-sidebar-menu-item .img {
  width: 20px;
  height: 20px;
  background-color: var(--theme-comment);
}

.left-sidebar .left-sidebar-menu-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
