.devtools-toolbar .event-breakpoints {
  margin: 0 2px;
}

.devtools-toolbar .dropdown-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.devtools-toolbar .dropdown-container {
  position: fixed;
  z-index: var(--z-index-8--dropdown);
}

.devtools-toolbar .dropdown-container .content {
  top: 8px;
  right: 0px;
}

.devtools-toolbar button.expand-dropdown {
  padding: 4px;
  border: none;
  display: flex;
  align-items: center;
}

.devtools-toolbar button.expand-dropdown .img:not(:last-child) {
  margin-right: 4px;
}

.devtools-toolbar .event-listeners {
  padding: 0px;
  overflow-y: hidden;
}

.devtools-toolbar .event-listeners .event-listeners-content {
  height: 200px;
  overflow-y: auto;
}

.event-breakpoints *:focus:not(:focus-visible) {
  outline: none;
}
