.commandPalleteWrapper {
  max-width: 400px;
  min-width: 280px;
  background-color: var(--theme-base-100);
  color: var(--theme-body-color);
}

.commandPallete {
  border-bottom: 1px solid var(--theme-base-85);
}

.shortcut {
}

.shortcutHover {
  background-color: var(--theme-base-90);
}
