.ListWrapper {
  position: relative;
}

.List:focus {
  outline: none;
}

.List > div {
  /**
  * Each row should grow as much as needed to fit its code/content.
  * The parent list will measure rows after render and adjust the min-width of the list.
  * This prevents horizontal scrolling from jumping as new rows are rendered.
  */
  width: max(100%, var(--longest-line-width)) !important;
}
