.Panel {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  background-color: var(--body-bgcolor);
}

.PanelLoader {
  position: absolute;
  width: 100%;
}

.SearchRow {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
  border-bottom: 1px solid var(--theme-splitter-color);
}

.SearchIconAndInput {
  flex: 1 1 auto;
  height: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-regular);
  background-color: var(--background-color-inputs);
  color: var(--color-default);
  padding: 0 0.25rem 0 0;
  border: 2px solid #0000;
  border-radius: 0.25rem;
}
.SearchIconAndInput:focus-within {
  border-color: var(--primary-accent);
}

.AdvancedButton {
  flex: 0 1 auto;
  outline: none;
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
  border: 2px solid #0000;
  border-radius: 0.25rem;
}
.AdvancedButton:focus {
  border-color: var(--color-control-background-active);
}
.AdvancedButton[data-active] {
  color: var(--color-control-background-active);
}

.AdvancedIcon,
.SearchIcon {
  width: 1rem;
  height: 1rem;
}
.SearchIcon {
  margin: 0.25rem;
}

.SearchInput {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  transition: 200ms opacity;
  font-size: var(--font-size-regular);
}
.SearchInput[data-search-in-progress] {
  opacity: 0.5;
}
.SearchInput:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.SearchResults {
  font-size: var(--font-size-small);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ListRow {
  flex: 1 1 auto;
  padding-bottom: 0.25rem;
}

.SpinnerIcon {
  color: var(--color-dim);
  width: 1rem;
  height: 1rem;
  animation: 1s spin linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(359deg);
  }
}
