/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.breakpoint-panel {
  cursor: initial;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 8px 12px;
  background: var(--theme-toolbar-background);
  border-radius: 4px;
  border: 1px solid var(--theme-splitter-color);
  font-family: sans-serif;
  line-height: 16px;
  color: var(--theme-toolbar-color);
  max-width: 500px;
  min-width: 300px;
  overflow: hidden;
}

.breakpoint-panel.editing {
  padding: 8px;
}

.breakpoint-panel button {
  height: 100%;
  border-radius: 4px;
  padding: 4px 8px;
  cursor: pointer;
  line-height: 16px;
}

.breakpoint-panel .action {
  color: var(--dark-blue);
  text-decoration: underline;
  cursor: pointer;
}

.breakpoint-panel .summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  border-bottom: 1px solid var(--theme-splitter-color);
}

.breakpoint-panel .summary .options {
  font-family: var(--monospace-font-family);
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.breakpoint-panel .summary .action {
  visibility: hidden;
  padding: 4px 4px 4px 8px;
}

.breakpoint-panel .summary:hover .action {
  visibility: visible;
}

.breakpoint-panel .summary:hover .img {
  background: var(--theme-comment);
}

.breakpoint-panel .summary button.log,
.breakpoint-panel .summary button.condition {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px;
}

.breakpoint-panel .summary button:hover .expression {
  color: var(--dark-blue);
}

.breakpoint-panel .panel-editor {
  display: flex;
  flex-direction: column;
}

.breakpoint-panel .panel-editor > *:not(:last-child) {
  margin-bottom: 8px;
}

.breakpoint-panel .header {
  display: flex;
}

.breakpoint-panel .header .type {
  margin-right: 4px;
}

.breakpoint-panel .header .line {
  margin-right: 8px;
}

.breakpoint-panel form {
  display: flex;
  flex-direction: column;
}

.breakpoint-panel form > *:not(:last-child) {
  margin-bottom: 4px;
}

.breakpoint-panel form label {
  color: var(--theme-comment);
  min-width: 48px;
  margin-right: 8px;
  text-align: end;
}

.brekapoint-panel form label .expression {
  font-family: var(--monospace-font-family);
}

.breakpoint-panel form .form-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.breakpoint-panel .form-row.invalid .CodeMirror {
  border-color: var(--red-50);
}

.breakpoint-panel form .input-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
}

.breakpoint-panel form .input-container .placeholder-text {
  position: absolute;
  color: var(--theme-comment);
  left: 8px;
  font-style: italic;
  color: var(--grey-40);
  pointer-events: none;
}

.breakpoint-panel form .CodeMirror {
  display: flex;
  width: 100%;
  background-color: white;
  line-height: 16px;
  border-radius: 4px;
  font-family: var(--monospace-font-family);
  font-size: 1rem;
  border: 1px solid var(--theme-splitter-color);
  color: var(--theme-toolbar-color);
}

.breakpoint-panel form textarea {
  width: 100%;
  height: 26px;
  resize: none;
  background-color: white;
  border: 1px solid var(--theme-splitter-color);
  border-radius: 4px;
}

.breakpoint-panel .CodeMirror-scroll {
  display: flex;
  flex-grow: 1;
}

.breakpoint-panel .edit-actions {
  display: flex;
  flex-grow: 1;
  align-items: center;
  align-self: flex-end;
}

.breakpoint-panel .edit-actions > *:not(:last-child) {
  margin-right: 8px;
}

.breakpoint-panel button.save {
  background: var(--dark-blue);
  color: white;
}

.breakpoint-panel button.save:hover {
  background: #2270ec;
  color: white;
}

.breakpoint-panel button.cancel {
  border: 1px solid var(--theme-splitter-color);
  color: var(--theme-comment);
}

/* Brekapoint Navigation */

.breakpoint-panel .breakpoint-navigation {
  padding: 6px 8px 6px 6px;
}

.breakpoint-panel.editing .breakpoint-navigation {
  display: none;
}

.breakpoint-panel .breakpoint-navigation-timeline-container {
  margin: 0 4px;
}

.breakpoint-panel .breakpoint-navigation-timeline {
  box-sizing: content-box;
  border-radius: 0px;
  padding: 2px 0px;
}

.breakpoint-panel .breakpoint-navigation-status-container {
  min-width: 50px;
}

.breakpoint-panel .breakpoint-navigation-commands .img {
  background: var(--theme-comment);
}

.breakpoint-panel .breakpoint-navigation-commands .disabled .img {
  background: var(--theme-splitter-color);
}

.breakpoint-panel .breakpoint-navigation-commands button {
  padding: 2px;
}

.breakpoint-panel .breakpoint-navigation-commands button:not(.disabled):hover {
  background-color: var(--theme-toolbar-background-hover);
}
