.Indented {
  padding-left: 1rem;
}
.Text {
  flex: 1;
  color: var(--color-dim);
}

.Name {
  flex: 0 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  color: var(--color-link);
}
