.right-sidebar {
  background: var(--grey-10);
  border-left: 2px solid var(--grey-20);
  height: 100%;
  background: var(--grey-10);
  display: flex;
  flex-shrink: 0;
}

.right-sidebar .drawer button {
  border: 4px solid transparent;
  border-radius: 8px;
  cursor: pointer;
}

.right-sidebar .drawer {
  padding: 8px;
  border-left: 2px solid var(--grey-20);
}
.right-sidebar .drawer button:hover,
.right-sidebar.expanded .drawer button,
.right-sidebar.expanded .drawer button:focus {
  background: var(--grey-20);
}

.right-sidebar .drawer button:focus {
  outline: 0;
  background-color: transparent;
}
