.right-sidebar {
  background: var(--grey-10);
  border-left: 1px solid var(--theme-splitter-color);
  height: 100%;
  background: var(--grey-10);
  display: flex;
  flex-shrink: 0;
}

.right-sidebar .drawer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-sidebar .drawer-buttons {
  display: flex;
  flex-direction: column;
}

.right-sidebar .drawer-buttons button {
  border: 4px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.right-sidebar .drawer button .img {
  width: 20px;
  height: 20px;
}

.right-sidebar .drawer:not(:only-child) {
  border-left: 1px solid var(--theme-splitter-color);
}

.right-sidebar button:focus {
  outline: none;
  background-color: inherit;
}

.right-sidebar .drawer button:hover,
.right-sidebar .drawer button.expanded {
  background: var(--grey-20);
}

.right-sidebar .drawer .tooltip {
  position: absolute;
  right: 52px;
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
  background: var(--theme-icon-color);
  transition: 200ms;
}