.right-sidebar {
  background: var(--grey-10);
  border-left: 1px solid var(--theme-splitter-color);
  height: 100%;
  background: var(--grey-10);
  display: flex;
  flex-shrink: 0;
}

.right-sidebar .drawer .buttons {
  display: flex;
  flex-direction: column;
}

.right-sidebar .drawer button {
  border: 4px solid transparent;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.right-sidebar .drawer button .img {
  width: 20px;
  height: 20px;
}
.right-sidebar .drawer {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.right-sidebar .drawer:not(:only-child) {
  border-left: 1px solid var(--theme-splitter-color);
}

.right-sidebar .drawer button:hover,
.right-sidebar.expanded .drawer button,
.right-sidebar.expanded .drawer button:focus {
  background: var(--grey-20);
}

.right-sidebar .drawer button:focus {
  outline: 0;
  background-color: transparent;
}
