:root:global(.theme-light) .runOverview,
:root:global(.theme-light) .testReplayDetails {
  background-color: var(--theme-base-100);
  color: var(--body-color);
}

:root:global(.theme-dark) .runOverview,
:root:global(.theme-dark) .testReplayDetails {
  color: var(--body-color);
  background-color: var(--body-bgcolor);
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
}

.wrapper[data-pending="true"] {
  opacity: 0.5;
  pointer-events: none;
}

.testTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
  border-bottom: 1px solid var(--theme-border);
  padding: 0.93rem 1rem;
}

.testTitle > div {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1.125rem;
  font-weight: 500;
}
