.KeyValue {
  display: inline;
  text-align: start;

  word-break: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.HorizontalName {
  color: var(--object-inspector-inline-key);
}
.VerticalName {
  color: var(--object-inspector-expanded-key);
}
.VerticalNameWithFlag {
  color: var(--object-inspector-expanded-key-with-flag);
}

.ToggleAlignmentPadding {
  margin-left: 1.25rem;
}

.Separator {
  color: var(--object-inspector-separator-color);
}
