.KeyValue {
  display: flex;
}

.HorizontalName {
  color: var(--object-inspector-inline-key);
}
.VerticalName {
  color: var(--object-inspector-expanded-key);
  font-weight: bold;
}
.HorizontalName::after,
.VerticalName::after {
  content: ":";
  margin-right: 0.5ch;
  color: var(--object-inspector-separator-color);
}

.ToggleAlignmentPadding {
  margin-left: 1rem;
}
