.Name {
  display: flex;
  align-items: center;
  min-height: 1rem;
}
.Name::after {
  content: ":";
  margin-right: 1ch;
}

.Boolean,
.NaN,
.Null,
.Number,
.String,
.Symbol,
.Undefined {
  display: flex;
  align-items: center;
  min-height: 1rem;
}

.Boolean {
  color: var(--value-type-boolean);
}

.NaN {
  color: var(--value-type-nan);
}

.Null {
  color: var(--value-type-null);
}

.Number {
  color: var(--value-type-number);
}

.String {
  color: var(--value-type-string);
}

.Symbol {
  color: var(--value-type-symbol);
}

.Undefined {
  color: var(--value-type-undefined);
}
