.new-workspace-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
  font-size: 14px;
}

.new-workspace-modal h1 {
  font-size: 20px;
  display: flex;
}

.new-workspace-modal h1 > :not(:first-child) {
  margin-left: 12px;
}

.new-workspace-modal .modal-container .modal-content {
  width: 400px;
  padding: 0px;
  min-width: auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

/* Body */

.new-workspace-modal main {
  padding: 36px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.new-workspace-modal main > :not(:first-child) {
  margin-top: 32px;
}

.new-workspace-modal main .new-workspace-content > :not(:first-child) {
  margin-top: 12px;
}

.new-workspace-modal main p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.new-workspace-modal input[type="textarea"] {
  font-size: 14px;
  padding: 8px;
  border: 1px solid var(--cool-gray-400);
  border: 1px solid var(--theme-comment);
}

.new-workspace-modal .actions {
  display: flex;
  flex-direction: row-reverse;
}
