.settings-modal main li.replay-invitations {
  flex-grow: 1;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.settings-modal main li.replay-invitations > :not(:first-child) {
  margin-top: 20px;
}

.settings-modal main li.replay-invitations .setting-item {
  flex-grow: unset;
}

.settings-modal .replay-invitations form {
  width: 100%;
}

.settings-modal .replay-invitations form input {
  font-size: 14px;
}

.settings-modal .invitations-list {
  font-size: 14px;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.settings-modal .invitations-list > :not(:first-child) {
  margin-top: 8px;
}

.settings-modal .invitations {
  display: grid;
  column-gap: 12px;
  align-items: center;
  grid-template-columns: min-content auto;
}

.settings-modal .invitations .material-icons {
  font-size: 16px;
}

.settings-modal .invitations .material-icons.finished {
  color: var(--green-60);
}
