.settings-modal main {
  padding: 36px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.settings-modal main > :not(:first-child) {
  margin-top: 32px;
}

.settings-modal main ul {
  list-style-type: none;
  overflow: auto;
}

.settings-modal main ul > :not(:first-child) {
  margin-top: 32px
}

.settings-modal main li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settings-modal main li .setting-item {
  flex-grow: 1
}

.settings-modal main li .setting-item .label {
  font-size: 16px;
}

.settings-modal main li .setting-item .description {
  font-size: 14px;
  max-width: 80%;
  color: var(--theme-comment)
}

.settings-modal form {
  display: flex;
  flex-direction: row;
}

.settings-modal input[type="text"] {
  margin-right: 8px;
  background-color: #eee;
  line-height: 16px;
  padding: 8px;
  flex-grow: 1;
  border-radius: 4px;
  border: 0px;
}

.settings-modal input[type="submit"] {
  flex-shrink: 0;
  color: white;
  background: var(--dark-blue);
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  border: 0px;
}

/* Refresh Prompt */

.settings-modal .refresh-prompt {
  background: var(--cool-gray-200);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.settings-modal .refresh-prompt > :not(:first-child) {
  margin-top: 16px;
}

.settings-modal .refresh-prompt button {
  font-size: 14px;
  width: max-content;
}

/* Support */

.settings-modal a {
  color: var(--primary-accent);
}