.settings-modal {
  position: absolute;
  width: 100%;
  height: 100%;
  user-select: none;
}

.settings-modal h1 {
  font-size: 20px;
}

.settings-modal .modal-container .modal-content {
  height: 400px;
  width: 780px;
  padding: 0px;
  min-width: auto;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  min-height: auto;
}
