.settings-modal main {
  padding: 24px 24px 24px 32px;
  flex-grow: 1;
}

.settings-modal main > :not(:first-child) {
  margin-top: 32px;
}

.settings-modal main ul {
  list-style-type: none;
}

.settings-modal main ul > :not(:first-child) {
  margin-top: 32px
}

.settings-modal main li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settings-modal main li .setting-item {
  flex-grow: 1
}

.settings-modal main li .setting-item .label {
  font-size: 17px;
}

.settings-modal main li .setting-item .description {
  font-size: 15px;
  max-width: 80%;
  color: var(--theme-comment)
}
