.settings-modal main {
  padding: 36px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.settings-modal main > :not(:first-child) {
  margin-top: 32px;
}

.settings-modal main ul {
  list-style-type: none;
}

.settings-modal main ul > :not(:first-child) {
  margin-top: 32px
}

.settings-modal main li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settings-modal main li .setting-item {
  flex-grow: 1
}

.settings-modal main li .setting-item .label {
  font-size: 16px;
}

.settings-modal main li .setting-item .description {
  font-size: 14px;
  max-width: 80%;
  color: var(--theme-comment)
}

/* Support */

.settings-modal a {
  color: var(--primary-accent);
}