.settings-modal main > :not(:first-child) {
  margin-top: 1.5rem;
}

.settings-modal main ul {
  list-style-type: none;
}

.settings-modal main > ul > :not(:first-child) {
  margin-top: 0;
}

/* Refresh Prompt */

.settings-modal .refresh-prompt {
  background: var(--grey-20);
  font-size: 14px;
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.settings-modal .refresh-prompt > :not(:first-child) {
  margin-top: 16px;
}

.settings-modal .refresh-prompt button {
  font-size: 14px;
  width: max-content;
}

/* Support */

.settings-modal main a {
  color: inherit;
}

.settings-modal main a:hover {
  color: hsl(var(--foreground));
}
