main.dashboard {
  display: flex;
  width: 100%;
  height: 100%;
}

.dashboard-viewer {
  /* overflow: auto; */
  width: 100%;
  height: 100%;
  font-size: 14px;
}

.dashboard-viewer *:focus:not(:focus-visible) {
  outline: none;
  background: inherit;
}

/* Viewer Header styling */

.dashboard-viewer-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 40px;
}

.dashboard-viewer-header-actions {
  display: flex;
  flex-direction: row;
}

.dashboard-viewer-header-actions .dropdown-button {
  width: inherit;
  margin-right: 12px;
  padding: 0px;
}

.dashboard-viewer-header-actions .batch-action {
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 16px;
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
}

.dashboard-viewer-header-actions .batch-action .img {
  margin-right: 4px;
  background: var(--dark-blue);
}

.dashboard-viewer-header-actions .batch-action.disabled {
  border: 1px solid var(--theme-icon-dimmed-color);
  color: var(--theme-icon-dimmed-color);
}

.dashboard-viewer-header-actions .batch-action.disabled .img {
  background: var(--theme-icon-dimmed-color);
}

.dashboard-viewer-header-actions button.toggle-editing {
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 16px;
  border: 1px solid var(--dark-blue);
  color: var(--dark-blue);
  margin-right: 12px;
}

.editing .dashboard-viewer-header-actions button.toggle-editing {
  color: white;
  background-color: var(--dark-blue);
}

.dashboard-viewer-header-views {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 4px;
}

.dashboard-viewer-header-views button {
  padding: 4px 6px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  cursor: pointer;
  line-height: 16px;
  border: 1px solid var(--theme-splitter-color);
}

.dashboard-viewer-header-views button.selected {
  border: 1px solid var(--theme-icon-color);
}

.dashboard-viewer-header-views button .img {
  width: 20px;
  height: 20px;
  background: var(--theme-icon-dimmed-color);
}

.dashboard-viewer-header-views button.selected .img {
  background: var(--theme-icon-color);
}

/* List styling */

.recording-list.list {
  overflow: auto;
  height: 100%;
  /* display: grid; */
  display: flex;
  flex-direction: column;
  list-style-type: none;
  margin: 0 auto;
  /* max-width: 1040px; */
  font-size: 14px;
  color: var(--theme-body-color);
}

.recording-list.list > * {
  display: grid;
  grid-template-columns: auto 100px 2fr 2fr 0.5fr 0.5fr 0.5fr 40px 24px;
  gap: 40px;
  padding: 20px 40px 20px 20px;
  border-bottom: 1px solid var(--theme-splitter-color);
}

.recording-list.list > * > * {
  align-self: center
}

.recording-list.list > .dashboard-viewer-content-header {
  font-size: 1rem;
  font-weight: 700;
  border-top: 1px solid var(--theme-splitter-color);
  color: var(--theme-text-color-inactive);
  position: sticky;
  top: 0px;
  background: white;
}

.recording-list.list .recording-item .screenshot {
  background: var(--theme-toolbar-background);
  height: 100%;
}

.recording-list.list .recording-item {
  transition-duration: 200ms;
  cursor: pointer;
}

.recording-list.list .recording-item:hover {
  background-color: var(--theme-toolbarbutton-hover-background);
}

.recording-list.list .recording-item.selected {
  background-color: hsl(201, 88%, 95%);
  border-bottom: 1px solid hsl(201, 88%, 95%);
}

.recording-list.list .recording-item.selected:hover {
  background-color: hsl(201, 80%, 90%);
}

.recording-list.list .recording-item .screenshot img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  height: 60px;
}

.recording-list.list .recording-item .page,
.recording-list.list .recording-item .item-title {
  display: grid;
  gap: 8px;
}

.recording-list.list .recording-item .page > *,
.recording-list.list .recording-item .item-title > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.recording-list.list .recording-item .page > :not(:first-child),
.recording-list.list .recording-item .item-title > :not(:first-child) {
  color: var(--theme-text-color-inactive);
}

.recording-list.list .recording-item.selected .page > :not(:first-child),
.recording-list.list .recording-item.selected .item-title > :not(:first-child) {
  color: var(--theme-text-color-alt);
}

.recording-list.list > * input[type="checkbox"] {
  visibility: hidden;
}

.editing .recording-list.list > * input[type="checkbox"] {
  visibility: visible;
}

.recording-list.list .recording-item .owner {
  justify-self: center;
}

.recording-list.list .recording-item .owner img {
  margin-right: 0px;
}

.recording-list.list .recording-item .more button {
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
  visibility: hidden;
}

.recording-list.list .recording-item:hover .more button {
  visibility: visible;
}

.recording-list.list .recording-item:hover .more button:hover {
  background: var(--theme-toolbarbutton-checked-hover-background);
}

.recording-list.list .recording-item .more .img {
  background: var(--theme-body-color);
  margin: auto;
}

/* Grid styling */

.recording-list.grid {
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recording-list.grid .recording:hover {
  cursor: pointer;
}

.recording-list.grid .recording-item {
  max-width: 420px;
  min-width: 300px;
  padding: 10px;
  margin: 20px;
}

.recording-list.grid .recording-item .title {
  font-size: 16px;
  overflow: hidden;
  margin-top: 12px;
  line-height: 26px;
  font-weight: 600;
  margin: 0.6em 0 0.2em;
  color: var(--primary-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  background: none;
  border: none;
}

.recording-list.grid .recording-item input.title {
  width: 100%;
}

.recording-list.grid .recording-item .secondary {
  color: var(--secondary-color);
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}

.recording-list.grid .recording-item .permissions {
  line-height: 2em;
}

.recording-list.grid .recording-item .screenshot {
  width: 100%;
  height: 240px;
  background: #ccc;
  justify-content: center;
  display: flex;
  position: relative;
}

.recording-list.grid .recording-item .screenshot img {
  object-fit: contain;
  width: 100%;
}

.recording-list.grid .recording:hover .overlay {
  visibility: visible;
}

.recording-list.grid .recording-item .overlay {
  display: none;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.recording-list.grid .recording-item .dropdown-block {
  display: none;
  position: absolute;
  height: 28px;
  right: 20px;
  top: 20px;
}

.recording-list.grid .recording:hover .dropdown-block {
  display: block;
}

.recording-list.grid .recording-item .dropdown-button {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
.recording-list.grid .recording-item .dropdown-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.recording-list.grid .recording-item .open .dropdown-button {
  background-color: rgba(0, 0, 0, 0.5);
}

.recording-list.grid .recording-item .dropdown-button:focus {
  outline: none;
}

.recording-list.grid .recording-item button.link {
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.welcome-panel {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 80vw;
  margin: 0 auto;
  align-items: center;
}

.welcome-panel img.logo {
  box-sizing: border-box;
  width: 32px;
  margin-top: 50px;
}

.welcome-panel img.atwork {
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
}

.welcome-panel button {
  background: #1890ff;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 28px;
  width: 80px;
  border-radius: 2px;
}

.welcome-panel button:hover {
  cursor: pointer;
  background-color: #2a90ff;
}

.welcome-screen {
  background: #f0f2f5;
  height: 100%;
}

.left-sidebar {
  width: 240px;
  background: var(--theme-toolbar-background);
  border-right: 1px solid var(--theme-splitter-color);
  padding: 40px 8px;
  overflow: hidden;
}

.left-sidebar > * {
  font-size: 1.2rem;
  color: var(--theme-comment);
}

.left-sidebar hr {
  margin: 20px;
}

.left-sidebar .left-sidebar-menu-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 12px;
  border-radius: 4px;
  transition-duration: 200ms;
  cursor: pointer;
}

.left-sidebar .left-sidebar-menu-item.disabled {
  cursor: auto;
}

.left-sidebar .left-sidebar-menu-item:hover:not(.disabled) {
  background: #E8E8E8
}

.left-sidebar .left-sidebar-menu-item.active {
  background: #E8E8E8;
}

.left-sidebar .left-sidebar-menu-item.active:hover {
  background: #E2E2E2;
}

.left-sidebar .left-sidebar-menu-item > *:not(:last-child) {
  margin-right: 8px;
}

.left-sidebar .left-sidebar-menu-item .img {
  width: 20px;
  height: 20px;
  background-color: var(--theme-comment);
}

.left-sidebar .left-sidebar-menu-item span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
