.recordings {
  margin: 0 auto;
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.recordings .recording:hover {
  cursor: pointer;
}

.recordings .recording {
  max-width: 420px;
  min-width: 300px;
  padding: 10px;
  margin: 20px;
}

.recordings .recording .title {
  font-size: 16px;
  overflow: hidden;
  margin-top: 12px;
  line-height: 26px;
  font-weight: 600;
  margin: 0.6em 0 0.2em;
  color: var(--primary-color);
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0;
  background: none;
  border: none;
}

.recordings .recording input.title {
  width: 100%;
}

.recordings .recording .secondary {
  color: var(--secondary-color);
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}

.recordings .recording .permissions {
  line-height: 2em;
}

.recordings .recording .screenshot {
  width: 100%;
  height: 240px;
  background: #ccc;
  justify-content: center;
  display: flex;
  position: relative;
}

.recordings .recording .screenshot img {
  object-fit: contain;
  width: 100%;
}

.recordings .recording:hover .overlay {
  visibility: visible;
}

.recordings .recording .overlay {
  display: none;
  position: absolute;
  top: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
}

.recordings .recording .dropdown-block {
  display: none;
  position: absolute;
  height: 28px;
  right: 20px;
  top: 20px;
}

.recordings .recording:hover .dropdown-block {
  display: block;
}

.recordings .recording .dropdown-button {
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
}
.recordings .recording .dropdown-button:hover {
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.recordings .recording .open .dropdown-button {
  background-color: rgba(0, 0, 0, 0.5);
}

.recordings .recording .dropdown-button:focus {
  outline: none;
}

.recordings .recording button.link {
  width: 50px;
  height: 50px;
  background: white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  box-shadow: 0 2px 6px 1px rgba(0, 0, 0, 0.2);
}

.welcome-panel {
  display: flex;
  flex-direction: column;
  width: 600px;
  max-width: 80vw;
  margin: 0 auto;
  align-items: center;
}

.welcome-panel img.logo {
  box-sizing: border-box;
  width: 32px;
  margin-top: 50px;
}

.welcome-panel img.atwork {
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
}

.welcome-panel button {
  background: #1890ff;
  border: none;
  color: white;
  font-size: 16px;
  line-height: 28px;
  width: 80px;
  border-radius: 2px;
}

.welcome-panel button:hover {
  cursor: pointer;
  background-color: #2a90ff;
}

.welcome-screen {
  background: #f0f2f5;
  height: 100%;
}
