.sharing-modal .private-settings {
  background: var(--theme-body-background);
  padding: 30px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid var(--cool-gray-300);
}

.sharing-modal .private-settings > :not(:first-child) {
  margin-top: 16px;
}
