.Prototype {
  color: var(--object-inspector-prototype-color);
  display: inline;
  min-height: 1rem;
}

.SourceLocationLink {
  color: var(--link-color);
  text-decoration: underline;
  cursor: pointer;
}

.SourceLocationLink:hover {
  color: var(--link-color-active);
}

.BucketLabel {
  color: var(--object-inspector-bucket-color);
}

.Separator {
  color: var(--object-inspector-separator-color);
}

.KeyValue {
  display: inline;
  text-align: start;
  vertical-align: top;
}

.ToggleAlignmentPadding {
  margin-left: 1.25rem;
}
