.events-timeline-comments {
  flex-grow: 1;
  overflow: auto;
  width: 300px;
  border-left: 2px solid var(--grey-20);
}

.event {
  padding: 20px 16px 20px;
  line-height: 1.25rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid var(--theme-splitter-color);
}

.event:hover {
  border-left: 4px solid #7ed8c8;
  padding-left: 12px;
}

.event .label {
  color: var(--theme-comment);
  overflow-wrap: anywhere;
  line-height: 1.75em;
}

.events-timeline-comments p {
  color: var(--theme-comment);
  padding: 16px;
  line-height: 1.5em;
}

.events-timeline-comments .avatar {
  width: 24px;
  height: 24px;
  margin-inline-end: 12px;
  margin-top: 2px;
  align-self: flex-start;
  background-size: cover;
  border-radius: 50%;
}
