.Details {
  height: 100%;
  overflow: auto;
}

.LoadRemainingDetails {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.NoSelection {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dim);
  font-size: var(--font-size-regular);
}
