.Request,
.RequestSelected,
.RequestErrored,
.RequestPending {
  display: flex;
  align-items: center;
  gap: 1ch;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.RequestSelected {
  background-color: var(--theme-selection-background);
  color: var(--theme-selection-color);
}
.RequestErrored {
  color: var(--console-error-color);
}

.Request:not(.RequestSelected):hover {
  background-color: var(--badge-hover-background-color);
}

.RequestMethod {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
  font-family: var(--font-family-monospace);
}

.RequestStartTime {
  flex: 0 0 4ch;
  font-size: var(--font-size-small);
}

.RelativeDurationContainer {
  width: 1.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  background-color: var(--chrome);
}

.RelativeDurationBlockSelected,
.RelativeDurationBlockFast,
.RelativeDurationBlockMedium,
.RelativeDurationBlockSlow {
  height: 100%;
  border-radius: 0.125rem;
}
.RelativeDurationBlockSelected {
  background-color: var(--theme-toolbar-selected-color);
}
.RelativeDurationBlockFast {
  background-color: var(--testsuites-success-color);
}
.RelativeDurationBlockMedium {
  background-color: var(--yellow-65);
}
.RelativeDurationBlockSlow {
  background-color: var(--testsuites-flaky-color);
}
