.mainContainer {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
  padding-top: 0.5rem;
  padding-bottom: 3rem;
}

.subContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-right: 0.25rem;
}

.title {
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 0.3rem;
  font-size: 1.125rem;
  font-weight: 600;
}

.errorGroupContainer {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  overflow-x: auto;
  border-radius: 0.375rem;
  background-color: var(--testsuites-v2-error-bg);
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-left: 0.3rem;
}

.errorToggleButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.25rem;
}

.errorCountLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.375rem;
  background-color: var(--testsuites-failed-color);
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.75rem;
  font-weight: 700;
  color: #ffffff;
}

.errorSummary {
  margin-left: 0.5rem;
  flex-grow: 1;
  text-align: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.errorToggleIcon {
  transition-duration: 140ms;
  min-width: 1rem;
  min-height: 1rem;
  width: 1rem;
  height: 1rem;
}

.errorDetails {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  white-space: pre-wrap;
  word-break: break-word;
  font-family: monospace;
  font-size: 0.75rem;
}
