.ResizeHandle {
  border-right: 1px solid var(--theme-splitter-color);
  height: 100%;
  width: 1px;
}

.ResizeHandleTarget {
  width: 0.25rem;
  height: 100%;
  position: relative;
  left: -0.125rem;
}
