/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.outline-filter {
  margin: 3px;
  padding: 3px;
  background-color: var(--theme-tab-background);
  border-radius: 8px;
}

.outline-filter-input {
  width: 100%;
  color: var(--theme-body-color);
  font-size: inherit;
  user-select: text;
  height: 100%;
}

.outline-filter-input.focused {
  border: 1px solid #ddd;
}

.outline-filter-input::placeholder {
  font-style: italic;
  color: var(--theme-comment);
}

.theme-dark .outline-filter-input.focused {
  border: 1px solid #ddd;
}

.devtools-filterinput {
  background-color: #fff;
  border-radius: 6px;
}
