.Input {
  background: transparent;
  border: none;
  outline: none;
  padding: 0;

  font-size: var(--font-size-regular);
  font-family: var(--font-family-monospace);
  color: var(--color-default);
}

.AutoComplete {
  background-color: var(--background-color-contrast-2);
  border: 1px solid var(--border-color-light);
  padding: 1rem;
}
