.tok-comment:hover,
.tok-definition:hover,
.tok-local:hover,
.tok-keyword:hover,
.tok-number:hover,
.tok-operator:hover,
.tok-propertyName:hover,
.tok-punctuation:hover,
.tok-string:hover,
.tok-string2:hover,
.tok-typeName:hover,
.tok-variableName:hover,
.tok-variableName2:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.tok-comment {
  color: #aaa;
}
.tok-definition {
  color: #ddd;
}
.tok-local {
  color: #ddd;
}
.tok-keyword {
  color: #faf;
}
.tok-number {
  color: #afa;
}
.tok-operator {
  color: #ddd;
}
.tok-propertyName {
  color: #aff;
}
.tok-punctuation {
  color: #ddd;
}
.tok-string,
.tok-string2 {
  color: #faa;
}
.tok-typeName {
  color: #fff;
}
.tok-variableName,
.tok-variableName2 {
  color: #fff;
}
