.theme-dark {
  --token-hover-background-color: #42381f;
  --token-comment-color: #8f8f92;
  --token-definition-color: #fefefe;
  --token-local-color: #fefefe;
  --token-keyword-color: #ff42a9;
  --token-meta-color: #8f8f92;
  --token-number-color: #ffff00;
  --token-operator-color: #fefefe;
  --token-propertyName-color: #ff98eb;
  --token-punctuation-color: #75bfff;
  --token-string-color: #08aafa;
  --token-string2-color: #08aafa;
  --token-typeName-color: #75bfff;
  --token-variableName-color: #58e0ff;
  --token-variableName2-color: #58e0ff;
}

.theme-light {
  --token-hover-background-color: #fffac8;
  --token-comment-color: #737373;
  --token-definition-color: #3172e0;
  --token-local-color: #4e4e52;
  --token-meta-color: #737373;
  --token-keyword-color: #de00aa;
  --token-number-color: #18181a;
  --token-operator-color: #4e4e52;
  --token-propertyName-color: #dd00a9;
  --token-punctuation-color: #0074e8;
  --token-string-color: #0842a4;
  --token-string2-color: #0842a4;
  --token-typeName-color: #0074e8;
  --token-variableName-color: #8d1bdc;
  --token-variableName2-color: #8d1bdc;
}

.tok-comment {
  color: var(--token-comment-color);
}
.tok-definition {
  color: var(--token-definition-color);
}
.tok-local {
  color: var(--token-local-color);
}
.tok-keyword {
  color: var(--token-keyword-color);
}
.tok-meta {
  color: var(--token-meta-color);
}
.tok-number {
  color: var(--token-number-color);
}
.tok-operator {
  color: var(--token-operator-color);
}
.tok-propertyName {
  color: var(--token-propertyName-color);
}
.tok-punctuation {
  color: var(--token-punctuation-color);
}
.tok-string {
  color: var(--token-string-color);
}
.tok-string2 {
  color: var(--token-string2-color);
}
.tok-typeName {
  color: var(--token-typeName-color);
}
.tok-variableName:not(.tok-definition) {
  color: var(--token-variableName-color);
}
.tok-variableName2 {
  color: var(--token-variableName2-color);
}
