.Point {
  display: flex;
  flex-direction: column;
  gap: 0.5ch;
  background-color: var(--color-hit-counts-0);
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-left: 39px
}

.Label {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
.LabelIcon {
  height: 1.5rem;
  width: 1.5rem;
}

.Input {
  flex: 1;
  background-color: var(--background-color-contrast-2);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-default);
  width: 4rem;
  padding: 0.5rem;
  font-size: 11px;
}
.Input:disabled {
  opacity: 0.5;
}

.DeleteButton,
.SaveButton {
  background: none;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: none;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DeleteButton {
  background-color: var(--background-color-secondary-button);
  color: var(--color-secondary-button);
}
.SaveButton {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
}

.SaveButton:disabled {
  opacity: 0.5;
}

.DeleteButtonIcon,
.SaveButtonIcon {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  border-radius: 10px;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.HitPointsList {
  margin: 0;
  margin-top: 4px;
  padding: 0;
  display: flex;
  gap: 0.5ch;
  overflow: auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.Prev {
  background-color: white;
  width: 14px;
  height: 14px;
  border-radius: 7px;
}

.Next {
  background-color: white;
  width: 14px;
  height: 14px;
  border-radius: 7px;
}

.Timeline {
  width: 500px;
  height: 4px;
  background-color: white;
  margin-top: 6px;
  margin-left: 4px;
  border-radius: 4px;
}

.HitsBadge {
  background-color: white;
  width: 28px;
  height: 14px;
  border-radius: 7px;
}

.HitPointListItem {
  list-style-type: none;
}

.HitPointsWarning {
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--color-error);
}
.HitPointsWarningIcon {
  width: 1rem;
  height: 1rem;
  flex: 0 0 1rem;
  margin-right: 0.5ch;
  display: inline-block;
}
