.Panel {
  display: flex;
  flex-direction: column;
  background-color: var(--point-panel-background-color);
  padding: 1em;
  gap: 0.4em;
}

.Loader {
  height: var(--point-panel-height);
  background-color: var(--point-panel-background-color);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dimmer);
}

.LayoutRow {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.MainColumn {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  overflow-x: auto;
}

.SecondaryColumn {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.FixedHeightRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5em;
}

.ContentWrapper,
.ContentWrapperInvalid,
.ContentWrapperTooManyPoints {
  overflow: auto;
  height: 100%;
  flex: 1;
  background-color: var(--point-panel-input-background-color);
  border: 2px solid var(--point-panel-input-border-color);
  padding: 0 0.5em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.ContentWrapperInvalid {
  background-color: var(--background-color-error);
  border-color: var(--border-color-error);
}

.ContentWrapperTooManyPoints {
  background-color: var(--background-color-error);
  border-color: var(--border-color-error);
  color: var(--color-error);
}

.Content {
  /* Allows height for horizontal scrollbar without shifting text */
  height: 2em;
  max-height: 2em;
  line-height: 2em;

  flex: 1 1 auto;
  white-space: pre;
  overflow-y: hidden;
  overflow-x: auto;
  font-size: var(--font-size-regular);
}

.AddConditionButton,
.CancelButton,
.EditButton,
.SaveButton {
  flex-grow: 0;
  flex-shrink: 0;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 2em;
}

.EditButtonIcon {
  height: 1.5em;
  width: 1.5em;
  fill: var(--point-panel-input-edit-button-color);
}

.SaveButton {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
  font-size: var(--font-size-regular);
  height: 2em;
  border-radius: 2em;
  padding: 0 2ch;
}
.SaveButton:disabled {
  background-color: var(--background-color-primary-button-disabled);
}

.AddConditionButton,
.CancelButton {
  text-decoration: underline;
  color: var(--color-link);
  font-size: var(--font-family-default);
  font-size: var(--font-size-regular);
}

.CancelButton {
  width: 100%;
}

.ContentInput,
.ContentInputWithNag {
  width: 100%;

  /* Allows height for horizontal scrollbar without shifting text */
  height: 2em;
  line-height: 1.5em;
  padding: 0.25em 0;
}
.ContentInputWithNag::selection {
  background-color: var(--nag-background-color);
  color: var(--nag-color);
}

.ContentPrefixLabel {
  width: 3ch;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-small);
}
