.NextHitPointButton,
.PreviousHitPointButton {
  flex-grow: 0;
  flex-shrink: 0;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PreviousHitPointButton,
.NextHitPointButton {
  height: 1.5em;
  width: 1.5em;
  border-radius: 1.5em;
  background-color: var(--point-panel-button-background-color);
  color: var(--point-panel-button-color);
  padding: 0;
  transition: opacity 250ms;
}

.PreviousHitPointButton:disabled,
.NextHitPointButton:disabled {
  background-color: var(--point-panel-button-background-color-disabled);
  color: var(--point-panel-button-color-disabled);
  cursor: default;
}

.PreviousHitPointButtonIcon,
.NextHitPointButtonIcon {
  height: 1.5em;
  width: 1.5em;
}

.HitPointsLabel,
.HitPointsLabelTooMany {
  font-size: var(--font-size-tiny);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10ch;
  height: 3ch;
  border-radius: 1em;

  background-color: var(--badge-background-color);
  color: var(--badge-color);
}
.HitPointsLabelTooMany {
}

.HitPointTimeline,
.HitPointTimelineDisabled {
  position: relative;
  flex: 1 1 auto;
  height: 2em;
  display: flex;
  align-items: center;
  transition: opacity 250ms;
}
.HitPointTimeline {
  cursor: pointer;
}
.HitPointTimelineDisabled {
  opacity: 0.5;
}

.HitPointTimelineBackground {
  width: 100%;
  height: 0.5em;
  background-color: var(--background-color-contrast-1);
  border-radius: 0.5em;
}

.HitPointButton,
.HitPointButtonCurrent {
  position: absolute;
  top: 1em;
  margin: 0;
  margin-top: -0.5em;
  margin-left: -0.5em;
  padding: 0;
  border: 0;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  outline: 0;
}
.HitPointButton:disabled,
.HitPointButtonCurrent:disabled {
  cursor: default;
}
.HitPointButton {
  background-color: var(--color-brand);
  z-index: 2;
  cursor: pointer;
}
.HitPointButtonCurrent {
  background-color: var(--color-current);
  z-index: 3;
}

.ProgressBarOpaque,
.ProgressBarPartiallyOpaque {
  position: absolute;
  left: 0;
  height: 0.5em;
  background-color: var(--color-brand);
  border-radius: 0.5em;
}
.ProgressBarPartiallyOpaque {
  opacity: 0.5;
}

.TimeTool {
  position: absolute;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  margin-top: -0.5em;
  background-color: var(--background-color-default);
  color: var(--color-default);
}
