.NextHitPointButton,
.PreviousHitPointButton {
  flex: 0 0 1.75rem;
  height: 1.75rem;
  width: 1.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 1.75rem;
  background-color: var(--point-panel-timeline-button-background-color);
  color: var(--point-panel-timeline-button-color);
  box-shadow: var(--point-panel-timeline-button-shadow);
  transition: opacity 250ms;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
}

.NextHitPointButton:disabled,
.PreviousHitPointButton:disabled {
  color: var(--point-panel-timeline-button-color-disabled);
  cursor: default;
}

.NextHitPointButtonIcon,
.PreviousHitPointButtonIcon {
  height: 1.25rem;
  width: 1.25rem;
}

.HitPointsLabel,
.HitPointsLabelTooMany {
  font-size: var(--font-size-medium);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.75rem;
  min-width: 7ch;
  padding: 0 1ch;
  border-radius: 1rem;

  background-color: var(--point-panel-timeline-label-background-color);
  color: var(--point-panel-timeline-label-color);
}
.HitPointsLabelTooMany {
}

.HitPointTimeline,
.HitPointTimelineDisabled {
  position: relative;
  flex: 1 1 auto;
  height: 2rem;
  display: flex;
  align-items: center;
  transition: opacity 250ms;
}
.HitPointTimeline {
  cursor: pointer;
}
.HitPointTimelineDisabled {
  opacity: 0.5;
}

.HitPointTimelineBackground {
  width: 100%;
  height: 0.35rem;
  background-color: var(--point-panel-timeline-background-color);
  border-radius: 0.35rem;
}

.HitPointButton,
.HitPointButtonCurrent {
  position: absolute;
  top: 0.8rem;
  margin: 0;
  margin-top: -0.35rem;
  margin-left: -0.35rem;
  padding: 0;
  border: 0;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
  outline: 0;
}
.HitPointButton:disabled,
.HitPointButtonCurrent:disabled {
  cursor: default;
}
.HitPointButton {
  background-color: var(--color-brand);
  z-index: 2;
  cursor: pointer;
}
.HitPointButtonCurrent {
  background-color: var(--color-current);
  z-index: 3;
}

.ProgressBarOpaque,
.ProgressBarPartiallyOpaque {
  position: absolute;
  left: 0;
  height: 0.35rem;
  background-color: var(--color-brand);
  border-radius: 0.35rem;
}
.ProgressBarPartiallyOpaque {
  opacity: 0.5;
}

.TimeTool {
  position: absolute;
  padding: 0.25rem 0.35rem;
  border-radius: 0.25rem;
  margin-top: -0.35rem;
  background-color: var(--background-color-default);
  color: var(--color-default);
}
