.Point {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.Label {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  gap: 0.5ch;
}

.Input {
  flex: 1;
  background-color: var(--background-color-default);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-default);
  width: 4rem;
  padding: 0.25rem;
}

.DeleteButton,
.SaveButton {
  background: none;
  padding: 0.25rem;
  border-radius: 0.25rem;
  border: none;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.DeleteButton {
  background-color: var(--background-color-secondary-button);
  color: var(--color-secondary-button);
}
.SaveButton {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
}

.DeleteButtonIcon,
.SaveButtonIcon {
  width: 1rem;
  height: 1rem;
}
