.Panel {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color-light);
  padding: 1em;
  gap: 1em;
}

.Loader {
  height: var(--point-panel-height);
  background-color: var(--background-color-light);
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dimmer);
}

.LayoutRow {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.MainColumn {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: flex-start;
  overflow-x: auto;
}

.SecondaryColumn {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
}

.FixedHeightRow {
  width: 100%;
  flex: 0 0 3em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.ContentWrapper,
.ContentWrapperInvalid,
.ContentWrapperTooManyPoints {
  height: 100%;
  flex: 1;
  background-color: var(--point-panel-input-background-color);
  border: 1px solid transparent;
  padding: 0 0.5em;
  border-radius: 0.5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5ch;
}

.ContentWrapperInvalid {
  background-color: var(--background-color-error);
  border-color: var(--border-color-error);
}

.ContentWrapperTooManyPoints {
  background-color: var(--background-color-error);
  border: 1px solid var(--border-color-error);
  color: var(--color-error);
}

.Content {
  flex: 1 1 auto;
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size-regular);
}

.AddConditionButton,
.CancelButton,
.EditButton,
.SaveButton {
  flex-grow: 0;
  flex-shrink: 0;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.EditButtonIcon {
  height: 1.5em;
  width: 1.5em;
  fill: var(--color-default);
}

.SaveButton {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
  font-size: var(--font-size-regular);
  height: 2em;
  border-radius: 2em;
  padding: 0 2ch;
}
.SaveButton:disabled {
  background-color: var(--background-color-tertiary-button);
  color: var(--color-tertiary-button);
  opacity: 0.5;
}

.AddConditionButton,
.CancelButton {
  text-decoration: underline;
  font-size: var(--font-size-small);
  color: var(--color-dim);
}

.CancelButton {
  width: 100%;
}

.ContentInput {
  width: 100%;
}

.ContentPrefixLabel {
  width: 3ch;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-small);
}
