.LineWithHits,
.LineWithoutHits {
  white-space: pre-wrap;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-regular);
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: background-color 250ms;
}

.LineWithoutHits .LineNumber {
  color: var(--color-dimmer);
}

.CurrentSearchResultLine {
  background-color: var(--background-color-contrast-1);
}

.Header {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.TogglePointButton {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
  font: inherit;
  font-size: var(--font-size-tiny);
  height: 1.5rem;
  flex: 0 0 var(--hit-count-size);
  width: var(--hit-count-size);
  min-width: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  user-select: false;
}
.TogglePointButton {
  display: none;
}
.TogglePointButton:disabled {
  opacity: 0.5;
  cursor: default;
}

.BreakpointIcon,
.DisabledBreakpointIcon,
.Icon {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}
.BreakpointIcon,
.DisabledBreakpointIcon {
  color: var(--color-brand);
}
.DisabledBreakpointIcon {
  opacity: 0.5;
}

.LineWithHits:hover .TogglePointButton {
  display: flex;
}

.LineNumber {
  height: 1.5rem;
  width: var(--line-number-size);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-size-small);
  margin: 0 1ch;
  color: var(--color-dim);
  user-select: none;
}

.LineHitCountBar {
  flex: 0 0 1ch;
  height: var(--line-height);
}
.LineHitCountBar0 {
  background-color: var(--color-hit-counts-bar-0);
}
.LineHitCountBar1 {
  background-color: var(--color-hit-counts-bar-1);
}
.LineHitCountBar2 {
  background-color: var(--color-hit-counts-bar-2);
}
.LineHitCountBar3 {
  background-color: var(--color-hit-counts-bar-3);
}

.LineHitCountLabel {
  height: var(--line-height);
  font-size: var(--font-size-tiny);
  flex: 0 0 calc(var(--hit-count-size) + 2ch);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-hit-counts-label-color);
}
.LineHitCountLabel0 {
}
.LineHitCountLabel1 {
  background-color: var(--color-hit-counts-label-background-1);
}
.LineHitCountLabel2 {
  background-color: var(--color-hit-counts-label-background-2);
}
.LineHitCountLabel3 {
  background-color: var(--color-hit-counts-label-background-3);
}

.LineSegment {
  margin: 0;
}

.BreakpointButton {
  display: inline-block;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0 0.5ch;
  cursor: pointer;
  height: 1rem;
}

.LineSegmentsAndPointPanel {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  border-left: 1px solid var(--border-color-light);
}

.PointPanel {
  position: absolute;
  top: var(--line-height);
  width: 100%;
}
