.Popup {
  position: absolute;
  top: 1ch;
  left: 1ch;
  right: 1ch;
  background-color: var(--background-color-contrast-1);
  border-radius: 0.25rem;
}

.TopRow {
  display: flex;
  padding: 0.5rem;
}

.Icon {
  width: 2rem;
  height: 2rem;
  padding: 0.25rem;
  flex: 0 0 2rem;
  border-top: 1px solid var(--background-color-default);
  display: inline-block;
}

.Input {
  width: 100%;
  height: 2rem;
  padding: 0 0.5ch;
  background: none;
  border: 2px solid transparent;
  outline: none;
  background-color: var(--background-color-default);
  color: var(--color-default);
}
.Input:focus {
  background-color: var(--background-color-contrast-1);
  border-color: var(--color-brand);
}

.Results {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  white-space: nowrap;
  margin-left: 0.5ch;
  padding: 0 0.5ch;
  font-size: var(--font-size-small);
}

.Result,
.ResultFocused {
  padding: 0.5rem 1rem;
}

.ResultFocused {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
}

.ResultIcon {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

.ResultFileName {
  margin: 0 1ch;
}

.ResultURL {
  color: var(--color-dim);
}
