.List {
  height: 100%;
  border-radius: 0.5rem;
  background-color: var(--background-color-contrast-2);
  overflow: auto;
  padding: 0 0.5rem;
}

.Header {
  padding: 0.5rem;
  font-size: 1.25rem;
  color: var(--color-default);
  display: flex;
  align-items: center;
}
.HeaderLeft,
.HeaderRight {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  gap: 1ch;
}

.SourceTree {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.ListItem {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
}

.Icon {
  width: 1rem;
  height: 1rem;
  flex: 0 0 1rem;
}
