.Source {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: 100%;
}

.Header {
  display: flex;
  align-items: center;
  gap: 1ch;
}

.Button {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
  height: 1.5rem;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  border-radius: 0.5rem;
  display: none;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.Button:disabled {
  opacity: 0.5;
  cursor: default;
}

.BreakpointIcon,
.DisabledBreakpointIcon,
.Icon {
  width: 1rem;
  height: 1rem;
  display: inline-block;
}
.BreakpointIcon,
.DisabledBreakpointIcon {
  color: var(--color-brand);
}
.DisabledBreakpointIcon {
  opacity: 0.5;
}

.LineNumberInput {
  background-color: var(--background-color-default);
  border: none;
  border-radius: 0.25rem;
  color: var(--color-default);
  width: 4rem;
  padding: 0.25rem;
}

.SourceContents {
  margin: 0;
  overflow: auto;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

.LineNumber {
  height: 1.5rem;
  width: 1.5rem;
  flex: 0 0 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-small);
}

.LineWithHits,
.LineWithoutHits {
  white-space: pre-wrap;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-regular);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.LineWithoutHits .LineNumber {
  color: var(--color-dim);
}

.LineWithHits:hover .Button {
  display: flex;
}
.LineWithHits:hover .LineNumber {
  display: none;
}

.LineHitCountLabel0,
.LineHitCountLabel1,
.LineHitCountLabel2,
.LineHitCountLabel3 {
  font-size: var(--font-size-tiny);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-right: 1px solid var(--color-contrast);
  margin-right: 1ch;
}
.LineHitCountLabel1 {
  background-color: var(--color-hit-counts-label-1);
}
.LineHitCountLabel2 {
  background-color: var(--color-hit-counts-label-2);
}
.LineHitCountLabel3 {
  background-color: var(--color-hit-counts-label-3);
}

.LineHitCount0,
.LineHitCount1,
.LineHitCount2,
.LineHitCount3 {
  flex: 0 0 0.25rem;
  height: 100%;
}
.LineHitCount0 {
  background-color: var(--color-hit-counts-0);
}
.LineHitCount1 {
  background-color: var(--color-hit-counts-1);
}
.LineHitCount2 {
  background-color: var(--color-hit-counts-2);
}
.LineHitCount3 {
  background-color: var(--color-hit-counts-3);
}

.PointPanel {
  margin-left: calc(1.5rem + 0.5ch);
}

.LineSegment {
  margin: 0;
}

.BreakpointButton {
  display: inline-block;
  background: transparent;
  outline: none;
  border: none;
  padding: 0;
  margin: 0 0.5ch;
  cursor: pointer;
  height: 1rem;
}
