.Popup {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  right: 0.5em;
  background-color: var(--background-color-contrast-1);
  border-radius: 0.25em;
}

.TopRow {
  display: flex;
  padding: 0.5em;
}

.Icon {
  width: 2em;
  height: 2em;
  padding: 0.25em;
  flex: 0 0 2em;
  border-top: 1px solid var(--background-color-default);
  display: inline-block;
}

.Input {
  width: 100%;
  height: 2em;
  padding: 0 0.5ch;
  background: none;
  border: 2px solid transparent;
  outline: none;
  background-color: var(--background-color-default);
  color: var(--color-default);
}
.Input:focus {
  background-color: var(--background-color-contrast-1);
  border-color: var(--color-brand);
}

.Results {
}

.Result,
.ResultFocused {
  padding: 0.5em 1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ResultFocused {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
}

.ResultIcon {
  width: 1em;
  height: 1em;
  display: inline-block;
}

.ResultFileName {
  margin: 0 1ch;
}

.ResultURL {
  color: var(--color-dim);
}

.GoToLinePrefix {
  color: var(--color-dim);
  margin-right: 1ch;
}
