.Container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0.5em;
}

.Icon {
  width: 2em;
  height: 2em;
  padding: 0.25em;
  flex: 0 0 2em;
  border-top: 1px solid var(--background-color-default);
  display: inline-block;
}

.Input {
  width: 100%;
  height: 2em;
  padding: 0 0.5ch;
  background: none;
  border: 2px solid transparent;
  outline: none;
  background-color: var(--background-color-default);
  color: var(--color-default);

  font-family: var(--font-family-monospace);
  font-size: var(--font-size-regular);
}
.Input:focus {
  background-color: var(--background-color-contrast-1);
  border-color: var(--color-brand);
}

.Results {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  white-space: nowrap;
  margin-left: 0.5ch;
  padding: 0 0.5ch;
  font-size: var(--font-size-small);
}

.ResultsIconButton {
  background: none;
  border: none;
  color: var(--color-default);
  padding: 0;
  width: 1em;
  height: 1em;
}

.ResultsIcon {
  width: 1em;
  height: 1em;
  display: inline-block;
}
