.Expandable {
  display: inline-flex;
  flex-direction: column;
}

.ToggleButton {
  color: var(--value-type-object);
  display: flex;
  align-items: flex-start;
  min-height: 1rem;
  background: transparent;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

.ArrowContainer {
  width: 0.75rem;
  height: 1rem;
  position: relative;
}

.ArrowCollapsed,
.ArrowExpanded {
  transform-origin: 0.5rem 0.5rem;
  transition: transform 200ms;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5ch;
  display: inline-block;
}
.ArrowExpanded {
  transform: rotate(90deg);
}

.ArrowIcon {
  fill: var(--collapsible-toggle-color);
  width: 1rem;
  height: 1rem;
}

.Children {
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: column;
}
