.Popup {
  position: absolute;
  z-index: 20;
  display: flex;
  flex-direction: column;
  padding: 0.125rem 0;
}

.UpArrow,
.DownArrow {
  height: 0.5rem;
  width: 1rem;
  z-index: 21;
}
.UpArrow {
  order: 0;
  margin-bottom: -1px;
}
.DownArrow {
  transform: rotate(180deg);
  margin-top: -1px;
  order: 1;
}

.ArrowBackground {
  fill: var(--border-color);
}
.ArrowForeground {
  fill: var(--color-primary-background);
}
