.Capsule {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  padding: 0 2ch;
  height: 1rem;
  border-radius: 1rem;

  background-color: var(--point-panel-timeline-label-background-color);
  color: var(--point-panel-timeline-label-color);

  font-weight: bold;
  font-variant-numeric: tabular-nums;
}

.Capsule:hover {
  cursor: pointer;
}

.Label {
  flex: 1 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  /* Visually center the font within the capsule */
  padding-top: 1px;
}

.CaretIcon {
  flex: 0 0 0.5rem;
  height: 0.5rem;
  width: 0.5rem;
}

.NearMatch {
  color: var(--point-panel-timeline-label-unselected-color);
}

.ExactMatch {
  color: var(--point-panel-timeline-label-selected-color);
}
