.Panel,
.Loader,
.ErrorFallback {
  width: calc(var(--list-width) - var(--source-line-number-offset));
  border-left: var(--hit-count-bar-size) solid var(--color-hit-counts-bar-0);
  font-size: var(--font-size-small);

  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.25rem;
  background-color: var(--point-panel-background-color);

  --badge-picker-button-size: 1.25rem;
  --badge-picker-icon-size: 1rem;
}

.FocusModeLink {
  text-decoration: underline;
  cursor: pointer;
}

.FocusModeLink:hover {
  color: var(--point-panel-input-disabled-link-color-hover);
}

.Loader,
.ErrorFallback {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dimmer);
}
.Loader {
  background-color: var(--point-panel-background-color);
}
.ErrorFallback {
  background-color: var(--background-color-error);
  color: var(--color-error);
  border-top: 1px solid var(--border-color-error);
  border-bottom: 1px solid var(--border-color-error);
}

.EditableContentWrapperRow,
.TimelineWrapperRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.EditableContentWrapperRow {
  flex: 0 0 2rem;
}
.TimelineWrapperRow {
  flex: 0 0 auto;
}

.ContentWrapper,
.ContentWrapperInvalid,
.ContentWrapperTooManyPoints {
  overflow: hidden;
  height: 100%;
  flex: 1;
  background-color: var(--point-panel-input-background-color);
  border: 2px solid var(--point-panel-input-border-color);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
  transition: 100ms background-color;
}
.ContentWrapper[data-state-editable="true"]:hover {
  border-color: var(--point-panel-input-border-color-hover);
}
.Panel[data-test-state="edit"] .ContentWrapper:focus,
.Panel[data-test-state="edit"] .ContentWrapper:focus-within {
  border-color: var(--point-panel-input-border-color-focus);
}
.ContentWrapper[data-state-logging-enabled="false"] {
  background-color: var(--point-panel-input-disabled-background-color);
  border-color: var(--point-panel-input-border-color);
}

.ContentWrapperInvalid {
  background-color: var(--background-color-error);
  border-color: var(--border-color-error);
}

.ContentWrapperTooManyPoints {
  background-color: var(--background-color-error);
  border-color: var(--border-color-error);
  color: var(--color-error);
}

.Content {
  /* Allows height for horizontal scrollbar without shifting text */
  height: 1.5rem;
  max-height: 1.5rem;
  line-height: 1.5rem;

  flex: 1 1 auto;
  white-space: pre;
  overflow-y: hidden;
  overflow-x: auto;
  font-size: var(--font-size-regular);

  border: 2px solid var(--logpoint-border-color);

  display: flex;
  flex-direction: row;
  align-items: center;

  /* Firefox fixes */
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb-color) transparent;
}
.ContentWrapper[data-state-editable="true"] {
  cursor: text;
}
.Content::-webkit-scrollbar {
  height: 0.5rem;
}
.Content:focus {
  border-color: var(--logpoint-border-color-focused);
}
.Content [data-test-name="PointPanel-ContentInput"] {
  white-space: pre !important;
}

.EditButton,
.RemoveConditionalButton,
.SaveButton,
.ToggleVisibilityButton {
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
}
.EditButton {
  cursor: inherit;
}
.EditButton[data-invalid],
.EditButton:disabled,
.RemoveConditionalButton[data-invalid],
.RemoveConditionalButton:disabled,
.SaveButton[data-invalid],
.SaveButton:disabled .ToggleVisibilityButton:disabled {
  cursor: default;
}

.EditButton,
.ToggleVisibilityButton {
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
  color: var(--point-panel-input-edit-button-color);
}
.ContentWrapper[data-state-editable="true"]:hover .EditButton,
.EditButton:hover,
.ToggleVisibilityButton:hover {
  color: var(--point-panel-input-edit-button-color-hover);
}

.RemoveConditionalButton {
  color: var(--point-panel-input-cancel-button-color);
}
.RemoveConditionalButton:hover {
  color: var(--point-panel-input-cancel-button-color-hover);
}
.RemoveConditionalButton[data-invalid] {
  color: var(--point-panel-input-disabled-cancel-button-color);
}
.RemoveConditionalButton[data-invalid]:hover {
  color: var(--point-panel-input-disabled-cancel-button-color-hover);
}

.RemoveConditionalButtonIcon {
  width: 1rem;
  height: 1rem;
}

.EditButtonIcon,
.ToggleVisibilityButtonIcon {
  height: 1rem;
  width: 1rem;
}

.ContentInput,
.ContentInputWithNag {
  width: 100%;

  /* Allows height for horizontal scrollbar without shifting text */
  height: 1.5rem;
  line-height: 1.5rem;
}
.ContentInputWithNag::selection {
  background-color: var(--nag-background-color);
  color: var(--nag-color);
}

.ContentInput p,
.ContentInputWithNag p {
  margin: 0;
}

.ConditionalIconWrapper {
  width: var(--badge-picker-button-size);
  height: var(--badge-picker-button-size);
  flex: 0 0 var(--badge-picker-button-size);
  border-radius: var(--badge-picker-icon-size);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--badge-picker-background-color);
}
.ConditionalIconWrapper[data-invalid] {
  background-color: var(--badge-picker-invalid-background-color);
}

.ConditionalIcon {
  width: var(--badge-picker-icon-size);
  height: var(--badge-picker-icon-size);
  color: var(--point-panel-conditional-icon);
}

.ContentButtonSpacer {
  flex: 0 0 1.5rem;
}

.SaveButton {
  flex: 0 0 1.5rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-family-default);
  font-size: var(--font-size-regular);
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
}
.SaveButton[data-invalid] {
  background-color: var(--background-color-primary-button-disabled);
}
.SaveButton:disabled {
  background-color: var(--background-color-primary-button-disabled);
}

.SaveButtonIcon {
  height: 1rem;
  width: 1rem;
}

.DisabledIconAndAvatar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: var(--point-panel-input-edit-button-color);
}

.CreatedByAvatar {
  height: 1rem;
  width: 1rem;
  border-radius: 1rem;
}
