.List {
  border-right: 1px solid var(--color-gray-2);
  height: 100%;
  overflow-y: auto;
  background-color: var(--color-gray-2);
}

.Header {
  font-weight: bold;
  height: 2rem;
  background-color: var(--color-gray-4);
  color: var(--color-white);
  display: flex;
  align-items: center;
}
.HeaderLeft,
.HeaderRight {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  gap: 1ch;
}
.HeaderRight {
  justify-content: flex-end;
  padding-right: 0.5rem;
}

.Avatar {
  height: 2rem;
  width: 2rem;
}
