.PublishedComment,
.UnpublishedComment {
  border-bottom: 2px solid var(--background-color-contrast-2);
  background-color: var(--background-color-default);
  font-size: 1rem;
}
.UnpublishedComment {
  border-left: 0.25rem solid var(--color-error);
  background-color: var(--background-color-error);
}

.HeaderRow {
  display: flex;
  align-items: center;
  gap: 0.5ch;
  padding: 0.25rem;
  user-select: none;
}

.UserName {
  font-weight: bold;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Time {
}

.Avatar {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1.5rem;
}

.Content {
  padding: 0.25rem;
}

.PublishedReply,
.UnpublishedReply {
  padding-left: 0.5rem;
  padding-right: 0.25rem;
}
.UnpublishedReply {
  border-left: 0.25rem solid var(--color-error);
  background-color: var(--background-color-error);
}

.Button {
  padding: 0;
  outline: none;
  background: var(--background-color-contrast-1);
  border: 2px solid var(--background-color-contrast-2);
  padding: 0.25rem;
  display: flex;
  border-radius: 0.25rem;
  cursor: pointer;
}
.Button:hover {
  border: 2px solid var(--background-color-contrast-3);
}
.Button:focus {
  border: 2px solid var(--color-brand);
}

.Icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
}

.ReplyButton {
  cursor: pointer;
  user-select: none;
  color: var(--color-brand);
  outline: none;
  border: none;
  padding: 0.25rem;
  background-color: var(--background-color-default);
  border: 2px solid var(--background-color-contrast-1);
  border-radius: 0.25rem;
  margin: 0.25rem;
}
.ReplyButton:focus {
  border: 2px solid var(--color-brand);
}

.ReplyInput {
  width: 100%;
  outline: none;
  border: none;
  padding: 0.25rem;
  background-color: var(--background-color-contrast-1);
  border: 2px solid var(--background-color-contrast-2);
  border-radius: 0.25rem;
  font-family: sans-serif;
}
.ReplyInput:focus {
  border: 2px solid var(--color-brand);
}

.ConfirmDeleteButton {
  background-color: var(--color-error);
  color: var(--color-contrast);
  border-color: var(--color-error);
}
