.Node {
  min-width: max(100%, var(--longest-line-width)) !important;
  line-height: 1rem;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-regular-monospace);
  white-space: pre;
  text-wrap: nowrap;
  user-select: none;
  transition: 200ms opacity;
  padding-left: calc(0.25rem + var(--data-depth));
}
.Node[data-type="comment"] {
  color: var(--token-comment-color);
}
.Node[data-type="doctype"] {
  color: var(--token-meta-color);
}
.Node[data-type="text"] {
  color: var(--color-default);
}
.Node[data-selected] {
  background-color: var(--primary-accent-dimmed);
}
.Node[data-selected],
.Node[data-selected] .HtmlAttributeName,
.Node[data-selected] .HtmlAttributeValue,
.Node[data-selected] .HtmlAttribute,
.Node[data-selected] .HTMLBracket,
.Node[data-selected] .HTMLTag,
.Node[data-selected] .Separator,
.Node[data-selected] .Icon {
  fill: var(--theme-selection-color);
}
.Node[data-loading] {
  opacity: 0.5;
}

.SelectedSubTreeLine {
  position: absolute;
  left: calc(var(--data-depth) + 0.75rem);
  display: inline-block;
  height: 1rem;
  width: 1px;
  background: var(--border-color-elements-subtree);
}
.SelectedSubTreeLine[data-is-selected-node] {
  height: 0.5rem;
}

.HTMLTag {
  color: var(--value-type-html-tag);
  line-height: 1rem;
}

.HTMLBracket {
  color: var(--value-type-html-tag-bracket);
}

.HtmlAttribute {
  display: inline;
  color: var(--value-type-html-attribute-name);
}
.HtmlAttribute:focus {
  outline: none;
}

.Separator {
  color: var(--value-type-html-attribute-separator);
}

.HtmlAttributeValue {
  color: var(--value-type-html-attribute-value);
}

.HtmlAttribute[data-selected],
.HtmlAttributeName[data-selected],
.HtmlAttributeValue[data-selected] {
  outline: 1px solid var(--theme-focus-outline-color);
}

.Spacer {
  display: inline-block;
  width: 1rem;
}

.IconContainer,
.IconContainerRotated {
  transform-origin: 0.5rem 0.5rem;
  transition: transform 200ms;
  width: 1rem;
  height: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: top;
}
.IconContainerRotated {
  transform: rotate(90deg);
}

.LoadingIcon {
  width: 1rem;
  height: 1rem;
}
.ArrowIcon {
  height: 0.75rem;
  width: 0.75rem;
  fill: var(--color-dimmer);
}

.LoadingIcon {
  position: relative;
  left: 0.125rem;
  right: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ExpandCollapseIcon {
  height: 1rem;
  width: 1.5rem;
}
