.Row,
.SkippedRow {
  display: flex;
  gap: 1ch;
  transition: opacity 0.18s ease-out;
  overflow-x: hidden;
  overflow-wrap: anywhere;
  padding: 0.25rem;
}
.Row {
  cursor: pointer;
}
.SkippedRow {
  color: var(--color-dim);
}
.Row[data-is-pending] {
  opacity: 0.5;
}

.Status {
  flex: 0 0 auto;
}

.HeaderRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Title {
  flex: 1 1 auto;
}

.Row:hover {
  background-color: var(--testsuites-steps-bgcolor-hover);
  border-radius: 0.25rem;
}

.Chevron {
  visibility: hidden;
}

.Row:hover .Chevron {
  visibility: visible;
}

.Column {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Error {
  margin-top: 8px;
  padding: 0.5rem 0.75rem;
  border-radius: 0.25rem;
  font-family: var(--font-family-monospace);
  background-color: var(--testsuites-error-bgcolor);
  color: var(--testsuites-error-color);
}

.Row:hover .Error {
  background-color: var(--testsuites-error-bgcolor-hover);
}

.ErrorTitle {
  font-weight: bold;
}

.NestedIcon {
  height: 1rem;
  width: 1rem;
  flex: 0 0 1rem;
  margin-left: 1rem;
}

.AttemptLabel {
  text-transform: capitalize;
  margin-right: 1ch;
}

.AttemptNumber {
  font-size: var(--font-size-small);
  color: var(--color-dim);
}
