.Tree {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Tree[data-nested] {
  margin-left: 1rem;
}

.List {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.Scope {
  font-size: var(--font-size-medium);
  color: var(--theme-base-60);
  font-weight: bold;
  text-transform: uppercase;
}
