/* NOTE: this is added to protect against React DevTools */

html,
body,
#__next {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

.showRedactions[data-private="true"] {
  background: black !important;
  border: 2px solid black !important;
}

#app {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  color: var(--theme-body-color);
  --light-grey: #969696;
  --dark-grey: #696969;
  --light-blue: #61cdff;
  --dark-blue: #2d7eff;
  --faint-red: rgba(255, 0, 0, 0.5);
}

.inter {
  font-family: "Inter", sans-serif;
}

img.avatar, .avatar img {
  border-radius: 50%;
  background-color: var(--light-grey);
}
