#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  --light-grey: #969696;
  --dark-grey: #696969;
  --light-blue: #61cdff;
  --dark-blue: #2d7eff;
  --faint-red: rgba(255, 0, 0, 0.5);
}

#viewer {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
}

#outer-viewer {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #ececec;
  flex-grow: 1;
  position: relative;
  padding-left: 1px;
}

.collapsed-toolbox {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#graphics {
  position: relative;
  transform-origin: top left;
}

.collapsed-toolbox #graphics {
  position: absolute;
}

.command-button {
  float: left;
}

.command-button img {
  height: 20px;
  width: 20px;
}

.content-iframe {
  border: none;
  width: 100%;
  height: 100%;
  padding-top: 2px;
}

.debugger .CodeMirror {
  height: 100%;
}

.webconsole-app {
  height: 100%;
  width: 100%;
  background-color: var(--theme-body-background);
}

#command-button-pick {
  margin-left: 0px;
  padding: 8px;
  position: relative;
}

#command-button-pick::before {
  background: var(--theme-icon-color);
}
#command-button-pick::after {
  width: 1px;
  position: absolute;
  right: 0;
  content: " ";
  background: var(--theme-toolbar-separator);
  height: 24px;
  top: 5px;
}

#command-button-pick.active::before {
  background-color: var(--theme-toolbar-selected-color);
}

#command-button-pick:hover {
  background-color: var(--toolbarbutton-focus-background);
}

.app-mask {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.A11y-mouse,
.A11y-keyboard {
  width: 100%;
}

.loader {
  margin: auto;
}

.dev-view-outer {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

.dev-view-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  overflow: hidden;
}

@import url("devtools/client/themes/variables.css");
@import url("devtools/client/themes/webconsole.css");
@import url("devtools/client/themes/components-frame.css");
@import url("devtools/client/themes/markup.css");
@import url("devtools/client/themes/common.css");
@import url("devtools/client/debugger/dist/vendors.css");
@import url("devtools/client/themes/splitters.css");
@import url("devtools/client/themes/dark-theme.css");
@import url("devtools/client/themes/light-theme.css");
