.Highlight {
  position: absolute;
  display: inline-block;
  height: 100%;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-regular);
  background: var(--background-color-current-execution-point-column);
}
