.PanelEnabled,
.PanelDisabled {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}
.PanelEnabled {
  background-color: var(--point-panel-background-color);
}

.Loader {
  height: var(--point-panel-height);
  background-color: var(--point-panel-background-color);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dimmer);
}

.LayoutRow {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.MainColumn {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  overflow-x: auto;
}

.SecondaryColumn {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.FixedHeightRow {
  width: 100%;
  flex: 0 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.ContentWrapper,
.ContentWrapperInvalid,
.ContentWrapperTooManyPoints {
  overflow: auto;
  height: 100%;
  flex: 1;
  background-color: var(--point-panel-input-background-color);
  border: 2px solid var(--point-panel-input-border-color);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.ContentWrapperInvalid {
  background-color: var(--background-color-error);
  border-color: var(--border-color-error);
}

.ContentWrapperTooManyPoints {
  background-color: var(--background-color-error);
  border-color: var(--border-color-error);
  color: var(--color-error);
}

.Content {
  /* Allows height for horizontal scrollbar without shifting text */
  height: 1.5rem;
  max-height: 1.5rem;
  line-height: 1.5rem;

  flex: 1 1 auto;
  white-space: pre;
  overflow-y: hidden;
  overflow-x: auto;
  font-size: var(--font-size-regular);

  /* Firefox fixes */
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb-color) transparent;
}
.Content::-webkit-scrollbar {
  height: 0.5rem;
}
.Content [data-test-name="PointPanel-ContentInput"] {
  white-space: pre !important;
}

.AddConditionButton,
.CancelButton,
.EditButton,
.SaveButton {
  flex-grow: 0;
  flex-shrink: 0;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
}

.EditButtonIcon {
  height: 1rem;
  width: 1rem;
  fill: var(--point-panel-input-edit-button-color);
}

.SaveButton {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
  font-size: var(--font-size-regular);
  height: 1.5rem;
  border-radius: 1rem;
  padding: 0 2ch;
}
.SaveButton:disabled {
  background-color: var(--background-color-primary-button-disabled);
}

.AddConditionButton,
.CancelButton {
  text-decoration: underline;
  color: var(--color-link);
  font-size: var(--font-family-default);
  font-size: var(--font-size-regular);
}

.CancelButton {
  width: 100%;
}

.ContentInput,
.ContentInputWithNag {
  width: 100%;

  /* Allows height for horizontal scrollbar without shifting text */
  height: 1.5rem;
  line-height: 1.5rem;
}
.ContentInputWithNag::selection {
  background-color: var(--nag-background-color);
  color: var(--nag-color);
}

.ContentInput p,
.ContentInputWithNag p {
  margin: 0;
}

.ContentPrefixLabel {
  width: 3ch;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-small);
}

.Toggle {
  /* trunk-ignore-begin(stylelint/unit-disallowed-list) */
  width: 1em;
  height: 1em;
  position: absolute;
  left: calc(-1em - var(--line-hit-count-size) - 1ch);
  top: calc(50% - 0.5em);
  margin: 0;
  /* trunk-ignore-end(stylelint/unit-disallowed-list) */
}
