.PanelEnabled,
.PanelDisabled {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
}
.PanelEnabled {
  background-color: var(--point-panel-background-color);
}

.Loader {
  height: var(--point-panel-height);
  background-color: var(--point-panel-background-color);
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-dimmer);
}

.LayoutRow {
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.MainColumn {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  overflow-x: auto;
}

.SecondaryColumn {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

.FixedHeightRow {
  width: 100%;
  flex: 0 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}

.ContentWrapper,
.ContentWrapperInvalid,
.ContentWrapperTooManyPoints {
  overflow: auto;
  height: 100%;
  flex: 1;
  background-color: var(--point-panel-input-background-color);
  border: 2px solid var(--point-panel-input-border-color);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}

.ContentWrapperInvalid {
  background-color: var(--background-color-error);
  border-color: var(--border-color-error);
}

.ContentWrapperTooManyPoints {
  background-color: var(--background-color-error);
  border-color: var(--border-color-error);
  color: var(--color-error);
}

.Content {
  /* Allows height for horizontal scrollbar without shifting text */
  height: 1.5rem;
  max-height: 1.5rem;
  line-height: 1.5rem;

  flex: 1 1 auto;
  white-space: pre;
  overflow-y: hidden;
  overflow-x: auto;
  font-size: var(--font-size-regular);

  /* Firefox fixes */
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-thumb-color) transparent;
}
.Content::-webkit-scrollbar {
  height: 0.5rem;
}
.Content [data-test-name="PointPanel-ContentInput"] {
  white-space: pre !important;
}

.AddConditionButton,
.CancelButton,
.EditButton,
.SaveButton {
  flex-grow: 0;
  flex-shrink: 0;
  background: none;
  border: none;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.5rem;
}

.EditButtonIcon {
  height: 1rem;
  width: 1rem;
  fill: var(--point-panel-input-edit-button-color);
}

.SaveButton {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
  font-size: var(--font-size-regular);
  height: 1.5rem;
  border-radius: 1rem;
  padding: 0 2ch;
}
.SaveButton:disabled {
  background-color: var(--background-color-primary-button-disabled);
}

.AddConditionButton,
.CancelButton {
  text-decoration: underline;
  color: var(--color-link);
  font-size: var(--font-family-default);
  font-size: var(--font-size-regular);
}

.CancelButton {
  width: 100%;
}

.ContentInput,
.ContentInputWithNag {
  width: 100%;

  /* Allows height for horizontal scrollbar without shifting text */
  height: 1.5rem;
  line-height: 1.5rem;
}
.ContentInputWithNag::selection {
  background-color: var(--nag-background-color);
  color: var(--nag-color);
}

.ContentInput p,
.ContentInputWithNag p {
  margin: 0;
}

.ContentPrefixLabel {
  width: 3ch;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-small);
}

/* This is an approximation of the Replay checkbox style; not all CSS variables have been migrated yet */
.Toggle {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: calc(-1rem - var(--line-hit-count-size) - 1ch);
  top: calc(50% - 0.5rem);
  margin: 0;
  padding: 0;
  appearance: none;
  color: var(--color-brand);
  background-color: var(--checkbox);
  border-color: var(--checkbox-border);
  border-radius: 0.25rem;
}
.Toggle:checked {
  border-color: transparent;
  background-color: currentColor;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
}
