.PopupErrorStyleOverride {
  --theme-popup-background-color: var(--background-color-error);
  --theme-popup-border-color: var(--border-color-error);
  --theme-popup-color: var(--color-error);
}

.Wrapper {
  max-width: 400px;
  max-height: 400px;
  height: auto;
  overflow: hidden;
  background-color: var(--theme-popup-background-color);
  border: 1px solid var(--theme-popup-border-color);
  border-radius: 0.25rem;
  filter: drop-shadow(0 1px 2px rgb(0 0 0 / 0.1)) drop-shadow(0 1px 1px rgb(0 0 0 / 0.06));
}

.LoadingMessage,
.UnavailableMessage {
  padding: 0.5rem;
  color: var(--theme-popup-color);
  font-family: var(--font-family-default);
  font-size: var(--font-size-regular);
}
