.ActiveMark,
.InactiveMark {
  position: absolute;
  left: calc(var(--source-line-number-offset) + var(--source-hit-count-offset));
  white-space: pre;
  pointer-events: none;
}

.ActiveMark {
  background-color: var(--search-result-active-background-color);
  color: var(--search-result-active-color);
}
.InactiveMark {
  background-color: var(--search-result-inactive-background-color);
  color: var(--search-result-inactive-color);
}
