.Highlight {
  position: absolute;
  left: 0;
  z-index: 2;
  pointer-events: none;
  white-space: pre;
}

.ActiveMark {
  background-color: var(--search-result-active-background-color);
  color: var(--search-result-active-color);
}
.InactiveMark {
  background-color: var(--search-result-inactive-background-color);
  color: var(--search-result-inactive-color);
}

.ColumnBreakpointSpacer {
  display: inline-block;
  width: var(--column-breakpoint-width);
}

.LeadingSpacer {
  display: inline-block;
}
