.Buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1px;
}

.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1rem;
  width: 0.75rem;

  outline: none;
  border: none;
  padding: 0;
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
  transition: 200ms;
}
.Button:hover:not(:disabled) {
  background-color: var(--background-color-primary-button-hover);
}
.Button[disabled] {
  background-color: var(--background-color-disabled-button);
  color: var(--color-disabled-button);
  cursor: default;
}

.Button[data-test-name="RewindButton"] {
  border-bottom-left-radius: 0.125rem;
  border-top-left-radius: 0.125rem;
}
.Button[data-test-name="FastForwardButton"] {
  border-bottom-right-radius: 0.125rem;
  border-top-right-radius: 0.125rem;
}

.Icon {
  width: 0.5rem;
  height: 0.5rem;
}
