.Row {
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-regular);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  line-height: var(--line-height);
  transition: background-color 250ms;

  --column-breakpoint-width: 20px;
  --hit-count-bar-size: 6px;
}

.LineNumber {
  height: var(--line-height);
  width: calc(var(--line-number-size) + 2ch);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: flex-end;
  font-size: var(--font-size-small);
  padding: 0 1ch;
  color: var(--line-number-with-hits);
  user-select: none;
  position: relative;
  overflow: visible;
}
.Row[data-test-line-has-hits="true"] .LineNumber {
  cursor: pointer;
}
.Row[data-test-line-has-hits="false"] .LineNumber,
.Row:not([data-test-line-has-hits]) .LineNumber {
  cursor: default;
  color: var(--color-line-number-without-hits);
}

.LineHitCount0,
.LineHitCount1,
.LineHitCount2,
.LineHitCount3 {
  height: var(--line-height);
  font-size: var(--font-size-tiny);
  flex: 0 0 calc(var(--hit-count-size) + var(--hit-count-bar-size) + 2ch);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-hit-counts-label-color);
  border-left: var(--hit-count-bar-size) solid transparent;
  border-right: 1px solid var(--color-hit-counts-border-color);
  user-select: none;
  margin-right: 0.5rem;
}
.LineHitCount0 {
  background-color: var(--color-hit-counts-label-background-0);
  border-left-color: var(--color-hit-counts-bar-0);
}
.LineHitCount1 {
  background-color: var(--color-hit-counts-label-background-1);
  border-left-color: var(--color-hit-counts-bar-1);
}
.LineHitCount2 {
  background-color: var(--color-hit-counts-label-background-2);
  border-left-color: var(--color-hit-counts-bar-2);
}
.LineHitCount3 {
  background-color: var(--color-hit-counts-label-background-3);
  border-left-color: var(--color-hit-counts-bar-3);
}

.LineHitCountPendingMarker {
  width: 0.75rem;
  height: 0.75rem;
  line-height: 0.75rem;
  color: var(--color-dimmer);
}

.LogPointPanel {
  position: absolute;
  left: var(--source-line-number-offset);
}

.Row[data-log-point-placement="above"] {
  align-items: flex-end;
}
.Row[data-log-point-placement="above"] .LogPointPanel {
  top: 0;
}
.Row[data-log-point-placement="below"] .LogPointPanel {
  top: var(--line-height);
}
