.Sources {
  flex: 1;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
.Sources:focus {
  outline: none;
}

.Tabs {
  display: flex;
  gap: 0.5ch;
  overflow-x: auto;
  flex: 0 0 auto;
}

.SelectedTab,
.Tab {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5ch;
  padding: 0.5rem;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  user-select: none;
  white-space: nowrap;
  color: var(--color-default);
}
.SelectedTab {
  background-color: var(--background-color-contrast-2);
}
.SelectedTab:hover,
.Tab:hover {
  transition: background-color 0.2s ease-in-out;
  background-color: var(--background-color-contrast-3);
}

.Content {
  background-color: var(--background-color-contrast-2);
  border-bottom-right-radius: 0.5rem;
  padding: 0;
  flex: 1 1 auto;
  overflow: auto;
}

.CloseButton,
.OpenButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: var(--color-default);
}
.CloseButton {
  width: 1rem;
  height: 1rem;
  border-radius: 0.25rem;
}
.CloseButton:hover {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
}

.Icon {
  width: 1rem;
  height: 1rem;
  fill: currentColor;
  display: inline-block;
}

.NoOpenSources {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-large);
  opacity: 0.1;
}
