.CurrentExecutionPoint,
.CurrentSearchResult,
.ViewSourceHighlight {
  position: absolute;
  left: var(--source-line-number-offset);
  width: calc(var(--longest-line-width) - var(--source-line-number-offset));
  height: var(--line-height);
  z-index: -1;
}

.CurrentExecutionPoint {
  background: var(--background-color-current-execution-point);
  border-top: 1px solid var(--border-color-current-execution-point);
  border-bottom: 1px solid var(--border-color-current-execution-point);
}

.CurrentSearchResult {
  background: var(--background-color-current-search-result);
}

.ViewSourceHighlight {
  background: var(--background-color-current-execution-point);
}

.CurrentExecutionPointColumn {
  z-index: -1;
  position: absolute;
  left: calc(var(--source-line-number-offset) + var(--source-hit-count-offset));
  display: inline-block;
  height: 100%;
  font-family: var(--font-family-monospace);
  font-size: var(--font-size-regular);
  background: var(--background-color-current-execution-point-column);
}
