.BreakpointToggle {
  pointer-events: none;
  cursor: pointer;
  display: flex;
  position: absolute;
  z-index: 5;
  top: calc(var(--line-height) / 2);
  width: var(--source-line-number-offset);
  height: 2.5ch;
  margin-top: -1.25ch;
  left: 0;
  right: 0;
  text-align: right;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1ch;
  font-size: var(--font-size-small);
}
.BreakpointToggle:after {
  pointer-events: none;
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 1.25ch;
  margin-top: -1.25ch;
}
.BreakpointToggle[data-test-state="on"] {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
}
.BreakpointToggle[data-test-state="on"]:after {
  border-color: var(--color-transparent);
  border-left-color: var(--background-color-primary-button);
}
.BreakpointToggle[data-test-state="off-temporarily"] {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
  opacity: 0.5;
}
.BreakpointToggle[data-test-state="off-temporarily"]:after {
  border-color: var(--color-transparent);
  border-left-color: var(--background-color-primary-button);
}
.BreakpointToggle[data-test-state="off"] {
  background-color: var(--color-dimmer);
  color: var(--color-default);
}
.BreakpointToggle[data-test-state="off"]:after {
  border-color: var(--color-transparent);
  border-left-color: var(--color-dimmer);
}
