.List {
  flex: 1 1 auto;
  height: 100%;
  border-radius: 0.5rem;
  background-color: var(--background-color-contrast-2);
  overflow: auto;
}

.Header {
  padding: 0.5rem;
  font-size: var(--font-size-large);
  color: var(--color-default);
  display: flex;
  align-items: center;
}
.HeaderLeft,
.HeaderRight {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  flex: 1 1 auto;
  gap: 1ch;
}

.SourceTree {
  display: flex;
  flex-direction: column;
  white-space: pre;
}

.FocusedListItem,
.ListItem {
  display: flex;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding: 0.25rem 0.5rem;
  cursor: default;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 0.2s ease-in-out;
}
.ListItem:hover {
  background-color: var(--background-color-contrast-1);
}
.FocusedListItem {
  background-color: var(--background-color-primary-button);
  color: var(--color-primary-button);
}

.Icon {
  width: 1rem;
  height: 1rem;
  flex: 0 0 1rem;
  display: inline-block;
}
