.Container {
  height: 2px;
  position: absolute;
  top: 0;
  width: 100%;
  overflow: hidden;
  background-color: var(--theme-base-100);
  transition: height 250ms ease-out;
}

.ParsedProgressBar,
.RawProgressBar {
  position: absolute;
  top: 0;
  width: 0;
  height: 100%;
  overflow: hidden;
}
.ParsedProgressBar {
  background-color: #a6d4fa;
  transition: width 250ms ease-out, opacity 100ms ease-out;
  opacity: 0;
}
.RawProgressBar {
  background-color: var(--primary-accent);
  transition: width 250ms ease-out;
}
