/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.popover .preview-popup {
  background: var(--theme-body-background);
  width: 350px;
  border: 1px solid var(--theme-splitter-color);
  padding: 10px;
  height: auto;
  overflow: auto;
  box-shadow: 1px 2px 3px var(--popup-shadow-color);
  font-size: var(--theme-body-font-size);
}

.gap svg {
  pointer-events: none;
}

.gap polygon {
  pointer-events: auto;
}

.theme-dark .popover .preview-popup {
  box-shadow: 1px 2px 3px var(--popup-shadow-color);
}

.popover .preview-popup .header-container {
  width: 100%;
  line-height: 15px;
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.popover .preview-popup .logo {
  width: 20px;
  margin-right: 5px;
}

.popover .preview-popup .header-container h3 {
  margin: 0;
  margin-bottom: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  margin-left: 4px;
}

.popover .preview-popup .header .link {
  align-self: flex-end;
  color: var(--theme-highlight-blue);
  text-decoration: underline;
}

.popover .preview-popup .object-node {
  padding-inline-start: 0px;
}

.preview-token:hover {
  cursor: default;
}

.preview-token,
.debug-expression.preview-token {
  background-color: var(--theme-highlight-yellow);
}

.theme-dark .preview-token,
.theme-dark .debug-expression.preview-token {
  background-color: #743884;
}

.theme-dark .cm-s-mozilla .preview-token,
.theme-dark .cm-s-mozilla .debug-expression.preview-token {
  color: #e7ebee;
}

.popover .preview-popup .function-signature {
  padding-top: 10px;
}

.theme-dark .popover .preview-popup {
  border-color: var(--theme-body-color);
}

.tooltip {
  position: fixed;
  z-index: 100;
  font-size: 12px;
}

.tooltip .preview-popup {
  background: var(--toolbox-background);
  max-width: inherit;
  min-height: 80px;
  border: 1px solid var(--theme-splitter-color);
  border-radius: 4px;
  padding: 5px;
  height: auto;
  min-height: inherit;
  max-height: 200px;
  overflow: auto;
}

.theme-dark .tooltip .preview-popup {
  border-color: var(--theme-body-color);
}

.tooltip .gap {
  height: 4px;
  padding-top: 0px;
}
