.comments-panel {
  flex-grow: 1;
  overflow: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  height: 100%;
  padding: 16px;
}
.comments-panel > :not(:first-child) {
  margin-top: 8px;
}

.comments-panel .comment-container {
  padding: 0px 16px ;
  border: 2px solid var(--theme-splitter-color);
  border-radius: 8px;
}

.comments-panel .event {
  padding: 16px ;
  border: 2px solid var(--theme-splitter-color);
  border-radius: 8px;
}

.comments-panel .comment,
.comments-panel .event {
  line-height: 1.25rem;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
}

.comments-panel .comment-container:hover,
.comments-panel .event:hover,
.comments-panel .event.primary-highlight {
  border: 2px solid var(--primary-accent);
}

.comments-panel .comment-container.selected,
.comments-panel .event.selected {
  border: 2px solid var(--secondary-accent);
}

.comments-panel .comment.child-comment.selected {
  border-color: #9ac7ff;
}

.comments-panel .comment-container {
  width: 100%;
}

.comment .editor {
  flex-grow: 1;
}

.comment .editor textarea {
  margin-bottom: 12px;
  font-size: 1rem;
  line-height: 1.75em;
}

.comment .editor .buttons {
  display: flex;
  justify-content: flex-end;
}

.comment .editor button {
  padding: 6px;
}

.comment .editor button.save {
  color: white;
  background-color: #5ea3f8;
}

.comment .editor button:not(:last-child) {
  margin-inline-end: 4px;
}

.comments-panel p {
  color: var(--theme-comment);
  padding: 16px;
  line-height: 1.5em;
}

.comments-panel .comment-avatar {
  width: 24px;
  height: 24px;
  margin-inline-end: 12px;
  margin-top: 2px;
  align-self: flex-start;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.comments-panel .comment-avatar img {
  width: inherit;
  height: inherit;
  border-radius: 50%;
}

.comments-panel .comment-body {
  align-self: center;
  padding: 16px 0px;
  width: 100%;
}

.comments-panel .comment-body > :not(:first-child) {
  margin-top: 4px;
}

.comments-panel .comment-body-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
}

.comments-panel .comment-body-header > :not(:first-child) {
  margin-left: 16px;
}

.comments-panel .comment-body-header-label {
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: baseline;
  overflow: hidden;
}

.comments-panel .comment-body-header-label > :not(:first-child) {
  margin-left: 8px;
}

.comment-body-header-label-name {
  color: var(--theme-body-color);
  font-weight: bold;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.comment-body-header-label-date {
  font-size: 12px;
  color: var(--theme-comment);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.comment-body-header-timestamp {
  font-size: 12px;
  font-family: monospace;
  background: var(--grey-20);
  color: var(--theme-comment);
  padding: 4px;
  border-radius: 4px;
}

.comments-panel .dropdown-block {
  align-self: flex-start;
  flex-shrink: 0;
}

.comments-panel .dropdown {
  left: -150px;
}

.comments-panel .dropdown-button {
  height: 28px;
  width: 28px;
}

.right-sidebar button.comment {
  mask-repeat: no-repeat;
  background-color: #969696;
  mask-position: center;
}

.comments-panel .comment .item-label {
  font-size: 14px;
  color: var(--theme-body-color);
  font-weight: bold;
}

.comments-panel .event .item-label {
  font-size: 14px;
  color: var(--theme-body-color);
  align-self: center;
}

.comments-panel .item-content {
  font-size: 12px;
  padding-left: 40px;
  line-height: 18px;
  color: var(--theme-comment);
}

.comments-panel img {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}

.comments-panel .event-click {
  margin-right: 8px;
  height: 24px;
  width: 24px;
}

/*  */

.comments-panel .comment-input-container {
  padding: 16px 0px;
  border-top: 1px solid var(--theme-splitter-color);
  display: flex;
}

.comments-panel .comment-input-container img {
  opacity: 50%;
  align-self: start;
}

.comments-panel .comment-input-container > :not(:first-child) {
  margin-left: 16px;
}

.comments-panel .comment-input {
  flex-grow: 1;
  font-size: 12px;
  line-height: 18px;
  margin-top: 3px;
  color: var(--theme-comment);
}

.comments-panel .responsive-textarea {
  overflow-y: hidden;
  resize: none;
  font-family: sans-serif;
  line-height: 18px;
  border: none;
}

.comments-panel .responsive-textarea:focus {
  outline: none;
}

.comments-panel .img.paper-airplane {
  width: 20px;
  height: 20px;
  margin-bottom: 2px;
  color: var(--theme-icon-color);
  transform: rotate(90deg);
  cursor: pointer;
  align-self: flex-end;
}

.comments-panel .img.paper-airplane:hover {
  background: var(--primary-accent);
}

.comments-panel .comment-actions {
  display: flex;
  flex-direction: row;
}

.comments-panel .comment-actions button {
  cursor: pointer;
}

.comments-panel .comment-actions .img {
  width: 20px;
  height: 20px;
}

.comments-panel .comment-actions .img:hover {
  background: var(--primary-accent);
}
