.JSTermWrapper {
  border-top: 1px solid var(--background-color-default);
}

.Loader {
  width: 100%;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
