/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.frames [role="list"] {
  list-style: none;
  margin: 0;
  padding: 4px 0;
}

.frames [role="list"] [role="listitem"] {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  column-gap: 0.5em;
  flex-direction: row;
  align-items: center;
  margin: 0;
  max-width: 100%;
  flex-wrap: wrap;
  line-height: 1.5rem;
}

.frames [role="list"] [role="listitem"] * {
  user-select: none;
}

.frames .badge {
  flex-shrink: 0;
  margin-right: 4px;
}

.frames .location {
  font-weight: normal;
  margin: 0;
  flex-grow: 1;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  /* Trick to get the ellipsis at the start of the string */
  text-overflow: ellipsis;
  direction: rtl;
  text-align: right;
}

.call-stack-pane .location-async-cause {
  color: var(--theme-comment);
}

.theme-light .call-stack-pane .frames .location {
  color: var(--theme-comment);
  padding-right: 10px;
}

:root.theme-dark .frames .location {
  color: var(--body-color);
}

.frames .title {
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
}

.frames [role="list"] [role="listitem"]:hover,
.frames [role="list"] [role="listitem"]:focus {
  background-color: var(--theme-toolbar-background-alt);
}

.frames [role="list"] [role="listitem"]:hover .location-async-cause,
.frames [role="list"] [role="listitem"]:focus .location-async-cause {
  background-color: var(--body-bgcolor);
}

:global(.theme-dark) .frames [role="list"] [role="listitem"]:focus,
:global(.theme-dark) .frames [role="list"] [role="listitem"]:focus .async-label,
:global(.theme-dark) .frames [role="list"] [role="listitem"]:focus .async-label {
  background-color: var(--theme-tab-toolbar-background);
}

.frame-description {
  width: 100%;
  display: flex;
}
.frames [role="list"] [role="listitem"].selected {
  background-color: var(--theme-selection-background);
  color: white;
}

.frames [role="list"] [role="listitem"] .frame-description .title,
.frames [role="list"] [role="listitem"] .frame-description .frame-link-source {
  flex-basis: 50%;
}

.frames [role="list"] [role="listitem"].selected i.annotation-logo svg path {
  fill: white;
}

:root.theme-light .frames [role="list"] [role="listitem"].selected .location,
:root.theme-dark .frames [role="list"] [role="listitem"].selected .location {
  color: white;
}

.diffWrap {
  position: relative;
  z-index: 1;
}

.diffAdd,
.diffUpdateTo {
  background-color: var(--diff-add-background-color);
  color: var(--diff-add-text-color);
}

.diffRemove,
.diffUpdateFrom {
  text-decoration: line-through;
  background-color: var(--diff-remove-background-color);
  color: var(--diff-remove-text-color);
}

.stateDiffEmpty {
  padding: "10px";
  color: var(--body-sub-color);
}
