/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at <http://mozilla.org/MPL/2.0/>. */

.LeftPanel {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.actions [role="list"] {
  list-style: none;
  margin: 0;
  overflow: auto;
  overflow-x: hidden;
}

.actions [role="list"] [role="listitem"] {
  position: relative;
  overflow: hidden;
  display: flex;
  column-gap: 0.5em;
  flex-direction: row;
  align-items: center;
  margin: 0;
  max-width: 100%;
  flex-wrap: wrap;
  line-height: 1.5rem;
}

.actions [role="list"] [role="listitem"].future {
  border-top: 2px solid var(--secondary-accent);
}

.actions [role="list"] [role="listitem"] .actionLabel {
  padding-left: 10px;
}

.actions [role="list"] [role="listitem"] .jump-to-code {
  display: none;
  position: absolute;
}
.actions [role="list"] [role="listitem"]:hover .jump-to-code {
  display: flex;
}

.actions [role="list"] [role="listitem"] * {
  user-select: none;
}

.actions .badge {
  flex-shrink: 0;
  margin-right: 4px;
}

.actions .location {
  font-weight: normal;
  margin: 0;
  flex-grow: 1;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  /* Trick to get the ellipsis at the start of the string */
  text-overflow: ellipsis;
  direction: rtl;
  text-align: right;
}

.actions [role="list"] [role="listitem"]:hover,
.actions [role="list"] [role="listitem"]:focus {
  background-color: var(--theme-toolbar-background-alt);
}

.actions [role="list"] [role="listitem"]:hover .location-async-cause,
.actions [role="list"] [role="listitem"]:focus .location-async-cause {
  background-color: var(--body-bgcolor);
}

:global(.theme-dark) .actions [role="list"] [role="listitem"]:focus,
:global(.theme-dark) .actions [role="list"] [role="listitem"]:focus .async-label,
:global(.theme-dark) .actions [role="list"] [role="listitem"]:focus .async-label {
  background-color: var(--theme-tab-toolbar-background);
}

.actions [role="list"] [role="listitem"].selected {
  background: var(--primary-accent);
  color: white;
}

.actions [role="list"] [role="listitem"].selected:hover {
  background: var(--primary-accent-hover);
}

.tabsContainer {
  background-color: var(--theme-toolbar-background);
}

.diffWrap {
  position: relative;
  z-index: 1;
}

.diffAdd,
.diffUpdateTo {
  background-color: var(--diff-add-background-color);
  color: var(--diff-add-text-color);
}

.diffRemove,
.diffUpdateFrom {
  text-decoration: line-through;
  background-color: var(--diff-remove-background-color);
  color: var(--diff-remove-text-color);
}

.stateDiffEmpty {
  padding: "10px";
  color: var(--body-sub-color);
}

.contentsTab {
  background-color: var(--theme-toolbar-background);
  color: var(--tab-color);
  padding: 0.5rem;
}

.contentsTab.selectedTab {
  background-color: var(--tab-selected-bgcolor);
  color: var(--tab-selected-color);
}

.contentsTab:hover {
  background-color: var(--tab-hover-bgcolor);
  color: var(--tab-hover-color);
}

.list {
  height: 100%;
  overflow-y: auto;
}

.row {
  background: var(--body-bgcolor);
  border-bottom: 1px solid var(--chrome);
  padding: 0.2rem 0 0.1rem 0.5rem;
  min-width: fit-content;
  position: relative;
  width: 100%;
  cursor: pointer;
}

.RDTInspector {
  padding: 0.25rem;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.Inspector {
  overflow: initial;
}

.ResizeHandle {
  height: 0.75rem;
}
.ResizeHandleBar {
  width: 100%;
  height: 1px;
  background-color: var(--theme-border);
}

.SearchRow {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.25rem;
  padding: 0.25rem;
  border-bottom: 1px solid var(--theme-splitter-color);
}

.SearchIconAndInput {
  flex: 1 1 auto;
  height: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: var(--font-size-regular);
  background-color: var(--background-color-inputs);
  color: var(--color-default);
  padding: 0 0.25rem 0 0;
  border: 2px solid #0000;
  border-radius: 0.25rem;
}
.SearchIconAndInput:focus-within {
  border-color: var(--color-brand);
}

.SearchInput {
  flex: 1;
  background: none;
  border: none;
  outline: none;
  padding: 0;
  font-size: var(--font-size-regular);
}
.SearchInput:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.SearchIcon {
  width: 1rem;
  height: 1rem;
  margin: 0.25rem;
}
