.secondary-toolbox {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
}

.secondary-toolbox-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: var(--theme-tab-background);
}

.secondary-toolbox-header .panel-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.secondary-toolbox-header button.toolbox-options {
  padding-right: 5px;
}

.secondary-toolbox-header button {
  position: relative;
  padding: 8px 12px;
  height: calc(var(--editor-header-height) - 1px);
  cursor: pointer;
  transition: color 200ms;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
}

.secondary-toolbox-header button .label {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.secondary-toolbox-header button > *:not(:last-child) {
  margin-right: 8px;
}

.secondary-toolbox-header button:focus {
  outline: none;
  background-color: inherit;
}

.secondary-toolbox-header .label {
  color: var(--tab-standard-color);
}

.secondary-toolbox-header button:hover .label {
  color: var(--tab-standard-hover-textcolor);
}

.secondary-toolbox-header .expanded .label {
  color: var(--theme-body-color);
}

.secondary-toolbox-header button.expanded {
  background: inherit;
  background: var(--theme-base-90);
}

.secondary-toolbox-header .action-buttons button {
  color: var(--theme-text-color-inactive);
  cursor: auto;
}

/* It's important to set min-height: 0 here, otherwise the console output
overflows its container (https://drafts.csswg.org/css-flexbox-1/#min-size-auto) */
.secondary-toolbox .secondary-toolbox-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.secondary-toolbox .toolbox-bottom-panels {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}

.secondary-toolbox .toolbox-bottom-panels .toolbox-panel {
  flex: 1;
  min-height: 0;
  height: 100%;
}

.secondary-toolbox .splitter {
  background-clip: padding-box;
}
