.secondary-toolbox {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.secondary-toolbox-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #ececec;
  border-bottom: 1px solid var(--theme-splitter-color);
  border-radius: 8px 8px 0 0;
}

/* This makes sure that in cases where the toolbox is the only one
displayed in a column, we don't add an additional border. Otherwise,
the border added is duplicated. */
.secondary-toolbox-header:not(.video-hidden *) {
  /* border-top: 1px solid var(--theme-splitter-color); */
}

.secondary-toolbox-header .panel-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.secondary-toolbox-header button {
  position: relative;
  padding: 8px 12px;
  height: calc(var(--editor-header-height) - 1px);
  cursor: pointer;
  transition: color 200ms;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
}

.secondary-toolbox-header button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--theme-body-color);
  transition: transform 250ms var(--animation-curve), opacity 250ms var(--animation-curve);
  opacity: 0;
  transform: scaleX(0);
}

.secondary-toolbox-header button.expanded::before {
  opacity: 1;
  transform: scaleX(1);
}

.secondary-toolbox-header button .label {
  overflow-x: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.secondary-toolbox-header button > *:not(:last-child) {
  margin-right: 8px;
}

.secondary-toolbox-header button:focus {
  outline: none;
  background-color: inherit;
}

.secondary-toolbox-header .label {
}

.secondary-toolbox-header .expanded .label {
  color: var(--tab-selected-color);
}

.secondary-toolbox-header button:hover,
.secondary-toolbox-header button.expanded {
  background: inherit;
  background: white;
}

.secondary-toolbox-header .action-buttons button {
  color: var(--theme-text-color-inactive);
  cursor: auto;
}

/* It's important to set min-height: 0 here, otherwise the console output
overflows its container (https://drafts.csswg.org/css-flexbox-1/#min-size-auto) */
.secondary-toolbox .secondary-toolbox-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  height: 100%;
}

.secondary-toolbox .toolbox-bottom-panels {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.secondary-toolbox .toolbox-bottom-panels .toolbox-panel {
  flex: 1;
  min-height: 0;
  height: 100%;
}
