.LabelGroup,
.LabelGroupDisabled {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.25rem;
  background-color: var(--comment-card-source-preview-background-color);
  border-radius: 0.25rem;
  font-family: var(--font-family-monospace);
}
.LabelGroupDisabled {
  cursor: default;
}
.LabelGroup {
  cursor: pointer;
}
.LabelGroup:hover {
  background-color: var(--comment-card-source-preview-background-color-hover);
}
.LabelGroup:hover .Icon {
  visibility: visible;
}

.Labels {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  overflow: hidden;
  padding: 0.125rem 0.5rem;
  gap: 0.125rem;
}

.PrimaryLabel,
.SecondaryLabel {
  font-family: var(--font-family-monospace);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.PrimaryLabel {
  font-size: var(--font-size-tiny);
}
.SecondaryLabel {
  margin: 0;
  font-size: var(--font-size-small);
  color: var(--color-dim);
}

.NetworkRequestLabel {
  font-size: var(--font-size-small);
}

.Icon {
  flex: 0 0 1rem;
  width: 1rem;
  height: 1rem;
  visibility: hidden;
}

.NetworkRequestMethod {
  font-weight: bold;
  color: var(--color-dim);
}

.OuterImageContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.25rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: var(--comment-card-preview-background-color);
}
.OuterImageContainer:hover {
  background-color: var(--comment-card-preview-background-color-hover);
}

.InnerImageContainer {
  position: relative;
}

.Image {
  max-width: 100%;
  height: auto;
}

.MarkerWrapper {
  position: absolute;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  margin-left: -0.75rem;
  margin-top: -0.75rem;
  border-radius: 1.5rem;
  background-color: var(--secondary-accent);
}

.MarkerIcon {
  fill: var(--color-default);
  width: 1rem;
  height: 1rem;
}

.ShowPreviewPrompt {
  display: flex;
  gap: 1ch;
}

.PreviewIcon {
  width: 1rem;
  height: 1rem;
  color: var(--color-dim);
}
