.ContextMenu {
  position: absolute;
  flex-direction: column;
  display: flex;
  border-radius: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: var(--dropshadow-md);

  /* Ensure the context menu is always above console rows and the current time indicator */
  z-index: 11;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.ContextMenuItem {
  background-color: var(--context-menu-bgcolor);
  color: var(--color-default);
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 1ch;
}
.ContextMenuItem:hover {
  background-color: var(--context-menu-bgcolor-hover);
}

.ColorBadge,
.ColorBadgeClear,
.UnicornBadge {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
}
.ColorBadge {
  background-color: var(--badge-color);
}
.ColorBadgeClear {
  border: 0.25rem solid var(--background-color-contrast-5);
}

.disabled {
  color: var(--theme-text-color-inactive);
  pointer-events: none;
}
