.BorderPending {
  border-left: 2px solid transparent;
}

.BorderActive {
  border-left: 2px solid var(--primary-accent);
}

.TestsuitesErrorColor {
  border-left: 2px solid var(--testsuites-error-border-color);
}

.step {
  border-radius: 4px;
  margin-right: 5px;
}

.BorderError .assert,
.BorderPending .assert,
.BorderActive .assert {
  padding: 1px 3px;
}

.BorderActive .assert,
.BorderPending .assert {
  background-color: var(--testsuites-capsule-success-bgcolor);
  color: var(--testsuites-capsule-success-color);
}

.TestsuitesErrorColor .assert {
  background-color: var(--testsuites-capsule-error-bgcolor);
  color: var(--testsuites-capsule-error-color);
}

.TestsuitesErrorColor {
  color: var(--testsuites-error-color);
}

.Alias {
  padding: 0.25rem;
  color: #1f2937;
  font-size: 0.75rem;
  line-height: 1rem;
  flex-shrink: 1;
  border-radius: 0.25rem;
  background-color: var(--testsuites-capsule-alias-bgcolor);
  color: var(--testsuites-capsule-alias-color);
}

.AliasSelected,
.BadgeSelected {
  background-color: var(--testsuites-capsule-alias-selected-bgcolor);
  color: var(--testsuites-capsule-alias-selected-color);
}

.AliasHidden {
  display: none;
}

.Badge {
  padding: 0.25rem;
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
  background-color: var(--testsuites-capsule-alias-bgcolor);
  color: var(--testsuites-capsule-alias-color);
  font-size: 0.75rem;
  line-height: 1rem;
  flex-shrink: 1;
  border-radius: 0.25rem;
}
