.BorderPending {
  border-left: 2px solid transparent;
}

.BorderActive {
  border-left: 2px solid var(--primary-accent);
}

.TestsuitesErrorColor {
  border-left: 2px solid var(--testsuites-error-border-color);
}

.step {
  border-radius: 4px;
  margin-right: 5px;
}

.BorderError .assert,
.BorderPending .assert,
.BorderActive .assert {
  padding: 1px 3px;
}

.BorderActive .assert,
.BorderPending .assert {
  background-color: var(--testsuites-capsule-success-bgcolor);
  color: var(--testsuites-capsule-success-color);
}

.TestsuitesErrorColor .assert {
  background-color: var(--testsuites-capsule-error-bgcolor);
  color: var(--testsuites-capsule-error-color);
}

.TestsuitesErrorColor {
  color: var(--testsuites-error-color);
}

.aside
{
  padding: 0.75rem;
  margin: 0.25rem; 
  margin-top: 0.25rem; 
  border-radius: 0.5rem; 
  border-width: 1px;
  background-color: var(--testsuites-aside-background-color);
  border: 1px solid var(--testsuites-aside-border-color);
  color: var(--testsuites-aside-color);
}

.aside div
{
  margin-bottom: 5px;
}