.BorderPending {
  border-left: 2px solid transparent;
}

.BorderActive {
  border-left: 2px solid var(--primary-accent);
}

.TestsuitesErrorColor {
  border-left: 2px solid var(--testsuites-error-border-color);
}

.step {
  border-radius: 4px;
  margin-right: 5px;
}

.BorderError .assert,
.BorderPending .assert,
.BorderActive .assert {
  padding: 1px 3px;
}

.BorderActive .assert,
.BorderPending .assert {
  background-color: var(--testsuites-capsule-success-bgcolor);
  color: var(--testsuites-capsule-success-color);
}

.TestsuitesErrorColor .assert {
  background-color: var(--testsuites-capsule-error-bgcolor);
  color: var(--testsuites-capsule-error-color);
}

.TestsuitesErrorColor {
  color: var(--testsuites-error-color);
}

#TestSteps {
  display: flex;
  overflow: auto;
  position: relative;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.75rem;
  margin-top: 0.25rem;
  flex-direction: column;
  flex-grow: 1;
  border-top-width: 1px;
}
