html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-default);

  /* Root font size should match the legacy app so that ems are consistent */
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

:root {
  background-color: var(--background-color-default);
  color: var(--color-default);
}

button {
  font-size: inherit;
}

::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
  background: transparent;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  border-radius: 0.75rem;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.75rem;
  background: var(--scroll-thumb-color);
}
