html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

:root {
  --color-blue: #0a84ff;
  --color-gray-1: #e1e6ed;
  --color-gray-2: #d0d5dc;
  --color-gray-3: #9ca3af;
  --color-gray-4: #234;
  --color-red-dark: #ff0000;
  --color-red-light: #ffd3d3;
  --color-yellow-dark: #6c5914;
  --color-yellow-light: #fffac8;
  --color-white: #fff;

  --object-inspector-go-to-definition-icon-color: #567;
  --object-inspector-go-to-definition-icon-color-hover: #000;
  --object-inspector-nested-border-color: #0a84ff;
  --object-inspector-param-color: #dd00a8;
  --object-inspector-property-name-color: #0a84ff;
  --object-inspector-prototype-color: #9ca3af;
  --object-inspector-separator-color: #737373;
  --object-inspector-toggle-color: #737373;

  --value-type-boolean: #008b00;
  --value-type-nan: #737373;
  --value-type-null: #737373;
  --value-type-number: #008b00;
  --value-type-object: #0174e8;
  --value-type-string: #0c0c0d;
  --value-type-symbol: #dd00a8;
  --value-type-undefined: #737373;
}
