.VerticalContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.HorizontalContainer {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  gap: 0.5rem;
  overflow: auto;
}

.CommentsContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 20%;
  height: 100%;
  max-width: 20%;
  overflow: auto;
}

.SourcesContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  height: 100%;
  overflow: auto;
}

.ConsoleContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  height: 100%;
  overflow: auto;
}

.Row {
  flex: 0 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}
