.HorizontalContainer,
.VerticalContainer {
  font-size: var(--font-size-regular);
}

.VerticalContainer {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.5rem 0.5rem 0;
  gap: 0.5rem;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.HorizontalContainer {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
  gap: 0.5rem;
  overflow: auto;
}

.CommentsContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 20%;
  height: 100%;
  max-width: 20%;
  overflow: auto;
}

.SourcesContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  height: 100%;
  overflow: auto;
}

.ConsoleContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 40%;
  height: 100%;
  overflow: auto;
}

.Row {
  flex: 0 0 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ToolBar {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.Tab,
.TabSelected {
  outline: none;
  background: transparent;
  border: none;
  padding: 0;
  height: 2rem;
  width: 2rem;
  flex: 0 0 2rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.Tab {
  color: var(--color-default);
}
.TabSelected {
  color: var(--color-brand);
  position: relative;
}

.TabSelected::before {
  position: absolute;
  left: 0;
  content: " ";
  border-right: 0.25rem solid var(--color-brand);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  height: 2rem;
}

.TabIcon {
  height: 1.5rem;
  width: 1.5rem;
  display: inline-block;
}
