.Container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.CommentsContainer {
  display: flex;
  flex-direction: column;
  flex: 0 0 20%;
  height: 100%;
  max-width: 300px;
}

.ConsoleContainer {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  height: 100%;
}

.ContentArea {
  flex: 1 1 auto;
  overflow: auto;
}

.Row {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--color-gray-1);
}

.FilterToggles {
  padding: 0.25rem 1ch;
  flex: 0 0 auto;
  display: flex;
  gap: 1ch;
  border-right: 1px solid var(--color-gray-2);
  border-bottom: 1px solid var(--color-gray-2);
}

.FilterInput {
  flex: 1;
  height: 100%;
  background-color: var(--color-white);
  padding: 0 1ch;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--color-gray-2);
}

.FilterLabel {
  display: flex;
  align-items: center;
}

.FocusRegionRowOff,
.FocusRegionRowOn {
  padding: 1ch;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1ch;
  align-items: center;
}
.FocusRegionRowOn {
  background-color: var(--color-blue);
}

.FocusToggleButton {
  width: 10ch;
  cursor: pointer;
  border-radius: 0.25rem;
  border: none;
  padding: 0.25rem;
}

.RangeSlider {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.RangeTrackFocused {
  background-color: rgba(0, 0, 0, 0.25);
  height: 4px;
}
.RangeTrackUnfocused {
  height: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

.FocusedRange {
  background-color: red;
}

.RangeStartThumb,
.RangeEndThumb {
  position: absolute;
  cursor: grab;
  width: 1px;
  height: 20px;
  width: 6px;
}
.RangeStartThumb {
  background-color: var(--color-gray-3);
  border-radius: 4px 0px 0px 4px;
}
.RangeEndThumb {
  background-color: var(--color-gray-3);
  border-radius: 0px 4px 4px 0px;
}

.FocusTimeStamps {
  white-space: nowrap;
  font-size: 12px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  padding: 2px 4px;
}
