:root {
  --font-family-default: Inter, sans-serif;
  --font-family-monospace: Menlo, ui-monospace, SFMono-Regular, Monaco, Consolas, Liberation Mono,
    Courier New, monospace;
}

:root,
:root.prefers-default-font-size {
  --font-size-large: 16px;
  --font-size-regular: 12px;
  --font-size-small: 10px;
  --font-size-tiny: 8px;
}

:root.prefers-large-font-size {
  --font-size-large: 20px;
  --font-size-regular: 14px;
  --font-size-small: 12px;
  --font-size-tiny: 10px;
}

:root,
:root.theme-dark {
  --color-transparent: rgba(0, 0, 0, 0);

  --scroll-thumb-color: #454950;

  --nag-background-color: #ff005b;
  --nag-gradient-color-begin: #ff2f86;
  --nag-gradient-color-end: #eb265e;
  --nag-color: #ffffff;

  --background-color-contrast-1: #0e1119;
  --background-color-contrast-2: #192230;
  --background-color-contrast-3: #2a3343;
  --background-color-contrast-4: #454950;
  --background-color-contrast-5: #e1e6ed;
  --background-color-default: #081120;
  --background-color-error: #473036;
  --background-color-light: #18181a;
  --background-color-primary-button: #02acfd;
  --background-color-primary-button-disabled: #17527b;
  --background-color-secondary-button: #f02d5e;
  --background-color-tertiary-button: #929292;
  --background-color-disabled-button: #454950;
  --background-color-high-contrast-button: #081120;
  --background-color-current-execution-point: #25364e;
  --background-color-current-search-result: #42381f;
  --background-color-warning: #42381f;
  --background-color-inputs: #0e1119;
  --background-color-source-search: #25364e;

  --border-color: #e1e6ed;
  --border-color-current-execution-point: #2563be;
  --border-color-source-search: #2563be;
  --border-color-light: #18181a;
  --border-color-error: #724543;
  --border-color-warning: #6f5920;

  --color-brand: #02acfd;
  --color-contrast: #081121;
  --color-current: #f02d5e;
  --color-default: #ffffff;
  --color-dim: #aaaaaa;
  --color-dimmer: #666666;
  --color-error: #ffb3d2;
  --color-link: var(--color-brand);
  --color-toggle-active: #6ba6ff;
  --color-primary-button: #ffffff;
  --color-secondary-button: #ffffff;
  --color-tertiary-button: #000000;
  --color-disabled-button: #ffffff;
  --color-high-contrast-button: #ffffff;
  --color-warning: #fce2a1;
  --color-search-results: #d7d7db;

  --color-hit-counts-bar-0: #465062;
  --color-hit-counts-bar-1: #0284c3;
  --color-hit-counts-bar-2: #0284c3;
  --color-hit-counts-bar-3: #03a3f0;
  --color-hit-counts-border-color: transparent;
  --color-hit-counts-label-background-0: #1f2b43;
  --color-hit-counts-label-background-1: #003e5b;
  --color-hit-counts-label-background-2: #006290;
  --color-hit-counts-label-background-3: #006290;
  --color-hit-counts-label-color: #d7d7db;
  --color-line-number-with-hits: #d7d7db;
  --color-line-number-without-hits: var(--color-dimmer);

  --color-primary-background: var(--background-color-contrast-1);
  --color-secondary-background: var(--background-color-contrast-3);
  --color-control-background: var(--background-color-contrast-4);
  --color-control-background-active: var(--background-color-primary-button);

  --collapsible-toggle-color: #9ba0a5;

  --context-menu-background-color: var(--background-color-contrast-3);
  --context-menu-background-color-hover: var(--background-color-default);

  --object-inspector-go-to-definition-icon-color: #dddddd;
  --object-inspector-go-to-definition-icon-color-hover: #ffffff;
  --object-inspector-invoke-getter-icon-color: #dddddd;
  --object-inspector-invoke-getter-icon-color-hover: #ffffff;
  --object-inspector-prototype-color: #939395;
  --object-inspector-separator-color: #939395;
  --object-inspector-function-keyword: #ff7de9;
  --object-inspector-function-name: #bcc5ce;
  --object-inspector-expanded-key: #81d5ff;
  --object-inspector-expanded-key-with-flag: #5ca9cf;
  --object-inspector-inline-key: #36d1c4;
  --object-inspector-bucket-color: #939395;

  --value-type-bigint: #86de74;
  --value-type-boolean: #86de74;
  --value-type-date: #34d3c6;
  --value-type-error: #ffb3d2;
  --value-type-nan: #86de74;
  --value-type-null: #939395;
  --value-type-number: #86de74;
  --value-type-object: #e6e9ec;
  --value-type-regexp: #34d3c6;
  --value-type-string: #e7eaed;
  --value-type-symbol: #34d3c6;
  --value-type-undefined: #939395;
  --value-type-html-attribute-name: #ff7de9;
  --value-type-html-attribute-separator: #9ba0a5;
  --value-type-html-attribute-value: #ae87f2;
  --value-type-html-tag: #75bffe;
  --value-type-html-tag-bracket: #e6e9ec;
  --value-type-html-text: #d7d7db;

  --point-panel-background-color: #1f2b43;
  --point-panel-button-background-color: #8a8f95;
  --point-panel-input-background-color: #000000;
  --point-panel-input-border-color: transparent;
  --point-panel-input-edit-button-color: #747476;
  --point-panel-button-background-color-disabled: #464648;
  --point-panel-button-color: #0f1119;
  --point-panel-button-color-disabled: #9eb6d0;
  --point-panel-timeline-background-color: #000000;
  --point-panel-timeline-button-background-color: #000000;
  --point-panel-timeline-button-color: var(--color-brand);
  --point-panel-timeline-button-color-disabled: #2c4450;
  --point-panel-timeline-button-shadow: 0px 0px 2px 0px hsla(0, 0%, 0%, 0.12);
  --point-panel-timeline-label-background-color: #000000;
  --point-panel-timeline-label-color: var(--color-brand);

  --badge-picker-background-color: #28282a;
  --badge-default-color: #747476;
  --badge-default-contrast-color: #000;
  --badge-green-color: #69e261;
  --badge-green-contrast-color: #050;
  --badge-orange-color: #ff9a19;
  --badge-orange-contrast-color: #fff;
  --badge-purple-color: #cc81ff;
  --badge-purple-contrast-color: #fff;
  --badge-unicorn-color: #e110b3;
  --badge-unicorn-contrast-color: #fff;
  --badge-yellow-color: #fee608;
  --badge-yellow-contrast-color: rgb(99, 79, 5);

  --pulse-color-off: var(--color-transparent);
  --pulse-color-on: var(--background-color-contrast-3);

  --focus-mode-active-background-color: var(--background-color-contrast-4);
  --focus-mode-thumb-color: var(--background-color-contrast-3);
  --region-focused-color: var(--background-color-contrast-5);
  --region-unfocused-color: var(--background-color-contrast-3);
  --region-loaded-color: #939395;
  --region-loading-color: #69e261;
}

:root.theme-light {
  --color-transparent: rgba(255, 255, 255, 0);

  --scroll-thumb-color: #aaaaaa;

  --nag-background-color: #f02d5e;
  --nag-gradient-color-begin: #ff3087;
  --nag-gradient-color-end: #ed265c;
  --nag-color: #ffffff;

  --background-color-contrast-1: #e6e6e6;
  --background-color-contrast-2: #ffffff;
  --background-color-contrast-3: #82888c;
  --background-color-contrast-4: #223344;
  --background-color-contrast-5: #081121;
  --background-color-default: #e9e9e9;
  --background-color-error: #fcefee;
  --background-color-light: #f9f9fa;
  --background-color-primary-button: #05acfd;
  --background-color-primary-button-disabled: #7acff9;
  --background-color-secondary-button: #f02d5e;
  --background-color-tertiary-button: #929292;
  --background-color-disabled-button: #666666;
  --background-color-high-contrast-button: #f2f2f2;
  --background-color-current-execution-point: #eaf3ff;
  --background-color-current-search-result: #fffac8;
  --background-color-warning: #fffac8;
  --background-color-inputs: #e6e6e6;
  --background-color-source-search: #eaf3ff;

  --border-color: #081121;
  --border-color-current-execution-point: #69a6ff;
  --border-color-source-search: #69a6ff;
  --border-color-light: #f9f9fa;
  --border-color-error: #f4d8d8;
  --border-color-warning: #fce2a1;

  --color-brand: #05acfd;
  --color-contrast: #ffffff;
  --color-current: #f02d5e;
  --color-default: #223344;
  --color-dim: #666666;
  --color-dimmer: #aaaaaa;
  --color-error: #ff0000;
  --color-link: var(--color-brand);
  --color-toggle-active: #2979ef;
  --color-primary-button: #ffffff;
  --color-secondary-button: #ffffff;
  --color-tertiary-button: #ffffff;
  --color-disabled-button: #ffffff;
  --color-high-contrast-button: #000000;
  --color-warning: #6c5914;
  --color-search-results: #47628b;

  --color-hit-counts-bar-0: #f3f4f6;
  --color-hit-counts-bar-1: #c4e6f7;
  --color-hit-counts-bar-2: #80d5fe;
  --color-hit-counts-bar-3: #02acfd;
  --color-hit-counts-border-color: #f3f4f6;
  --color-hit-counts-label-background-0: #fbfbfb;
  --color-hit-counts-label-background-1: #ebf7fc;
  --color-hit-counts-label-background-2: #d5f1ff;
  --color-hit-counts-label-background-3: #aae4fe;
  --color-hit-counts-label-color: #47628b;
  --color-line-number-with-hits: var(--color-default);
  --color-line-number-without-hits: var(--color-dimmer);

  --color-primary-background: #ffffff;
  --color-secondary-background: #eeeeee;
  --color-control-background: var(--background-color-contrast-1);
  --color-control-background-active: var(--background-color-primary-button);

  --collapsible-toggle-color: #868688;

  --context-menu-background-color: var(--background-color-default);
  --context-menu-background-color-hover: var(--background-color-contrast-1);

  --object-inspector-go-to-definition-icon-color: #222222;
  --object-inspector-go-to-definition-icon-color-hover: #000000;
  --object-inspector-invoke-getter-icon-color: #222222;
  --object-inspector-invoke-getter-icon-color-hover: #000000;
  --object-inspector-prototype-color: #737373;
  --object-inspector-separator-color: #737373;
  --object-inspector-function-keyword: #dd00a8;
  --object-inspector-function-name: #0074e8;
  --object-inspector-expanded-key: #0074e8;
  --object-inspector-expanded-key-with-flag: #0074e8;
  --object-inspector-inline-key: #0074e8;
  --object-inspector-bucket-color: #737373;

  --value-type-bigint: #058b00;
  --value-type-boolean: #058b00;
  --value-type-date: #34d3c6;
  --value-type-error: #ff0000;
  --value-type-nan: #86de74;
  --value-type-null: #737373;
  --value-type-number: #058b00;
  --value-type-object: #0c0c0d;
  --value-type-regexp: #0074e8;
  --value-type-string: #0c0c0d;
  --value-type-symbol: #dd00a9;
  --value-type-undefined: #737373;
  --value-type-html-attribute-name: #dd00a9;
  --value-type-html-attribute-separator: #737373;
  --value-type-html-attribute-value: #003eaa;
  --value-type-html-tag: #0074e8;
  --value-type-html-tag-bracket: #0c0c0d;
  --value-type-html-text: #0c0c0d;

  --point-panel-background-color: #f0f1f4;
  --point-panel-button-background-color: #e6e6e6;
  --point-panel-input-background-color: #ffffff;
  --point-panel-input-border-color: transparent;
  --point-panel-input-edit-button-color: var(--color-brand);
  --point-panel-button-background-color-disabled: #f0f0f0;
  --point-panel-button-color: #747476;
  --point-panel-button-color-disabled: #c5dff9;
  --point-panel-timeline-background-color: #ffffff;
  --point-panel-timeline-button-background-color: #ffffff;
  --point-panel-timeline-button-color: var(--color-brand);
  --point-panel-timeline-button-color-disabled: #e7f7ff;
  --point-panel-timeline-button-shadow: 0px 0px 2px 0px hsla(0, 0%, 0%, 0.12);
  --point-panel-timeline-label-background-color: #ffffff;
  --point-panel-timeline-label-color: var(--color-brand);

  --badge-picker-background-color: #f9f9fa;
  --badge-default-color: #e6e6e6;
  --badge-default-contrast-color: #000;
  --badge-green-color: #73cc6d;
  --badge-green-contrast-color: #fff;
  --badge-orange-color: #da7c04;
  --badge-orange-contrast-color: #fff;
  --badge-purple-color: #a973cd;
  --badge-purple-contrast-color: #fff;
  --badge-unicorn-color: #ff6ddf;
  --badge-unicorn-contrast-color: #fff;
  --badge-yellow-color: #e4cd00;
  --badge-yellow-contrast-color: rgb(99, 79, 5);

  --pulse-color-off: var(--color-transparent);
  --pulse-color-on: #f2f2f2;

  --focus-mode-active-background-color: var(--background-color-contrast-2);
  --focus-mode-thumb-color: var(--background-color-contrast-5);
  --region-focused-color: var(--background-color-contrast-5);
  --region-unfocused-color: var(--background-color-contrast-1);
  --region-loaded-color: #ff0000;
  --region-loading-color: #73cc6d;
}
