.dropdownTrigger {
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid var(--input-border);
  background-color: var(--theme-text-field-bgcolor);
  padding: 0.375rem 0.625rem;
  font-size: 0.875rem;
  color: var(--theme-text-field-color);
  outline: none;
  --ring-width: 3px;
  --ring-color: var(--primary-accent);
  white-space: nowrap;
}

.dropdownTrigger:focus {
  box-shadow: 0 0 0 var(--ring-width) var(--ring-color);
}

.filterContainer {
  position: relative;
  flex-grow: 1;
}

.filterInput {
  width: 100%;
  padding: 0.3rem 0.625rem;
  appearance: none;
  border-radius: 0.25rem;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 0.75rem; /* Equivalent to text-xs */
  outline: none;
  padding-right: 1.55rem;
}

.filterInput:focus {
  box-shadow: 0 0 0 2px var(--primary-accent); /* Equivalent to focus:ring-primaryAccent */
}

.searchIcon {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  height: 1rem;
  width: 1rem;
  transform: translateY(-50%);
  opacity: 0.5;
}
