.Breakpoints {
  color: var(--body-color);
  padding: 8px 0px;
  user-select: none;
}

.List {
  margin: 0 0.5rem;
  border-radius: 0.125rem;
}
.List:not(:last-child) {
  margin-bottom: 0.25rem;
}

.Empty {
  white-space: normal;
  border-radius: 0.5rem;
  background-color: var(--chrome);
  font-size: var(--font-size-small);
  padding: 0.25rem 0.5rem;
  margin: 0 0.25rem;
}
