.breakpoint-navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 8px 0px 0px;
  background-color: var(--theme-toolbar-background);
  align-items: center;
}

.breakpoint-navigation.empty .breakpoint-navigation-status-container,
.breakpoint-navigation.empty .breakpoint-navigation-status {
  width: 100%;
  text-align: center;
}

.breakpoint-navigation-commands {
  display: flex;
  flex-direction: row;
}

.breakpoint-navigation-commands > * {
  padding: 4px;
}

.breakpoint-navigation-commands > *:hover:not(.disabled) {
  cursor: pointer;
}

.breakpoint-navigation-commands .img {
  width: 14px;
}

.breakpoint-navigation-commands .disabled .img {
  background: var(--theme-splitter-color);
}

.breakpoint-navigation-commands .disabled:hover {
  background: inherit;
}

.breakpoint-navigation-status-container {
  min-width: 50px;
  display: flex;
  justify-content: flex-end;
}

.breakpoint-navigation-status {
  border-radius: 4px;
  padding: 2px 6px;
  background-color: Orange;
}

.breakpoint-navigation-timeline-container {
  overflow-x: hidden;
  padding: 0px 4px;
  margin: 0px 4px;
  flex-grow: 1;
  display: flex;
}

.breakpoint-navigation-timeline {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: var(--theme-toolbar-background);
  width: 100%;
  align-items: center;
}

.breakpoint-navigation-timeline-point {
  cursor: pointer;
  position: absolute;
}

.breakpoint-navigation-timeline-point .fill {
  fill: var(--replaying-marker-fill);
}

.breakpoint-navigation-timeline-point.future .fill {
  fill: var(--replaying-marker-future-fill);
}

.breakpoint-navigation-timeline-point.pause {
  z-index: var(--z-index-1--paused-message);
}

.breakpoint-navigation-timeline-point.pause .fill {
  fill: var(--replaying-paused-marker-fill);
}

.breakpoint-navigation-timeline-pause-marker {
  position: absolute;
  height: 100%;
  background: var(--secondary-accent);
  width: 1px;
  z-index: var(--z-index-1--paused-message);
}

.breakpoint-navigation-timeline .progress-line {
  width: 0%;
  height: 3px;
  background: var(--primary-accent);
  position: absolute;
  pointer-events: none;
  margin-top: auto;
  margin-bottom: auto;
  top: 0;
  bottom: 0;
}

.breakpoint-navigation-timeline .progress-line.full {
  width: 100%;
  background: var(--grey-30);
}

.breakpoint-navigation-timeline
  .breakpoint-navigation-timeline-point.primary-highlight:not(.pause)
  .fill {
  fill: var(--new-blue-900);
}

.time-tooltip {
  background-color: var(--tab-selected-bgcolor);
  color: var(--tab-selected-color);
}
