.Container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.Header {
  font-size: 1rem;
  line-height: 1rem;
  flex: 0 0 auto;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.AccordionHeader {
  font-size: 1rem;
  line-height: 1rem;
  flex: 0 0 auto;
  padding: 0.5rem 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid var(--theme-border);
  gap: 0.25rem;
  user-select: none;
}

.HeaderControls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0 0.5rem 0.5rem;
  margin: 0 0 0.5rem;
  border-bottom: 1px solid var(--theme-border);
}

.FilterInput {
  padding: 0.25rem 0.5rem;
  flex: 1 0 auto;
}
:root:global(.theme-dark) .FilterInput {
  background: var(--console-input-background);
}
:root:global(.theme-light) .FilterInput {
  background: var(--theme-base-85);
}

.ClearButton {
  border-radius: 4px;
}
.ClearButton:not(.ClearButton:disabled):hover {
  background-color: var(--toolbarbutton-focus-bgcolor);
}

.ClearIcon {
  background-color: var(--icon-color);
}

.ClearIconDisabled {
  background-color: var(--theme-text-field-bgcolor);
}

.Panel,
.SubPanel {
  flex: 1 1 auto;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: auto;
}
.Panel {
  user-select: none;
}
.SubPanel {
  padding: 0 0.5rem;
}

.ColorErrored {
  color: var(--console-error-color);
}
.ColorPending {
  color: var(--light-grey);
}

.Chunk,
.ChunkSelected,
.ChunkErrored,
.ChunkPending {
  display: flex;
  align-items: center;
  gap: 1ch;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}
.ChunkSelected {
  background-color: var(--theme-selection-background);
  color: var(--theme-selection-color);
}
.ChunkPending {
  color: var(--light-grey);
}
.ChunkErrored {
  color: var(--console-error-color);
}

.Chunk:not(.ChunkSelected):hover {
  background-color: var(--badge-hover-background-color);
}

.ChunkCount {
  flex: 0 0 1.25rem;
  display: flex;
  align-items: center;
}
.ChunkCountBadge {
  background: var(--badge-active-background-color);
  color: var(--badge-active-border-color);
  display: block;
  border-radius: 0.25rem;
  height: 1rem;
  width: 1.25rem;
  line-height: 1rem;
  text-align: center;
  font-size: 9px;
}
.ChunkMethod {
  flex: 1 1 auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: pre;
}
.ChunkStartTime {
  flex: 0 0 4ch;
}
.ChunkDuration {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
}
.ChunkDurationFast,
.ChunkDurationMedium,
.ChunkDurationSlow {
  border-radius: 0.25rem;
  font-size: 9px;
  padding: 0 0.25rem;
  color: var(--theme-selection-color);
}
.ChunkDurationFast {
  background-color: var(--green-60);
}
.ChunkDurationMedium {
  background-color: var(--yellow-65);
}
.ChunkDurationSlow {
  background-color: var(--red-50);
}

.Details {
  height: 65%;
  min-height: 65%;
  max-height: 65%;
  overflow: auto;
  border-top: 1px solid var(--theme-border);
}

.LoadRemainingDetails {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.AccordionArrowCollapsed,
.AccordionArrowExpanded {
  mask-size: 10px;
  vertical-align: -1px;
  width: 10px;
  height: 10px;
  border: 0;
  padding: 0;
  margin-inline-end: 4px;
  transform-origin: center center;
  transition: transform 125ms var(--animation-curve);
  background-color: var(--theme-icon-dimmed-color);
}
.AccordionArrowCollapsed {
  transform: rotate(-90deg);
}
.AccordionArrowExpanded {
}

.DetailPanel {
  padding: 0 0.5rem;
  border-bottom: 1px solid var(--theme-border);
}
:root:global(.theme-dark) .DetailPanel {
  background-color: #232938;
}
:root:global(.theme-light) .DetailPanel {
  background-color: var(--grey-20);
}
.DetailPanelHeaderPrimary {
  flex: 1 1 auto;
  text-overflow: ellipsis;
  white-space: pre;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
}
.DetailPanelHeaderSecondary {
  flex: 0 0 auto;
  padding-right: 0.5rem;
}
.DetailPanelHeader {
  font-size: 0.9rem;
  line-height: 0.9rem;
  padding: 0.5rem 0;
}

.JSONViewerContainer {
  margin: 0.5rem 0;
}

.RowButton {
  color: white;
  border-radius: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BugReportLink,
.HoneycombLink {
  color: white;
  border-radius: 0.25rem;
  width: 1.25rem;
  height: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BugReportLink {
  background-color: var(--red-50);
}

.HoneycombLink {
  background-color: var(--blue-50);
}
