name: Lint

on: [pull_request, workflow_dispatch]

jobs:
  trunk_check_runner:
    name: Trunk Check runner
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      # - uses: bahmutov/npm-install@v1
      #   with:
      #     install-command: npm ci --legacy-peer-deps
      # Get the yarn cache path.
      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "::set-output name=dir::$(yarn config get cacheFolder)"
      - name: Restore yarn cache
        uses: actions/cache@v3
        id: yarn-cache # use this to check for `cache-hit` (`steps.yarn-cache.outputs.cache-hit != 'true'`)
        with:
          #path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
          path: |
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            **/node_modules
          key: yarn-cache-folder-${{ hashFiles('**/yarn.lock', '.yarnrc.yml') }}
          restore-keys: "yarn-cache-folder-"
      # Actually install packages with Yarn
      - name: Install packages
        if: steps.yarn-cache.outputs.cache-hit != 'true'
        run: yarn install
      env:
        YARN_CHECKSUM_BEHAVIOR: "update"
      - name: Trunk Check
        uses: trunk-io/trunk-action@v1.0.1
