name: Lint

on: pull_request

jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
#       - uses: actions/checkout@v2
      - name: Install Deps
        run: npm install
      - name: eslint + fix
        uses: getsentry/action-eslint-fix@v1
