name: Storybook

on: [pull_request, workflow_dispatch]

jobs:
  build-storybook:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install Deps
        run: npm ci
      - name: Build Storybook
        run: npm run build-storybook