# It would be nice if this could be commoned up with deploy.yml
name: Run tests
on: [pull_request, workflow_dispatch]

jobs:
  build:
    name: Build macOS webpack
    runs-on: macos-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install dependencies
        run: npm install
      - name: Build webpack
        run: ./node_modules/.bin/webpack --mode=development --env REPLAY_RELEASE=$GIT_SHA
      - name: Install playrwright
        run: npm install @recordreplay/playwright
        env:
          GIT_SHA: ${{ github.sha }}
      - name: Tar up output files
        run: tar -czf dist.tgz index.html dist node_modules

      - name: Create artifact
        uses: actions/upload-artifact@v2
        with:
          name: dist
          path: dist.tgz
  download-browser:
    name: Download replay browser
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Download
        run: wget https://static.replay.io/downloads/replay.dmg
      - name: Create artifact
        uses: actions/upload-artifact@v2
        with:
          name: replay
          path: replay.dmg
  download-node:
    name: Download node
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Download
        run: wget https://static.replay.io/downloads/macOS-replay-node
      - name: Create artifact
        uses: actions/upload-artifact@v2
        with:
          name: replay-node
          path: macOS-replay-node
  download-driver:
    name: Download recording driver
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Download
        run: wget https://static.replay.io/downloads/macOS-recordreplay.so
      - name: Create artifact
        uses: actions/upload-artifact@v2
        with:
          name: replay-driver
          path: macOS-recordreplay.so
  test0:
    name: Test stripe 0
    runs-on: macos-latest
    needs: [build, download-browser, download-node, download-driver]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
      - uses: ./.github/actions/test
        with:
          github_ci: true
          stripe: 0/8
  test1:
    name: Test stripe 1
    runs-on: macos-latest
    needs: [build, download-browser, download-node, download-driver]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
      - uses: ./.github/actions/test
        with:
          github_ci: true
          stripe: 1/8
  test2:
    name: Test stripe 2
    runs-on: macos-latest
    needs: [build, download-browser, download-node, download-driver]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
      - uses: ./.github/actions/test
        with:
          github_ci: true
          stripe: 2/8
  test3:
    name: Test stripe 3
    runs-on: macos-latest
    needs: [build, download-browser, download-node, download-driver]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
      - uses: ./.github/actions/test
        with:
          github_ci: true
          stripe: 3/8
  test4:
    name: Test stripe 4
    runs-on: macos-latest
    needs: [build, download-browser, download-node, download-driver]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
      - uses: ./.github/actions/test
        with:
          github_ci: true
          stripe: 4/8
  test5:
    name: Test stripe 5
    runs-on: macos-latest
    needs: [build, download-browser, download-node, download-driver]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
      - uses: ./.github/actions/test
        with:
          github_ci: true
          stripe: 5/8
  test6:
    name: Test stripe 6
    runs-on: macos-latest
    needs: [build, download-browser, download-node, download-driver]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
      - uses: ./.github/actions/test
        with:
          github_ci: true
          stripe: 6/8
  test7:
    name: Test stripe 7
    runs-on: macos-latest
    needs: [build, download-browser, download-node, download-driver]
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - uses: actions/download-artifact@v2
      - uses: ./.github/actions/test
        with:
          github_ci: true
          stripe: 7/8
  mock-test:
    name: Mock Tests
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v2
      - uses: ./.github/actions/mockTest
  unit-test:
    name: Unit Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        run: npm install --force
      - name: Run tests
        run: npm test
